[2015-03-10 10:24] kevas opened #3 "Windows wamp server problem"
Hi,

on windows wamp server it throws this error:

XMLReader::open(zip://D:/wamp/www/lumidee/user_uploads/xls_import/create/katalog-lucis.xlsx#/xl/worksheets/sheet1.xml): failed to open stream: operation failed

Can you help me with this error?

[2015-03-12 16:27] adrilo commented on #3
Thanks for filing this issue!
The library was meant to be used on Unix-based systems and has not been tested on Windows environment. I'm going to look into it

[2015-03-22 19:09] chrisgraham opened #4 "Document character set assumption"
The library implicitly assumes the PHP 'default_charset' option is correctly set for the data passed, as it is calling htmlspecialchars with a charset option, which will prompt conversions.
That's perfectly reasonably, but I think you should document this.

[2015-03-25 07:08] ankitpokhrel opened #6 "Error: Shared string not found for index"
While reading excel sheet we are having a weird issue. We get the excel file from the external system. It runs fine if run unedited but throws following exception when we edit and save the same file. Even if we just add extra space or delete a sheet, the file throws the same exception.

#0 /opt/lampp/htdocs/mr/app/Vendor/Box/Spout/Reader/XLSX.php(247): Box\Spout\Reader\Helper\XLSX\SharedStringsHel

[2015-03-25 13:02] ankitpokhrel commented on #6
The problem is when there is multiline text in a cell. As you are exploding shared string file with `PHP_EOL` in [SharedStringHelper.php#243](https://github.com/box/spout/blob/master/src/Spout/Reader/Helper/XLSX/SharedStringsHelper.php#L243) it messes up the indexing when there is new line in the cell text itself.

We solved it temporarily by replacing `PHP_EOL` in text with unique character and t

[2015-03-26 22:36] #4 closed

[2015-03-27 22:08] adrilo commented on #6
Thanks for reporting this issue @ankitpokhrel. And thanks for investigating!

Reading the temporary file containing the shared strings should remain a pretty fast task. Currently, as you pointed it out, it is assumed that the data is on one line. This makes the data retrieval really efficient because you know that the shared string with ID 85 will be on the 85th line.
Allowing strings to be on mul

[2015-03-30 16:35] ankitpokhrel commented on #6
Glad to know that you find the solution useful @adrilo . Another solution that I can think of is to use `special character + '\n' ` as the line separator for the plugin and explode file content based on this. Not sure how feasible it will be but that should work too.

[2015-03-30 17:40] chrisgraham opened #9 "Recommend to use shared-strings when writing"
At least some versions of Excel (testing on Excel Mac 2011) have a bug with inline-strings. If an inline-string has a line break in it, it won't render. I have tried playing with line-ending formats, and it's not related to that. I have checked in a hex editor to confirm the output. If you then subsequently edit the sheet in Excel, Excel shifts things into its shared-string preference, and suddenl

[2015-03-30 21:19] adrilo commented on #9
Thanks @chrisgraham!

I think the problem here is different. It's more a styling issue than a string issue. If you have a line break in a string (for instance "the\nstring", it will be displayed as "the string" in Mac Excel 2011. Windows version (at least 2010) will display it "thestring" (no space).
However, if you look at what's actually in the cell, you can see that the string is on 2 lines. Wh

[2015-03-30 21:22] chrisgraham commented on #9
Hi,

Well, when you double click to try and alter it, the actual input string is running on as if they were spaces.

I am going a bit loco with my fork. You can merge whatever you want from it, but I'm making opinionated decisions you may or may not agree with. For example, hard-coding the first row as bold, with whatever the format can do for that. I think that's good, as we're outputting basical

[2015-03-30 21:22] adrilo opened #10 "Set cell style to "wrap text" when contains multi-line string"
Currently Excel does not display multi-line strings correctly. On Mac, new line characters are replaced with a space while on Windows, it is ignored. Internally though, Excel has the right data (the new line can be seen in the formula bar).

In order to fix the display, the "wrap text" attribute needs to be turned on for these cells. Spout should autodetect new lines and set this attribute automat

[2015-03-30 21:23] adrilo commented on #9
Closing this issue in favor of #10

[2015-03-30 21:23] #9 closed

[2015-03-31 05:21] adrilo commented on #6
That would work but I like it less that the first solution you suggested. What I did is encode the \n character the way Excel does it. So the data remains valid and unchanged at any step (which is not true if an index or any extra character gets added).

I'll go ahead and merge my pull request.

[2015-03-31 05:21] #6 closed

[2015-04-04 04:17] #3 closed

[2015-04-04 11:34] chrisgraham opened #16 "Zero-cell rows fail in XLSX"
A row must have at least one cell, to avoid a repair error in Excel.

API users may add empty rows as spacers.

See my simple change here:
https://github.com/ocproducts/spout/commit/d2029a084fe45e9902e948fe5f1b6ef0cceec6a8

[2015-04-04 21:22] adrilo commented on #16
@chrisgraham, I pushed a fix for that in #13 : https://github.com/box/spout/commit/aebdd1acd7816cc7eea01ef18fd606928111384e

I took a slightly different approach though: I moved the logic to the parent class so that it is applied to all file types. And I figured that passing an empty row ([] not ['']) is not valid and should not result in a blank row being added. Instead, if you do `$writer->addRo

[2015-04-05 22:12] chrisgraham commented on #16
I think that's reasonable. Either way the user has choice and no corrupt output.

[2015-04-05 22:48] adrilo commented on #16
Cool! Closing this issue then.

[2015-04-05 22:48] #16 closed

[2015-04-07 14:39] chrisgraham opened #17 ""0" values are displayed as blank"
Due to use of PHP 'empty'.

Sample fix:
https://github.com/ocproducts/spout/commit/fc85be64a796226aa03ee6aa4ed8b8902d73fe93

[2015-04-07 16:34] adrilo commented on #17
Being fixed (with other improvements) here: #11

[2015-04-07 16:34] #17 closed

[2015-04-08 10:22] Alt0car commented on #6
The problem is always here ;
I'm trying toi parse an xlsx and i have this error :  Uncaught exception 'Box\Spout\Reader\Exception\SharedStringNotFoundException' with message 'Shared string not found for index: 2' ;

[2015-04-08 17:09] adrilo commented on #6
@Alt0car which version of Spout are you using? The bug was fixed in 1.0.2.

[2015-04-09 07:22] Alt0car commented on #6
I'm using the 1.0.2 bro ^^. So i think the bug are not really fixed...

[2015-04-09 17:33] adrilo commented on #6
Interesting... @Alt0car If your XLSX file does not contain any sensitive data, would you mind sending it to me to help me debugging this issue? You can send it at adrien_at_box.com

[2015-04-15 10:24] HKretschmer commented on #6
Same Problem here...fixing this would bring a huge advantage

[2015-04-15 10:30] ankitpokhrel commented on #6
@Alt0car  and @HKretschmer  Are you guys working with multiple sheet or single sheet?

[2015-04-15 11:15] HKretschmer commented on #6
@ankitpokhrel I'm using single sheet files

[2015-04-15 12:12] ankitpokhrel commented on #6
@HKretschmer Strange...v1.0.3 is working fine for all of my sheets. Is it possible to send your excel file at info [at] ankitpokhrel [dot] com [dot] np ?

[2015-04-15 13:03] HKretschmer commented on #6
@ankitpokhrel Sorry but those files contain sensible data...but I've found out, that there must be a context with empty cells...very strange. If I manually put some dummy data in those empty cells, save the sheet, delete the dummies and save the sheet again, it's working...has anybody an idea?

[2015-04-15 17:34] adrilo commented on #6
@HKretschmer how did you create your XLSX? Through Excel or programmatically?
Also, can you confirm that I understand the problem correctly?

This does not work:

A | B | C
----- | ------ | ------
value A1 |  | value C1
value A2 | value B2 | value C2

But this does:

A | B | C
----- | ------ | ------
value A1 | _dummy value_ | value C1
value A2 | value B2 | value C2

Is that correct? Can you repro

[2015-04-16 07:09] HKretschmer commented on #6
@adrilo The XLSX is exportet from another program (not manually created). The setup, that you have shown above describes the problem correctly. But usually I have no problems with empty cells.

[2015-04-16 17:33] adrilo commented on #6
@HKretschmer so this error with empty cells only happens _sometimes_? Will there be a way for you to create a XLSX file without sensitive data where the issue occurs? I guess the XLSX file generated by your program slightly differs from what Spout expects, hence the error. Being able to reproduce the issue would be super useful!

[2015-04-16 17:56] ankitpokhrel commented on #6
@adrilo I think the problem might be because of self closing tags which represent NO data instead of EMPTY data but I am not quite sure.
[code]

I received a sample file with issue from @HKretschmer sometime ago which I will forward you shortly.

[2015-04-16 18:04] adrilo commented on #6
Thanks!

[2015-04-16 20:08] adrilo commented on #6
@ankitpokhrel @HKretschmer Thank you for taking the time to reproduce the issue. I found the cause of it and have a fix for it: #21

[2015-04-27 00:34] adrilo opened #28 "Get current worksheet's name when reading a XLSX file"
Currently, $reader->nextSheet() does not return anything. It would be useful to have it return the current sheet and therefore expose its name.

[2015-04-29 07:32] #28 closed

[2015-05-06 04:42] Janokapapa opened #35 "ZipArchive and Windows"
windows wouldnt open paths like:'xl/sharedStrings.xml', for me need to be 'xl\sharedStrings.xml' otherwise it will drop:

XMLReader::open(zip://...20150506052548.xlsx#xl/sharedStrings.xml): failed to open stream: operation failed in ...\vendor\box\spout\src\Spout\Reader\Helper\XLSX\SharedStringsHelper.php on line 97

[2015-05-06 04:53] Janokapapa commented on #35
btw i made these modifications to get this into work:

XLSX.php line 169

$filePath = str_replace('/', DIRECTORY_SEPARATOR, $this->filePath . '#' . $worksheetDataXMLFilePath);
$worksheetDataFilePath = 'zip://' . $filePath;

and so on in 2 other places where i found 'zip://' and now its working on my windows server

[2015-05-06 17:23] adrilo commented on #35
@Janokapapa, can you please specify which version of Spout you are using as well as which version of Windows? It worked fine with WAMP and PHP 5.4. It may be a PHP configuration.

[2015-05-07 02:41] Janokapapa commented on #35
PHP 5.4.11
Spout 1.0.7

I guess for windows/php/ziparchive class its better if paths defined with DIRECTORY_SEPARATOR, at least in this version of PHP its working this way

[2015-05-07 07:29] adrilo commented on #35
As stated on php.net: http://php.net/manual/en/function.basename.php

This means that on Windows, you can use "\" or even mix "/" and "\" and it will still work. Same goes with the ZipArchive class (confirmed by the maintainer of the library). So there has to be another reason.

Are you using WAMP or an actual Windows server?
Does it work if you only replace the "/" by "\" in the zip internal path

[2015-05-07 07:42] Janokapapa commented on #35
i am using uniform server, yes it works only with "\". this was the reason of starting this issue :)

[2015-05-07 07:44] Janokapapa commented on #35
so i guess its older ZipArchive or so, actually this server i use built in 2011... but then it seems that its not backward compatibel with windows and php > 5.4.0

[2015-05-07 08:34] Janokapapa commented on #35
i have just tried the newest uniform server built  with php 5.4.40, and its still an issue

[2015-05-12 22:41] adrilo commented on #35
@Janokapapa, does it work if you only replace the "/" by "\" in the zip internal path (XLSX.php line 169) ?
i.e. if the final path is "path/to/xlsx/file.xlsx#xl\worksheets\sheet1.xml" ?
Or does it need to contain "\" everywhere? "path\to\xlsx\file.xlsx#xl\worksheets\sheet1.xml"

[2015-05-13 02:54] Janokapapa commented on #35
its only needed inside the archive, the outside handled well it could be mixed / or \ as usual

[2015-05-13 04:08] #35 closed

[2015-05-13 07:30] Janokapapa commented on #35
ok, tested, working nicely, thanks :)

[2015-05-13 09:30] DVendy opened #38 "IOException, failed to open stream: operation failed"
I keep on getting this error?, why??
I wrote exactly as in the document...

IOException in AbstractReader.php line 90: Could not open lol.xlsx for reading! (XMLReader::open(zip://lol.xlsx#xl\sharedStrings.xml): failed to open stream: operation failed)

[2015-05-13 16:49] adrilo commented on #38
Hi @DVendy,
Can you try 2 things to narrow down the issue?
1. Change the location of the XLSX to make sure it can still be read
2. Downgrade to version 1.0.7 (change composer.json: "box/spout": "1.0.7". I changed the way files are read on Windows, it may have broken the reader in some configurations.

[2015-05-16 09:30] Preston-HackSpace opened #39 "Spout Documentation"
I would like to give spout a try, but I don't know where to start or what functionality is available. Is there a documentation page?

Thanks

[2015-05-16 16:44] adrilo commented on #39
The documentation is the README. Copy/pasting the given examples should be a good start.
Because it uses streaming (in order to read/write files with millions of rows), it is not possible to read/write cell by cell or go backwards. This means that you can only read/write row by row, and once a row is read/written, you won't be able to change it again.
Also, cells only support basic values such as

[2015-05-19 07:50] dsiddiqui opened #40 "$reader->open($filename) takes all the time"
I am trying to read a very large excel file, having multiple sheets, in which two or more sheets contain more than 600K records with columns ranging from A to AD.

When I run your sample code of going through each sheet one by one and and iterating through all the rows the program never came back.

I commented all the code and leaving the call to open function, it still takes the same time. Is the

[2015-05-20 17:41] adrilo commented on #40
@dsiddiqui When calling open() on a XLSX file, the file containing shared strings is being parsed. This file basically contains all the strings of your sheets. Given the number of rows/columns you have, this is definitely the longest step of the whole process.
Even if we move this step outside of the open() function, it has to be done at one point. So moving it would just shift the problem.

One w

[2015-05-20 17:42] #40 closed

[2015-05-20 17:42] #39 closed

[2015-05-22 08:18] DVendy commented on #38
Tried both, still failed ...

[2015-05-22 11:33] area722 commented on #38
i have the same problem also tried the things adrilo sugested

[2015-05-22 12:08] area722 commented on #38
found this issue.. i was trying to read a .xls and this library only works with .xlsx

[2015-05-22 18:02] adrilo commented on #38
@area722 Spout only works with XLSX files, sorry.
@DVendy, can you please share some code? If both solutions did not work, I'm not sure why it failed...

[2015-05-25 03:59] DVendy commented on #38
public function import_spout(){
		$reader = ReaderFactory::create(Type::XLSX);
		$reader->open("data.xlsx");

		while ($reader->hasNextSheet()) {
		    $reader->nextSheet();

		    while ($reader->hasNextRow()) {
		        $row = $reader->nextRow();
		        var_dump($row);
		    }
		}

		$reader->close();
	}

Just like in documentation.
Oh yes and I used it in Laravel framework. Are there any ex

[2015-05-25 05:35] DVendy commented on #38
The writer working flawlessly btw., :3

[2015-05-26 10:18] cevarief opened #41 "Can only read few columns"
I try to read a large excel files (more than 30 columns with column range formulas) and 11 thousands rows. This library can only read 6 columns.

Any clue why ?

[2015-05-26 18:24] adrilo commented on #41
What do you call "column range formulas"? Can you give an example?
Unfortunately, Spout does not support formulas... So I guess when it encounters a formula, it does not know how to process it and fails.

[2015-05-26 18:30] adrilo commented on #38
Just to be sure, when you downgraded Spout to 1.0.7, did you run `composer update` to update the source files?
Given the file path you mentioned, it seems like you are using Windows. And I made a change for Windows in the 1.0.8 version so it's really likely to be the cause of your problem.

If you've already done that, can you tell me which version of PHP you're using and if you are using WAMP/XAM

[2015-05-27 03:39] cevarief commented on #41
Hi, thanks for quick answer.

Range formula like this =A:A-B:B
Rather than fail, what if i want it to just show its formula ? Which part should i modify.

[2015-05-27 07:15] cevarief commented on #41
I tried without formula (copy and paste special as value to a new sheet), and the library can't read whole columns.

[2015-05-27 16:35] adrilo commented on #41
I tried reading a XLSX file containing 100 columns and a 100 rows (10,000 cells then). It worked perfectly. And even with more rows (like you have), it should not make any difference - it will just be longer to process.

I suspect that even after copy/pasting values, it still exists data that Spout can't process.
You can look at the read() function in the XLSX reader: https://github.com/box/spout/

[2015-05-29 01:06] #38 closed

[2015-05-29 16:08] #41 closed

[2015-06-01 23:29] Lewiscowles1986 opened #45 "ODS output"
Hi I have a repo for fast-efficient writing to ODS,and I was wondering if it is a file-format you are interested to have as part of spout?

[2015-06-02 02:55] adrilo commented on #45
Hi @Lewiscowles1986 !
Adding a new format is not straight forward, as it needs to support both reading and writing, and doing so in a scalable way. Spout also has an extensive test suite that covers most of the use cases.

I am not familiar with ODS but I'll be happy to check your repo to see how easy it is to integrate it. Is ODS a popular format?

[2015-06-02 08:58] Lewiscowles1986 commented on #45
Are you joking when you ask "Is ODS a popular format?". It's the open specification that libreoffice / openoffice use as a spreadsheet format. In some countries public sector departments have to save in open formats, and most of Europe is transitioning towards them for vendor agnostic IT files.

Even newer MS Office installs offer users the chance to save by default in the open formats (not just M

[2015-06-02 16:49] adrilo commented on #45
My question was more in terms of global usage. I agree that the format is really important for some people but my point was, if it represents less than 0.1% of the global usage, does it worth adding this format?
Anyway, I did my research and it seems like it represents a non negligible usage. So I think it would be a great addition to Spout and I'll be happy to help you get a pull request through.

[2015-06-03 12:50] f8bar opened #47 "Trying to get property of non-object: /vendor/box/spout/src/Spout/Reader/XLSX.php:227"
Hi,

I get the following error:
 Trying to get property of non-object: /vendor/box/spout/src/Spout/Reader/XLSX.php:227
reading the following Excel with the following code:
[code]
![2015-06-03 14_47_32-microsoft excel - template xlsx](https://cloud.githubusercontent.com/assets/1819228/7960268/847c2d46-09ff-11e5-8649-0b7817816bea.png)

[2015-06-03 18:24] #47 closed

[2015-06-04 01:34] rogeriopradoj commented on #45
:+1:

[2015-06-13 15:34] nCrazed opened #50 "Inconsistent interface"
### Problem

As it stands the return type of `ReaderFactory::create()` method is `XLSX` while it can return both `CSV` and `XLSX`. Additionally `XLSX` defines methods (`hasNextSheet()` and `nextSheet()`) that are not present in neither `CSV` nor `ReaderInterface`

### Proposed Solution

1. Change the return type of `ReaderFactory::create()` to `ReaderInterface`
2. Add the missing methods to the `R

[2015-06-15 09:53] Koc opened #51 "Xls support"
Does this library supports old 2003 office format? if not - would be nice add it

[2015-06-15 15:24] nCrazed commented on #50
Should I go ahead with a pull request for this or wait until we've discussed alternative solutions?

[2015-06-15 22:45] adwww commented on #51
No. See the [reader](https://github.com/box/spout/blob/master/src/Spout/Reader/ReaderFactory.php#L29) or [writer](https://github.com/box/spout/blob/master/src/Spout/Writer/WriterFactory.php#L29) sources to see all the supported formats. (ie. csv and xlsx).

Also, :-1: - this looks like a clean modern library - supporting the ugly old proprietary format might risk that!

[2015-06-16 15:12] kewlar opened #52 "Cannot open XLSX files on Windows - forward slashes must be used inside of the ZIP file, instead of DIRECTORY_SEPARATOR."
When trying to read an XLSX file, using the provided code example, the following warnings/errors are generated (cleaned up a little):

* *Warning:* XMLReader::open(zip://D:\www\spikes\xlsx-reading/data/smm.xlsx#xl\sharedStrings.xml): failed to open stream: operation failed in (SharedStringsHelper.php:115)
* *Warning:* XMLReader::open(): Unable to open source data in (SharedStringsHelper.php:115
*

[2015-06-16 21:41] kewlar commented on #52
I did some digging.

According to PKWARE .ZIP File Format Specification (https://pkware.cachefly.net/webdocs/casestudies/APPNOTE.TXT):

       4.4.17.1 The name of the file, with optional relative path.
       <...> All slashes
       MUST be forward slashes '/' as opposed to
       backwards slashes '\' for compatibility <...>

...which confirms my experience. But it seems the directory separator

[2015-06-17 14:12] kiessan opened #53 "XLSX files not opening in Apple Numbers"
When trying to open the XLSX file with Apple Numbers, the application alerts that the file cannot be opened. No further information is provided. However, changing the file extension to xls let Numers open that file.

[2015-06-30 00:32] adrilo commented on #51
Spout is extremely useful if you need to work with large files. XLS has inherent limitations that makes it a non-optimal format, compared to XLSX.

Adding a new format requires a significant investment to make sure reading and writing into this format can scale. @Koc, if you are ready to take on this challenge, I will be happy to help you with your pull request!

[2015-06-30 01:01] adrilo commented on #50
Hey @nCrazed,

Thanks for bringing that up. This is something I hesitated a long time before settling on the current interface. The reason it's as it is is because it feels wrong to add the notion of sheet in the CSV reader. So I moved the sheet related functions into the XLSX part.
Something I could do is add another interface (SheetInterface) that extends the base interface and adds the `hasNext

[2015-06-30 01:27] adrilo commented on #52
Hey @kewlar,
Just to make sure your issue is related to #35, have you tried changing DIRECTORY_SEPARATOR with "/" in the newest version of Spout?

If it now works for you, then I'm confused too! I searched for a setting that could configure this but I did not find anything...

[2015-06-30 06:49] kewlar commented on #52
Hey @adrilo,

Yes, I did change DIRECTORY_SEPARATOR with "/" in Spout, where it deals with reading from ZIP archive, and in my case it solved the problem (https://github.com/kewlar/spout/commit/a527f96fb0940bfc8b0a6acba219c5b63ebe3f4b). It may have been a Uniform Server issue, in #35 case.

I'm inclined to think my current solution is correct... but I'm biased :) I could try installing Uniform Ser

[2015-06-30 09:58] Koc commented on #51
Oh, no. I haven't enough knowlege for this ;(

[2015-06-30 09:58] #51 closed

[2015-06-30 11:19] nCrazed commented on #50
Is it really that wrong to treat csv as a spreadsheet format that happens to always has exactly one sheet?

Are you sure that this isn't the other way around? I see no new methods on the XLSX reader other than the two sheet related ones. While CSV reader defines `setFieldDelimiter()` and `setFieldEnclosure()`.

Is there a use case for calling these after rows have been read? In my opinion it's bes

[2015-06-30 11:37] nCrazed commented on #50
Just noticed #49 which defines another custom method on the XSLX reader. It appears to be another construction time option which should not be exposed by the ReaderInterface.

At this point it is worth considering modifying `ReaderFactory::create()` to something like this:
[code]

[2015-06-30 13:11] Lewiscowles1986 opened #54 "Unit Test Coverage?"
Hi again,

wondering if having coverage via coveralls.io is something interesting to Box/Spout project?

[2015-06-30 16:43] adrilo commented on #54
Yes, that's something that can be set up! Follow-up: #55

[2015-06-30 20:26] adrilo commented on #53
I was able to reproduce the bug on Numbers 3.5.3. It seems like Apple Numbers does not support inline strings (only support shared strings): https://github.com/jmcnamara/XlsxWriter/blob/master/dev/docs/source/bugs.rst#strings-arent-displayed-in-apple-numbers-in-constant_memory-mode

I tested with a file containing shared strings but it does not work either.

Since Spout omits a lot of XML tags, th

[2015-06-30 20:48] adrilo commented on #52
I ran some tests with WAMP and it was working with both `/` and `\`. I talked to the guy that maintains the ZipArchive library and he confirmed that it should not matter. So my preference would be keep `/` everywhere.

I'll run some tests with UniformServer to see if I can reproduce.

Anyway, even if we use `/` by default, we need to provide a way for people encountering the issue to override this

[2015-06-30 21:29] adrilo commented on #52
Alright, I tested with WAMP (Apache 2.4.2, PHP 5.4.3, libxml 2.7.8) and Uniform server (Apache 2.4.12, PHP 5.4.42, libxml 2.7.8). The fix that was pushed for #35 now breaks Spout for the versions I tested.

[2015-06-30 21:32] adrilo commented on #35
Hey @Janokapapa, there seems to be an issue with the change that was merged to fix your problem.
While it fixed your issue, it broke the reader (see https://github.com/box/spout/issues/52#issuecomment-117351101).

The correct way to write a path should be using `/` not `\`. So I'm going to revert the change I made.
Now, I still want to understand why it's not working for you. Can you tell me more

[2015-06-30 22:21] Lewiscowles1986 opened #57 "Issue when building (intermittent)"
Box\Spout\Reader\XLSXTest::testReadShouldBeProtectedAgainstBillionLaughsAttack

Even if I build master, this seems to fail to assert for PHP5.6 only... How did TravisCI pass the build, if this always fails?

[2015-06-30 22:36] adrilo commented on #57
What's the error? I guess it's related to memory consumption. The limit in
the test is pretty low so I guess the memory usage in TravisCI is just
below the threshold while yours is just above.

On Tue, Jun 30, 2015 at 3:21 PM, Lewis Cowles <notifications@github.com>
wrote:

[2015-06-30 22:53] Lewiscowles1986 commented on #57
Exactly, and I just watched your build fail too, which made me feel better. I also have a test by branching master with no mods and adding an edit to the readme.me (therefore outside the build tests I hope)

[2015-06-30 23:24] adrilo commented on #57
This specific test is to make sure Spout is not subject to the [Billion Laugh Attack](https://en.wikipedia.org/wiki/Billion_laughs). If the security hole is present, it would crash the program by consuming all the available memory.

[2015-07-01 05:39] Janokapapa commented on #35
hey I thought its already a past, for me after ur change was working fine on windows and linux as well. I wrote u that one of my server is a windows(7), php 5.4.40, and libxml: 2.7.8. Why not just use DIRECTORY_SEPARATOR instead of slashes?

[2015-07-01 06:22] adrilo commented on #35
For some reasons (that I'm trying to understand), using a backslash within the zip file path breaks the reader. This is what is reported by https://github.com/box/spout/issues/52 as well as what I reproduced using both WAMP and Uniform server (as described at https://github.com/box/spout/issues/52#issuecomment-117351101).

According to the spec (https://pkware.cachefly.net/webdocs/casestudies/APPN

[2015-07-01 06:54] adrilo commented on #35
Regarding the Uniform Server you were using, are you talking about "Uniform Server ZeroXI"? Or did you test with another version?
Also, if the file you were using for testing does not contain anything sensitive data, would you mind sending it to me (adrien [at] box.com). Maybe the problem comes from the file itself...

[2015-07-01 07:01] Janokapapa commented on #35
i tried with zeroxi and nano as well, and i exported/imported the file with ur class, i dont have those test files anymore, also the working version rolled into production, at the moment i cant reproduce the error with the old one

[2015-07-01 07:15] adrilo commented on #35
Alright, I made some progress :) It seems like there is something wrong with the generated file itself! I was testing with an file generated on Linux before. I tried creating the file from Windows and I am not able to reproduce the issue. Thanks for your help

[2015-07-01 07:48] Lewiscowles1986 commented on #57
With the greatest of respect, it looks like that could be dealt with, by disabling parsing nested entities within entities, at a depth of $n, where you can set $n to be any valid integer... In fact that would actually potentially remit the billion laugh attack, whereas this seems to report on it, at least with the setup PHP5.6 has on Travis.

[2015-07-01 18:15] adrilo commented on #57
I totally agree and this is already done in Spout (at least I thought). For example: https://github.com/box/spout/blob/d4cf85327026d62d5975dff086e19518722b598b/src/Spout/Reader/Helper/XLSX/SharedStringsHelper.php#L115

I re-ran some tests to make sure the code was safe but it seems like it's not perfect. While the default libxml settings will prevent the billion laughs attack, it won't prevent the

[2015-07-01 18:32] Lewiscowles1986 commented on #57
;) Legend, glad you are involved, these things happen.

libxml_disable_entity_loader(true);
from https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Processing, which also links to https://www.sensepost.com/blog/2014/revisting-xxe-and-abusing-protocols/

Happy to help if you are busy

[2015-07-01 20:45] adrilo commented on #57
I had this line before. Unfortunately, there is a bug with it... https://bugs.php.net/bug.php?id=62577
libxml_disable_entity_loader() also disables XmlReader::open() which is used by the XLSX reader to read XML.

So adding this is not possible... I can add another option though to protect from the quadratic entity issue.

[2015-07-01 21:19] #57 closed

[2015-07-01 22:29] #52 closed

[2015-07-01 22:51] kewlar commented on #52
Whee, it works like a charm! Thanks!

[2015-07-01 23:02] adrilo commented on #52
:laughing:

[2015-07-01 23:17] Lewiscowles1986 commented on #54
now #61 :smile:

[2015-07-01 23:21] #54 closed

[2015-07-01 23:22] Lewiscowles1986 commented on #50
I feel that this is not the best fit for the reasons @adrilo mentions with confusion, and lack of multiple sheets support in csv.

Some file-formats don't have sheet support, so perhaps the interface could be implemented for the core, with a trait, or abstract class, or base class spreadsheet that implements sheets? (inheritance doesn't have to balance)

SO

* ReaderInterface
  * CSV
  * Spreadshe

[2015-07-02 10:47] nCrazed opened #63 "Iterator support"
*Branching of from discussion in #50*

As @adrilo suggested, it could look something like this:

[code]

Your suggestion was to replace the `hasNext` and `next` methods entirely, but I am wondering if it would be feasible to have both to maintain backwards compatibility. What should happen if the old methods are called during iteration via iterators?

[2015-07-02 10:49] nCrazed commented on #50
Perhaps I should've title the issue a leaky abstraction. While any non-trivial abstraction is bound to be leaky to some degree, the interface of a reader is quite simple and most of its leaks can be addressed.

My primary concern is that as it stands, the `ReaderInterface` serves no purpose. Its consumers need to know the exact underlying implementation to correctly interact with it.

Now, let's s

[2015-07-02 16:52] Lewiscowles1986 opened #64 "Coveralls file source not visible"
Please can you login to coveralls and change the source folder to src, click a build, select a file, it will say it cannot find, and if you are an owner, you can then supply a prefixed folder ("src" is the value). #60 is reporting lower coverage and I would like to fix that.

[2015-07-02 17:07] adrilo commented on #64
Done!

[2015-07-02 17:07] #64 closed

[2015-07-02 17:44] Lewiscowles1986 commented on #64
Thank you :+1:

[2015-07-02 18:25] adrilo commented on #50
Thanks for writing this detailed answer!

I disagree. While this is theoritically true, from a consumer's perspective this feels wrong. If your goal is to read a CSV file, you probably won't think about doing `nextSheet()`.
A workaround for this issue would be to have a default implementation of `hasNextSheet()`, `nextSheet()` and make it optional to call these functions.

You are right. *Multiple

[2015-07-02 18:55] Lewiscowles1986 commented on #50
I'd argue that in such a generic interface, the fact spreadsheets have multiple sheets, is more of an implementation detail, and therefore should not be the concern of the `ReaderInterface`, but another interface, class or trait (Thinking about this, a Trait may be the best fit for multiple sheet functionality).

[2015-07-02 20:06] adrilo commented on #50
The trait is useful to share implementation but does not really help with the interface.

[2015-07-02 20:40] Lewiscowles1986 commented on #50
@adrilo what I am saying is this is *maybe*, not something for an interface, and something else needs to be done elsewhere, I am not 100% sure what, but I do think from the information given since the problem, another Interface may not be the ideal solution, and modifying ReaderInterface is definitely not ideal.

So to my understanding, this is an issue with accessing methods from something implem

[2015-07-03 00:07] adrilo commented on #63
We can most likely maintain both. getSheetIterator() will be a shortcut for hasNextSheet() + nextSheet() and could be replaced at any time.

Ideally, the iterator should replace the `hasNext`/`next` methods, as it is simpler. Spout 1.1 can contain both ways. Spout 2.0 can remove the `hasNext`/`next` functions.

[2015-07-03 00:49] nCrazed commented on #50
**A workaround for this issue would be to have a default implementation of hasNextSheet(), nextSheet() and make it optional to call these functions.**

The highlighted part is essentially how I am suggesting to handle csv and any other single-sheet formats.

Writer allows you to output your data either to a file or browser. The data can be outputted purely in sequence by writing row by row to the

[2015-07-03 03:25] Lewiscowles1986 commented on #50
Just really quickly

This is only true if you are accessing as an interface, without performing other checks. For example

[code]

Within the `httpRoute` method called, we could of course type-hint in the definition to a class that implements `RequestInterface`, without mentioning `RequestInterface` as we know that the $request we receive has to be an implementer; so within that function we could

[2015-07-07 05:05] kewlar opened #65 "Option to use SplFixedArray for shared strings, instead of file-based cache."
I have a proposal [to have an option] to make Spout faster by using SplFixedArray instead of files for storing shared strings. At the moment, switching shared-string cache files is one of the biggest performance hogs. On small files, it's not that big a deal. On big files it becomes painful.

I slapped together a quick spike to check how storing shared strings in files vs. array vs. SPL array comp

[2015-07-08 00:15] adrilo commented on #65
Your idea is similar to what was done here: #49. I'm definitely for such a change but I believe that we can do even better :)

Having an option to store strings in memory is great... as long as there are not too many strings. You can try running the performance tests (there is a perf-test branch) with your changes, I am sure that you will get an out of memory crash. While the file-based caching is

[2015-07-08 12:39] kewlar commented on #65
I like the idea that Spout could determine the strategy automatically. It sounds like it would work for 99% of developers, and improve performance in many cases without any negative side effects. I'd still keep the option to specify the strategy for others. In my case, I'm processing of large XLSX files on my development machine, and it's no problem for me to give 3 GB memory to PHP while doing th

[2015-07-09 03:33] adrilo commented on #65
If Spout is smart enough to choose the right strategy based on multiples factors, then you remove the need for a specific setter. By doing this, you avoid to be locked into one strategy.
Even with 3GB of memory, you may have to read huge files that will require more than 3GB. If this happens, you'll need to use the file-based strategy, affecting the performance for all smaller files.

I really lik

[2015-07-12 01:12] kewlar commented on #65
I'd still vote to have the option to set the wanted strategy, to allow the developers to control how they want/need Spout to work. If it's a multi-user corporate site accepting XLSX uploads, low-memory option may be the best way to go. If it's a local dev machine for one-off processing, using faster but memory-hungry method and tweaking PHP settings may be more acceptable. Auto-strategy, while sou

[2015-07-12 10:38] samirhshaikh opened #66 "error in reading ziparchive through xmlreader"
I am getting following error when system tries to read ziparchive through xmlreader.

XLSX Error: Could not open <file_location> for reading! (Could not open "xl/sharedStrings.xml".)

Error occurs in extractSharedStrings() function in /Reader/Helper/XLSX/SharedStringsHelper.php file in the line where it tries to read the shared string file.

if ($xmlReader->open($sharedStringsFilePath, null....

I

[2015-07-12 15:36] adrilo commented on #66
This seems like this issue is similar to what was fixed in #42. But this fix is part of the 1.0.10 version...
I just released a new version: 1.0.11. Can you give it a try?
Otherwise, it seems like a file-specific issue. If the new version does not fix your issue and if your file does not contain any sensitive/confidential data, can you please send it to me? adrien(at)box.com

[2015-07-12 15:42] adrilo commented on #65
Hey @kewlar! I'm working on implementing the different strategies first.
I want to give the "smart" selection a try. I'll gather feedback and if needed, it will be straightforward to implement the setter to force a strategy.

I disagree. The library should not crash! If you need to process very large files, it's normal that it takes hours and your program should take this into account.

[2015-07-14 18:02] #65 closed

[2015-07-15 06:27] DenisAlliswell opened #69 "Is there a way to find cell by text in it?"
I'm wondering is it possible in this lib to find certain cell by some content(text) in it?

I need to find cell this way and add new cell just right after it.

[2015-07-15 06:59] adrilo commented on #69
Hi @DenisAlliswell, can you please give more details about what you are trying to accomplish?
Are you trying to create a new XLSX file from another one (with more cells)? Or do you only need to have the new data stored in memory?

[2015-07-15 07:02] DenisAlliswell commented on #69
Hi @adrilo! I need to open existed file, find the certain cell by text in it and create new cell just after it. In other words, I need to find cell and know it exact coordinates.

[2015-07-15 07:42] adrilo commented on #69
The way Spout works is different from other libraries. To avoid the common Out of Memory issues, the document is not stored in memory. The only way to access the data is reading it line by line. Same goes for writing: you can't say "Write this value in cell B12". If you need to write something in B12, you need to write data in the previous 11 rows because you can't go back.

Even though there are

[2015-07-15 07:58] DenisAlliswell commented on #69
Thank you @adrilo! Gonna test it! Hope it helps! :+1:

[2015-07-15 09:10] DenisAlliswell opened #70 "Issue with installing library manually"
I've copied Spout folder to the server in root directory with following path: `Box/Spout`

Then declared classes as below:

[code]

But I'm still not able to use library's classes. My app just doesn't see these classes.

[2015-07-15 17:47] adrilo commented on #70
Downloading the files is not enough. If you don't use Composer (which is the recommended way to use Spout), you need to add an additional autoloader (that will autoload the classes for you). Since Spout is PSR4 compliant, autoloading its classes is not really hard.

Here is some working code that you can use to autoload Spout classes:

**Psr4Autoloader.php**

[code]

**autoload.php**

[code]

Once

[2015-07-16 02:57] DenisAlliswell commented on #70
Great! Thanks @adrilo!

[2015-07-16 07:51] #70 closed

[2015-07-17 06:32] adrilo commented on #69
Closing this issue as it seems that the proposed solution worked

[2015-07-17 06:32] #69 closed

[2015-07-17 06:33] adrilo commented on #66
@samirhshaikh Did you get this issue resolved with the new version of Spout?

[2015-07-18 02:06] samirhshaikh commented on #66
Thanks for response. And apologies for delayed reply.

I updated to the latest version. But I am still getting the same error. It happens with all xlsx files. Even with the test files which comes with spout class. E.g. attact_billion_laughs.xlsx

[2015-07-18 04:10] adrilo commented on #66
It's actually normal that it fails with the "attack_biliion_laughs.xlsx" but it should work with "one_sheet_with_shared_strings.xlsx" for instance.
If it does not, then it's definitely an environment issue. Can you then tell me which OS you are using as well as which PHP and libxml version? You can find those version using `phpinfo()`.

Thanks!

[2015-07-18 12:02] samirhshaikh commented on #66
Its giving same error with one_sheet_with_shared_strings.xlsx as well. Following are the environment details:
OS: CentOS release 6.5
LibXML: 2.6.19
PHP: 5.5.26

Thanks.

[2015-07-18 22:12] adrilo commented on #66
So I just tried and successfully managed to read a XLSX file on a config with:
- CentOS 6.6
- PHP 5.5.27
- LibXML 2.7.6

I don't think the CentOS version makes any difference. Same for PHP as it's almost similar.
So I suspect that the problem should come from LibXML... @samirhshaikh can you upgrade the libxml library to see if it makes any difference?

Also, in your first message, you mentioned th

[2015-07-19 09:11] samirhshaikh commented on #66
Debian Linux was the mistake. Sorry for that. I will upgrade LibXML version and try it out.

Thanks.

[2015-07-20 05:25] DenisAlliswell opened #72 "How to set input encoding for Reader?"
Hi @adrilo!

How I can set input encoding 'CP1251' for reading file?

For instance, in PHPExcel that can be achieved with the following:
[code]

[2015-07-20 06:37] adrilo commented on #72
Hi @DenisAlliswell,

Unfortunately, this is not possible yet. I have a TODO in the code to allow this: https://github.com/box/spout/blob/d4cf85327026d62d5975dff086e19518722b598b/src/Spout/Reader/CSV.php#L53

If you feel like it, feel free to submit a pull request. I'll be happy to help you add support for multiple encodings :)

[2015-07-20 06:44] DenisAlliswell commented on #72
Ok, thank you for what you're doing! :+1: That's great!

[2015-07-21 06:03] adrilo commented on #50
Hey guys,

I had conversations with a bunch of people about this topic. While there are some pros and cons in all the solutions we mentioned, one turned out to be better than the others IMO:

I'll unify the interfaces of CSV and XLSX readers, introducing the concept of sheets in the CSV reader (pretty much what you proposed @nCrazed). While this may be confusing for the consumer of the library, it

[2015-07-21 06:10] adrilo commented on #63
I've been working on the iterator support for a few days. I tried different things to keep `hasNext() / next()` support while adding iterators support.
It turned out that it is pretty hard and ended up creating a big mess in the code, as I had to duplicate some classes. Indeed, the order things should be executed with iterators is different from the previous method. Also, iterators are more comple

[2015-07-22 23:55] adrilo commented on #66
Is it working better after upgrading libxml?

[2015-07-23 00:01] samirhshaikh commented on #66
My system admin on vacation. So cannot upgrade libxml. It will be a while before he comes back. Will update you after upgrading it. Hopefully it should work.

Thanks.

[2015-07-23 00:08] adrilo commented on #66
Sounds good!

[2015-07-27 07:26] #50 closed

[2015-07-27 17:11] adrilo commented on #63
Fixed as part of #73

[2015-07-27 17:11] #63 closed

[2015-07-28 04:02] #72 closed

[2015-07-28 04:03] adrilo commented on #72
Hi @DenisAlliswell, you should now be able to specify the encoding of your CSV file :)

[2015-07-28 05:52] DenisAlliswell commented on #72
Hi @adrilo! Thanks, cool!

[2015-08-08 11:08] squio opened #81 "No "date" type when reading XSLX"
When reading a XSLX file the output types are not always what I would expect.

Observations From limited testing with some xslx files from Excel and exported document from Google Sheets give met the same result:

A cell with a Date or DateTime value appears to be converted to a FLOAT (number of days since 1899-12-30 as per Lotus 123 tradition) rather than a PHP `DateTime` value.

This is unexpecte

[2015-08-11 02:46] adrilo commented on #81
Hi @squio,

Regarding date values, it works as expected with the test files I have: https://github.com/box/spout/blob/03d1917080c7bbc2d109477ff9b793c23a0046ef/tests/Spout/Reader/XLSX/ReaderTest.php#L93
The formatting of the date happens here: https://github.com/box/spout/blob/2a1925bc51155c57d4d0fbb34fa0a23c135878ef/src/Spout/Reader/XLSX/RowIterator.php#L287. It should either return a DateTime obj

[2015-08-11 08:40] squio commented on #81
Hi @adrilo,

First: testing with your test sheet `sheet_with_all_cell_types.xlsx` works as expected and indeed gives me correct DateTime values back.

I used two test spreadsheets of myself: one internal company spreadsheet of which I don't know the exact history (I assumed some Excel for Windows version but it might be generated in some way, I'm trying to fin d out).
Also I used an exported sheet

[2015-08-11 20:42] adrilo commented on #81
I found where the issue comes from. The "date" cell type is not supported by all Excel versions. It seems like Excel 2010 on Mac and the Office Online is two of these.
So instead, Excel uses float values and styles to determine the cell format. From styles.xml:

[code]

This results in:
[code]

So, the solution would be to read the styles whenever a numeric value with a style is encountered:
[code

[2015-08-14 06:18] #10 closed

[2015-08-14 14:44] sixtyseven-multimedia opened #85 "Unable to open xlsx in browser under iOS"
First  of all: I love the simplicity of your class, it works like a charm on my windows system. Unfortunately I get an error when I open the page that generates the file under iOS, I get the following error message:

OfficeImportErrorDomain-Fehler 912

[2015-08-19 02:41] renciebautista opened #86 "How to set cell background and font color"
How to set  cell background and font color

[2015-08-19 04:46] adrilo commented on #85
Hi @sixtyseven-multimedia,

Thanks for filing this issue!
It looks like there is something wrong with the `openToBrowser()` function. It is not restricted to iOS (although the error message IS specific to iOS).
After using the `openToBrowser()` function, opening the created file in Excel Mac or Windows result in a "File corrupted" error message... What's strange is that if I unzip the XLSX file an

[2015-08-19 04:49] adrilo commented on #86
Hi @renciebautista,

Unfortunately, for now Spout does not support these style properties. You can find the list of supported styles here: https://github.com/box/spout#row-styling

I'll keep this issue open as adding font color and cell background is something I can add to the roadmap.

[2015-08-19 18:05] fernandoamorim opened #88 "How add a row"
How add a row using addRow and addRows methods?

[2015-08-19 18:42] adrilo commented on #88
Hi,

You can take a look at the documentation: https://github.com/box/spout#writer.
Let me know if you need additionnal help!

[2015-08-21 03:32] #85 closed

[2015-08-21 03:32] #88 closed

[2015-08-21 03:33] adrilo commented on #66
@samirhshaikh Any update?

[2015-08-21 03:44] adrilo commented on #53
@kiessan, #89 should have fixed the error message and you should now be able to open the file in Numbers!
Remember that you need to use shared strings with Numbers, as it does not seem to support inline strings (I'll take a closer look at this, see if I can do something about it). This means explicitely calling `$writer->setShouldUseInlineStrings(false);`

[2015-08-21 05:33] adrilo commented on #53
It seems like there is nothing I can do to work around the Numbers issue with inline strings. So if you are targeting this software or any iOS platform (as the same problem occurs when trying to view an XLSX file in Safari on iPhone or iPad), please use shared strings instead of inline strings!

[2015-08-21 05:33] #53 closed

[2015-08-21 06:52] webhdx opened #90 "Generated XLSX shows error when opened in MS Excel"
There seems to be an error in workbook.xml, as I always get a message dialog when opening generated files in MS Excel. Files can be opened but they need to be repaired. Are you aware of the issue?

[2015-08-21 07:06] adrilo commented on #90
Hi!
Thanks for reporting this issue. I'm not aware of that. It's likely to be
specific to an Excel version as the tests I ran worked fine.
Can you please tell me which version you are using? Windows or Mac? Also
are you using the latest version of Spout (2.x)?

Last thing: if you could copy here the error message after Excel has
repaired the file, it would be super helpful!

Thanks !

On Thursday,

[2015-08-21 09:07] sixtyseven-multimedia commented on #85
Unfortunately the fix does not completely solve the problem. Although I am able to open the file under iOS now, most of the cells are empty. As far as I can see, only the numbers are displayed properly.

[2015-08-21 10:24] webhdx commented on #90
I'm using the newest Spout (cloned repo today) and Excel 2013 on my Windows machine. This dialog appears every time you open a file generated by Spout:
![excel spout issue](https://cloud.githubusercontent.com/assets/10212760/9406231/db4f5426-47fe-11e5-954b-4ce9d02d8fb8.png)

Sorry for Polish language. It says that the file needed to be repaired in order to be viewed. It points to the problem with

[2015-08-21 11:07] webhdx commented on #90
Further investigation showed that the problem was caused by Sheet::setName() method. Commented that out and the error no longer appears. Also even though LibreOffice Calc opened files without any issues, worksheet name wasn't set at all. I might create another issue for that if you want.

[2015-08-21 16:23] adrilo commented on #85
The empty cells are a iOS bug (it's also present with Numbers). The iOS
previewer does not support inline strings, which is Spout's default way of
storing string. So in order to have your strings displayed you need to tell
Spout to use shared strings instead.
This can be done by calling setShouldUseInlineStrings(false) on the writer
object.

There is a small performance tradeoff when using shared

[2015-08-21 17:49] adrilo commented on #90
Thanks for investigating @webhdx ! The issue comes from the "/" character in the name.
There are actually a bunch of restrictions on the name:
- the name should not exceed 31 characters
- the name should not contain these characters: \ / ? * [ or ]
- the name should not be blank
- the name should be unique

I'll add a check to make sure the sheet's name is valid and throw an exception on invalid n

[2015-08-21 22:36] #90 closed

[2015-08-22 03:53] adrilo commented on #86
Font color support: #93

[2015-08-22 19:12] adrilo commented on #86
Adding background color is way more complex than font color. Therefore it won't be supported for now.

[2015-08-22 19:12] #86 closed

[2015-08-23 08:12] sixtyseven-multimedia commented on #85
Tried to add your suggestion, but no luck :-(

Could you take a look at the following code and tell me if I am doing it wrung? I skipped the data building part. Since the sheets are ok on my dektop, I assume that the arrays are ok.

'use Box\Spout\Common\Type;
use Box\Spout\Writer\WriterFactory;
use Box\Spout\Writer\Style\StyleBuilder;

$header_style = (new StyleBuilder())
           ->setFontBold

[2015-08-23 08:37] sixtyseven-multimedia commented on #85
Please ignore the above, I obviously have to call the string settings BEFORE open to browswer.

Works like a charm, I will try it on a mac as well tomorrow, problem solved!

[2015-08-23 17:45] adrilo opened #95 "Throw exception when setShouldUseInlineStrings is called after openWriter"
setTempFolder(), setShouldUseInlineStrings() and setShouldCreateNewSheetsAutomatically() must be called before opening the writer, otherwise they have no effect.
Throwing an exception if this is done after would make it explicit

[2015-08-23 17:47] adrilo commented on #85
I'm glad it works now :) I filed #95 to avoid your last mistake happens again.

[2015-08-24 17:55] #95 closed

[2015-08-26 15:17] rbro commented on #81
I am seeing a similar issue.  If I create a new spreadsheet in Excel 2010 on Windows with 1/2/2003 in cell A1, when I read it through spout, it's coming through as 37623.  I can convert it back to 2003-01-02 using the formulas listed in http://stackoverflow.com/questions/1703505/excel-date-to-unix-timestamp, but is there a way that spout can export it directly as 2003-01-02.  Please let me know if

[2015-08-26 18:00] adrilo commented on #81
@rbro, thanks for your help. I am able to reproduce the issue so no need for a sample xlsx.
The way dates are parsed is currently incorrect as it assumes dates are ISO dates and not OLE Automation Date. I'll work on this when I have some time.

[2015-08-27 07:00] renciebautista opened #98 "Decimal not converted to numbers"
Decimal value from database is treated as string not number
![untitled](https://cloud.githubusercontent.com/assets/1759005/9514392/4d023062-4ccc-11e5-86ce-c67e191ecbb4.png)

[2015-08-29 03:31] adrilo commented on #45
Just added an ODS writer: #99. Reader is coming with updated documentation but you can start playing with it if you want :)
@Lewiscowles1986, feel free to submit pull requests or comments on this since you have experience with an ODS writer before. The current implementation can most likely be improved :)

[2015-08-29 04:44] adrilo commented on #98
@renciebautista, can you please give me more details on what the error is exactly? Are you writing a CSV or XLSX file?

[2015-08-29 08:46] Lewiscowles1986 commented on #45
Do you know what, it stalled as I have a major work project ongoing atm and not much free time at PC, thanks ;)

[2015-08-29 17:30] adrilo opened #100 "Replace XMLReader::read() by XMLReader::next() where possible"
`XMLReader::next()` skips all subtrees so it should be faster

[2015-08-29 19:16] adrilo opened #101 "Remove isInsideRowTag in XLSX\RowIterator"
It does not seem to be useful

[2015-09-01 17:30] adrilo opened #104 "Create a CellFormatter"
To remove functions from the RowIterator

[2015-09-01 17:31] adrilo opened #105 "Remove indentation in generated XML files"
This is not needed and it's hard to properly maintain

[2015-09-01 17:57] #45 closed

[2015-09-01 18:30] #101 closed

[2015-09-01 18:35] adrilo opened #109 "Add ODS documentation"

[2015-09-01 19:52] #105 closed

[2015-09-02 06:23] #109 closed

[2015-09-02 06:29] adrilo opened #111 "Add missing ODS cell types"
http://docs.oasis-open.org/office/v1.2/os/OpenDocument-v1.2-os-part1.html#__RefHeading__1417680_253892949

[2015-09-02 07:21] #104 closed

[2015-09-02 21:30] #111 closed

[2015-09-04 06:43] adrilo commented on #100
Reviewed this and nothing needs to be fixed

[2015-09-04 06:43] #100 closed

[2015-09-08 06:08] codetrash opened #116 "How to get Columns name and write to particular Column ?"
Halooo

How to get Columns name and write to particular Column  ?

[2015-09-08 18:26] adrilo commented on #116
Hi @codetrash,

Can you please specify what you mean by "Columns name"? Are you talking about A, B, C... or some kind of headers?

Regarding writing to a particular column, this is not supported. In order to keep memory usage low, Spout only keeps in memory the row it will write and immediately forgets about already written rows. This also makes it "impossible" to write data to a random cell.
Howe

[2015-09-17 05:32] DasTemas opened #117 "Can I insert images into a cell?"

[2015-09-17 06:55] adrilo commented on #117
Hi @DasTemas!
Unfortunately, it is not possible to insert images. Spout only supports strings and booleans as input.

[2015-09-21 09:33] codetrash commented on #116
Oooh I get....that makes sense...keeping the memory as low as possible...thx

[2015-09-21 09:33] #116 closed

[2015-09-23 10:14] anmoroz commented on #98
Hello.
I insert the following data:
![](http://pavlovsk36.ru/screenshot/Mozilla_Firefox_1BB2B1D1.png)

I receive a file XLSX:
![](http://pavlovsk36.ru/screenshot/Формат_ячеек_и_illiquid_export_23_09_2015_xlsx_1BB2B0E7.png)

The format of the cell must be numeric, but it turns out a text.

[2015-09-24 04:38] 5e112 opened #118 "Add Column Widths"
This is not an issue for me necessarily , just letting you guys know in Worksheet.php right where you begin the sheet (in startSheet()) you can define column widths.

I ended up just prepending the following string to give columns 1 (min) through 7 (max)  columns (A:G) with the specified parameters, right before the \<sheetData\> tag.
\<cols\>\<col min="1" max="7" width="25" customWidth="1"/\>\</c

[2015-09-24 06:34] adrilo commented on #118
Hey @5e112, thanks for filing this "issue". Column width is pretty hard to deal with.
In your case, you probably knew in advance the data you were going to output and could therefore adjust the width accordingly. But most of the time, you don't know how long the cell values will be and won't be able to select the appropriate width for the column.

Another way to do it would be to have an auto-widt

[2015-09-24 10:40] 5e112 commented on #118
If I add text wrapping to the cell, The width is primarily cosmetic. Maybe Im missing something, but I never did any calculations to figure out the widths, I was just suggesting it might be a decent feature to expose through the library, but if not, thats fine, It still suits my purposes.
Again, Thanks for all your hard work. Nice library, really does what I need it to.

[2015-09-24 17:40] adrilo commented on #98
Tested and verified. If anyone wants to give a try fixing that one, please do so :) I'll be happy to help!

[2015-09-25 18:53] adrilo commented on #118
Oh I see. Do you think the default width is never good? Too small maybe? I could add the `<col>` part that you mentioned to change the default width of the columns

[2015-09-25 22:38] 5e112 commented on #118
For large strings, or even paragraphs of text, the default width is a bit rough, definitely too small, sometimes it's a good thing to have to be able to set a width + text wrapping.

[2015-09-25 22:51] adrilo commented on #118
Yes, that makes sense. Thinking about how this could be done, the fact that Spout only works on rows and does not know about cells makes it tricky.
You would only be able to set the same width for all the cells of a row. If you can set the columns width for every row, you would basically use the max width in the end:

[code]

Because of this, it only makes sense to move the scope of this one level

[2015-09-25 23:15] 5e112 commented on #118
"My feeling is that, as a developer, you'd want to control the width of each column separately"
Keep in mind you could set all the column widths individually, I just opened the thread with a lousy example.
i.e,
<col min="1" max="1" width="25" customWidth="1"/>
<col min="2" max="2" width="35" customWidth="1"/>
<col min="3" max="3" width="45" customWidth="1"/>
etc.

min and max define the range of c

[2015-09-30 09:00] axelvnk opened #119 "ZipHelper close hits max execution time"
First of all, great library! So thanks! :)

I'm reading a CSV with about 25k lines and at the same time writing it into an Excel file.

[code]

However, it actually gets to closing the writer. I'm not sure how this library works internally (i guess with tmp files).

<img width="940" alt="screen shot 2015-09-30 at 10 57 59" src="https://cloud.githubusercontent.com/assets/6803540/10188767/4ee24a7e-6

[2015-09-30 09:28] adrilo commented on #119
Thanks @axelvnk !

Contrary to CSV where you can add easily add data to an existing CSV file (and therefore split the 25k lines into five 5k lines, hence reducing the execution time by 5 for each batch), it's not possible to add data to an existing XLSX file.
XLSX files are basicaly a bunch of XML files describing the data, zipped together. Unfortunately, I don't have a solution to write that much

[2015-09-30 10:28] effetb commented on #118
Hello,
I just discover your library and I think @5e112 has a good idea.
Specify column width would really help in my case.
Thank you

[2015-10-05 11:50] DMGPage opened #120 "Infinite loop if csv is empty"
box/spout 2.3.0
I have empty CSV file with two empty lines and, if I try to read it, it starts infinite loop:
isEmptyLine
getNextUTF8EncodedLine
getEncodedEOLDelimiter
isEmptyLine
getNextUTF8EncodedLine
getEncodedEOLDelimiter
isEmptyLine
getNextUTF8EncodedLine
getEncodedEOLDelimiter
isEmptyLine
getNextUTF8EncodedLine
getEncodedEOLDelimiter
isEmptyLine
getNextUTF8EncodedLine
getEncodedEOLDelimiter

[2015-10-05 15:13] adrilo commented on #120
I can't reproduce the issue. See https://github.com/box/spout/pull/121
Can you share here what you CSV file contains? I guess it's not 100% empty

[2015-10-05 17:20] DMGPage commented on #120
I can reproduce this bug in my home and work pc. My file have two empty lines. Ok you can access file here: http://files.fm/u/tnmribx

[2015-10-05 18:00] adrilo commented on #120
Gotcha! I can repro it now

[2015-10-05 19:15] #120 closed

[2015-10-05 19:15] #119 closed

[2015-10-05 19:15] #117 closed

[2015-10-06 05:50] SureshDevel commented on #118
Hi @5e112, I was tried above you told with same thing but it won't work. See my code in worksheet file.

Step 1 :
[code]
Step 2 :
[code]
I was tried two kind of ways to implement col tag but won't work there is no changes was made my excel. Kindly guide me. I'm looking forward for your reply.

Thanks

[2015-10-08 13:35] DMGPage commented on #120
When I can wait stable version release of this bug fix?

[2015-10-08 15:28] finalwebsites opened #122 "Writing XLSX format and column/alignment problem"
Hi,

Great script, thanks for sharing your code!
I have a problem while writing XLSX files. Some files doesn't look okay while opening them in open office. The column width is fixed and you can't optimize the width (f.e. double click on the right border of the column head in Open office). The content is aligned to the right and not left. So the data looks okay, but you can't use the file very well

[2015-10-09 11:39] JWolters opened #123 "Support for column-based styles for XLSX and ODS"
Instead of row based styles it would be nice to have style for each column (which is inserted by row).

[2015-10-09 14:00] adrilo commented on #122
Hey @finalwebsites,

There seems to be something wrong with the "wrap text" feature when reading an XLSX file in Open Office. Although if you unset and re-set "wrap text" on the column, it fixes the weird display.
Have you tried exporting an ODS file instead to see if that works better?

In Excel, it works as expected (although the default width for some columns is way too small... I need to fix t

[2015-10-13 02:55] adrilo commented on #120
I'd like to include one more fix in the next release. So hopefully this week or next week.

[2015-10-13 05:53] finalwebsites commented on #122
Hi @adrilo,
Thanks for the tips.
You're right a re-set on the wrapping option is good workarround and the files are okay in MS Excel and Google Spreadsheets. No I never tried the .ods file.

[2015-10-13 16:20] danddavi opened #125 "WAMP and Spout 2.8 XMLReader::open Issue"
I installed spout using composer.

Still having error on windows.
Warning: XMLReader::open(zip://xlsx_files/one_sheet_with_inline_strings.xlsx#xl/sharedStrings.xml): failed to open stream: operation failed in C:\wamp\www\excel_reader_test\vendor\box\spout\src\Spout\Reader\Wrapper\XMLReader.php on line 37

I have tried the suggested fix.
str_replace('/', DIRECTORY_SEPARATOR, $this->filePath)

Still

[2015-10-14 14:10] adrilo commented on #125
Hey @danddavi, is it working with other files? Like "one_sheet_with_shared_strings.xlsx"?

[2015-10-14 15:18] danddavi commented on #125
I put everything back to original config and tried running "one_sheet_with_shared_strings.xlsx"
Then tried it by doing the same steps as I mentioned above each one with the same results.
I also tried making a simple xlsx file to see if that would run with no success.

[2015-10-14 16:23] adrilo commented on #125
https://gist.github.com/adrilo/a50b83814d119cf7a7fc
Can you try running this code and let me know if it displays "note - SUCCESS"?

[2015-10-14 19:03] danddavi commented on #125
Sure can you send me the link to download the "test.zip" file you want to test against.

[2015-10-14 19:04] adrilo commented on #125
It is automatically created by the script

[2015-10-14 19:08] danddavi commented on #125
Oops I should really read the whole code..
It's a FAIL!!

Warning: XMLReader::open(zip://test.zip#test.xml): failed to open stream: operation failed in C:\wamp\www\excel_reader_test\test.php on line 12

I am guessing its something on my end. Any ideas on what it can be?

[2015-10-14 19:30] adrilo commented on #125
I updated the test code: https://gist.github.com/adrilo/a50b83814d119cf7a7fc
Can you please re-run it?

[2015-10-14 19:54] danddavi commented on #125
Here is the errors. Everything failed.

Warning: fopen(zip://test.zip#test.xml): failed to open stream: operation failed in C:\wamp\www\excel_reader_test\test.php on line 18

Warning: file_get_contents(zip://test.zip#test.xml): failed to open stream: operation failed in C:\wamp\www\excel_reader_test\test.php on line 29

Warning: XMLReader::open(zip://test.zip#test.xml): failed to open stream: oper

[2015-10-14 20:01] danddavi commented on #125
Just FYI
I know that the ZipArchive works. I have used it for basic open() and extractTo() methods before but I have never used the zip://

Your help is greatly appreciated..

[2015-10-14 20:51] adrilo commented on #125
Updated the Gist again. I added a test to check if the "zip" stream wrapper is registered.
Can you try it?

[2015-10-14 21:01] danddavi commented on #125
WooHoo
fopen: SUCCESS ( Tove Jani Reminder Don't forget me this weekend! ) file_get_contents: SUCCESS ( Tove Jani Reminder Don't forget me this weekend! ) XMLReader: SUCCESS (note)

So I see you used realpath() is that what needs to be done to all filepaths used by zip://

[2015-10-14 21:18] adrilo commented on #125
Yep, I guess Windows does not like relative paths...
I created #126 to fix the issue. As I can't repro it on my machine, would you mind test the change and let me know if it actually fixes your problem?

[2015-10-14 21:31] danddavi commented on #125
I used realpath($this->filePath) where 'zip://' was being used and that fixed the issue.

SheetIterator.php
SharedStringsHelper.php
SheetHelper.php
RowIterator.php

Thanks for the great support!!!!

[2015-10-14 21:34] adrilo commented on #125
No problem!

[2015-10-15 17:41] #125 closed

[2015-10-15 17:41] adrilo commented on #66
Fixed with #126

[2015-10-15 17:41] #66 closed

[2015-10-15 17:47] adrilo commented on #120
@DMGPage, it's ready as part of 2.3.1

[2015-10-16 07:17] DMGPage commented on #120
Thank You

[2015-10-20 11:15] ivanchenkoandriy opened #127 "stream_get_line = max 8192 bytes if length == 0"
stream_get_line($handle, $length, $ending);
if length === 0 then max bytes = 8192

/vendor/box/spout/src/Spout/Reader/CSV/RowIterator.php
line 150
http://joxi.ru/BLmGBg6HboJkrl

25000 - save the situation

I have very long lines

[2015-10-21 03:00] adrilo commented on #127
There is an enhancement proposed to deal with long lines with stream_get_line: https://bugs.php.net/bug.php?id=48421

If you have the time, do you mind creating a pull request to add a new constant containing the max number of bytes. Also instead of a random 25000, I'd keep something consistent with 8192 (=2^13). For instance 16384 (2^14) or 32768 (=2^15).

[2015-10-22 05:59] adrilo commented on #122
I'd like to keep this open, as this is an actual issue.

[2015-10-22 18:59] adrilo opened #129 "Automatically calculate columns width / rows height"
Instead of using the default width/height, Spout could calculate the optimal width/height for each cell, based on its content.

This involves using a graphics library, render the text content with the chosen font and get the width/height of the rendered text.

This calculation may be slow so it should be optional. It can also be used when using "wrap text" as wrapping does not work well without a

[2015-10-22 20:39] #127 closed

[2015-10-22 20:42] adrilo commented on #122
I investigated deeper and the only way to have this properly working is by setting the exact height of the row. Which requires intensive calculations: for each cell, based on the chosen font and the width of the column, we need to send the text content to a graphic library to get what the final height of the row needs to be to have the whole text fit.

To keep good performance, I'd like to avoid d

[2015-10-22 20:42] #122 closed

[2015-10-22 20:47] adrilo commented on #118
#129 will be the solution for this. It has the benefits of being transparent for the developer. Spout should be able to automatically adjust the dimensions of the cells based on its content.

Developers will be able to specify the max width and max height and Spout will take care of the rest!

I'm closing this issue and will track the progress in #129

[2015-10-22 20:47] #118 closed

[2015-10-23 23:26] #81 closed

[2015-10-23 23:50] adrilo commented on #98
@renciebautista, @anmoroz, can you please give me more info on how this is problematic for you?

By default, values are treated as numbers so "Standard" actually means "number" (int or float). Also, if you read the generated file, it will give you a float back, not a string.

[2015-10-26 06:54] anmoroz commented on #98
I need to add pivot table, which is located in a separate file. But pivot table is destroyed
For standard cell type, I can not use the formula without conversion.

I have studied the documentation of Microsoft - seem your code is correct. But the data in the cell is not a number.
I do not know what the problem.

[2015-10-27 02:27] adrilo commented on #98
You should be able to use standard cells as numeric values without any conversion. This is what happens when you manually create an Excel spreadsheet and don't specify the cell format. You can also use pivot table without specifying the cell format.

I think that your problem is not linked to this. By the way, I'm not sure how you create you pivot table but this is not supported by Spout. Closing

[2015-10-27 02:27] #98 closed

[2015-10-27 08:43] Bob4ever opened #132 "Doesn't work together with stream wrappers"
Hi. I want to use Spout together with a custom stream wrapper registred by [stream_wrapper_register](http://php.net/manual/en/function.stream-wrapper-register.php).

The problem now is that spout calls realpath on every path since #126, realpath returns a false for the stream wrapper paths and it will throw a "Could not open file for reading." exception.

[2015-10-28 12:01] barryvdh opened #134 "Symfony / PSR-7 support"
What do you think about support Symfony of PSR-7 Responses?

Symfony supports a 'StreamedResponse', that allows you use a callback, so that headers etc can be added in the app lifecycle, but the output is only written when closing.

Example how it could be used now:

[code]

You already have the header information etc, so we could wrap the open/close and the headers, perhaps something like this:

[2015-10-28 22:00] adrilo commented on #134
Hey @barryvdh,

Having a tighter integration of Spout into the main PHP frameworks (Symfony, Laravel, ...) is something that would be great! I started looking at it few months ago but my knowledge of these frameworks is pretty limited/outdated (last time I used Symfony, it was the 1.4 version!).

Although this would be a great addition, I think the development of the Symfony/Laravel plugins needs

[2015-10-30 16:36] denaje commented on #86
+1 for background color support.

[2015-10-30 16:36] denaje opened #135 "Feature request: Add borders"
It would be nice to have the ability to add borders to the cells.

[2015-10-31 16:51] adrilo commented on #132
Hey @Bob4ever, can you provide a small snippet of what you are doing?

[2015-10-31 17:36] Bob4ever commented on #132
I'm using league/flysystem together with twistor/flysystem-stream-wrapper.

[code]

[2015-11-02 17:50] bitbuit opened #136 "XLSX float numbers with ',' not '.'"
My country (spain), uses "," instead of "." for the decimal symbol.

I use **addRow($array)** function and when i export to XLSX and open the Excel, the cell is a string not numeric.

I try to convert it with **number_format** function, but obviously the cell remains string.

Bug or feature?

[2015-11-05 08:28] caohothang opened #137 "How to extract images in file excel ?"

[2015-11-05 18:17] adrilo commented on #137
Hi @caohothang! Unfortunately, Spout does not support extracting images.

[2015-11-05 18:17] #137 closed

[2015-11-05 18:33] caohothang commented on #137
hi @adrilo
Can you know another plugin support extract images and large file exel ?

[2015-11-05 18:39] adrilo commented on #137
Spout is the only PHP library that supports large Excel files but it can't extract images. I'd say your best chance is by using PHPExcel with all the caching optimizations it has. However, if your file is really big, it won't work... Sorry I can't help you more

[2015-11-05 19:15] caohothang commented on #137
@adrilo Thanks for your support

[2015-11-06 08:02] ivanchenkoandriy opened #140 "Too big xlsx"
http://i.imgur.com/5PQx25U.png
csv file size 14 MB
must remove empty fields
http://i.imgur.com/PwSDQFL.png

/vendor/box/spout/src/Spout/Writer/XLSX/Internal/Worksheet.php
http://i.imgur.com/zSJq5la.png

after remove empty fields
http://i.imgur.com/kSG1Mze.png
but very slowly opened
compared to xlsx created from csv with help excel

[2015-11-06 08:15] ivanchenkoandriy commented on #140
/vendor/box/spout/src/Spout/Writer/XLSX/Internal/Worksheet.php
http://i.imgur.com/zSJq5la.png

[2015-11-06 09:41] ivanchenkoandriy commented on #140
after remove empty fields
http://i.imgur.com/kSG1Mze.png
but very slowly opened
compared to xlsx created from csv with help excel

[2015-11-06 13:58] ivanchenkoandriy opened #142 "Speed up"
I have 6000 rows and 450 columns and 24% of the time it takes to creation of equal names for indices cells
need speed up
getCellIndexFromColumnIndex
/vendor/box/spout/src/Spout/Writer/Common/Helper/CellHelper.php
for example
time without xdebug profiler:
Strive to 0.056321144104004
Old time 2.3771378993988
New time 0.11857008934021
[code]

for 4000 rows and 430 columns

Strive to 0.40240001678467

[2015-11-06 18:23] adrilo commented on #132
I see. Do you know if XMLReader is compatible with custom stream wrappers? Can you do something like this:

[code]

or does it throw an exception?

[2015-11-09 09:29] Bob4ever commented on #132
Ok I see the problem. The XMLReader does only support opening files by path and to unzip the files you are already a using a [stream wrapper](http://php.net/manual/de/wrappers.compression.php). Stacking streamwrappers isn't possible by just adding the paths like "zip://fly://test.xlsx#xl/sheets/sheet1.xml". The only solution I get in my mind is to build dynamicly a streamwrapper to resolve the pro

[2015-11-09 17:57] adrilo commented on #132
Yes, this seems a bit overkill for such a small feature. Moving away from using "zip://" would degrade performance, as I'd need to unzip the XLSX first before accessing its files (and for large XLSX files, it can take a while).
I'll close this issue then. Sorry I could not help!

[2015-11-09 17:57] #132 closed

[2015-11-09 19:13] adrilo commented on #142
Hi @ivanchenkoandriy, thanks for filing this issue. I tested your solution and it's indeed way faster. The drawback though is that it's using a lot of memory to store the different cell indexes (83MB!!).
I really want to keep memory usage low and 83MB is way too much. I'm sure I can optimize this function though so I'll keep this issue open.

[2015-11-10 00:34] adrilo commented on #140
Good catch! Feel free to submit a pull request :)

[2015-11-10 13:54] ivanchenkoandriy commented on #140
I tried, but asked some agreement approved and signed by than
I'm from Ukraine
I do not know much English, so I could not pull
Thank you for your project
I wish you success in the project
Бажаю успіхів

[2015-11-11 01:23] adrilo commented on #140
No worries. I'm pushing the change for you.

[2015-11-11 01:26] #140 closed

[2015-11-11 15:50] seegithub opened #144 "Array index not consistent"
Hi,

hi, I am very impressed with the performance of this library, but there was an error when I want to read the excel file, it happened like this :

I have 3 rows of data , the contents is No, Name, and Address. Then when it is done for each line of its looping will be formed
array (
     [0] => 1,
     [1] => seegithub,
     [2] => Indonesia
)

but when there is an empty data on column let say

[2015-11-11 18:43] adrilo commented on #144
Hey @seegithub, I tried with a file containing:

foo |       | bar
-----|------| ----

This is what is returned:
[code]

Can you give me more details on what your file with the blank column looks like?

[2015-11-12 22:09] #142 closed

[2015-11-13 01:05] adrilo commented on #136
Hi @bitbuit!

I tried reproducing the issue but Excel (2010, Mac version) works as expected. What I observed is that Excel uses the decimal separator defined at the OS level (`.` or `,` in my case).

Other Excel versions may behave differently though. Can you tell me which Excel version as well as wich OS you are using?

BTW, I used this code to write a numeric value to a cell: `$writer->addRow([1

[2015-11-15 16:07] seegithub commented on #144
Hi,

sorry for late response, it looks like my excel file that has an error, i am sorry thank for this great work.

[2015-11-15 16:07] #144 closed

[2015-11-16 03:26] khoiruddin opened #147 "Where i can download this extension ?"
php_xmlreader
php_simplexml

[2015-11-16 07:27] adrilo commented on #147
It should be pre-installed with PHP:
- http://php.net/manual/en/xmlreader.installation.php
- http://php.net/manual/en/simplexml.installation.php

It's possible that these two extensions are disabled though. You'll need to enable them before being able to use Spout

[2015-11-16 09:48] khoiruddin commented on #147
OK, thanks :+1:

[2015-11-16 09:48] #147 closed

[2015-11-16 16:38] bitbuit commented on #136
Hi @adrilo !
I enhanced my search about this, and sorry because the problem is mine, i pass a STRING not a NUMBER! My data source was a string field (i think that was number), and obviously not works.

Previously i cast the value into a float and works well!

[2015-11-16 17:01] bitbuit opened #148 "Page breaks feature (RowBreaks)"
Hello! Now i'm work in a project that i need do a Page Breaks i searched and i found some information about this.

http://openxmldeveloper.org/discussions/formats/f/14/t/928.aspx

I'll try to modify the library but i need help! Can i Help me?

I upload a file with 4 manual RowBreaks at lines (2, 5, 12, 15)

[breaks.xlsx](https://github.com/box/spout/files/35721/breaks.xlsx)

Norbert.

[2015-11-16 18:29] adrilo commented on #136
Glad you figured it out!

[2015-11-16 18:29] #136 closed

[2015-11-17 06:51] adrilo commented on #148
Hey @bitbuit,

To support row breaks, I would add a top-level function to the XLSX writer (src/Spout/Writer/XLSX/Writer.php): `addRowBreak()`. It would be similar to the `addRowToWriter()` function in the same function.

I'm not familiar with how to add row breaks but from the link you sent, it seems like it's just a bunch of XML tags. Also, it seems like you need to add all the row breaks at once

[2015-11-19 15:01] garak opened #149 "xlsx mime type"
I'm creating an xlsx file (e.g. using ``Type::XLSX``).
I expect to get a file with mime type ``application/vnd.openxmlformats-officedocument.spreadsheetml.sheet``, instead I'm getting one with ``application/zip``.

[2015-11-19 17:49] adrilo commented on #149
Hmmm this is weird. Are you calling the `openToBrowser()` function?

[2015-11-19 17:54] garak commented on #149
No, I'm just using ``openToFile`` and ``close`` to create the file.
I checked the mime type using ``file -b --mime mygeneratedfile.xlsx``

[2015-11-19 17:57] adrilo commented on #149
Oh I see. Then it makes sense, as an XLSX is simply a ZIP file with the "xlsx" extension.
Let me check if there is a way to set the mimetype of the file on save.

By the way, why do you need to check the mime type?

[2015-11-19 19:28] garak commented on #149
My use case is a generated xlsx file, that I have to serve afterwards.
I'd like to rely on the mime type took from file, instead of forcing it with an HTTP header.
There must be a way, since running the same command (``file -b --mime``) on other xslx files gives me the correct type.

[2015-11-20 02:18] adrilo commented on #149
How did you create the other xlsx files? Excel? Which version of Excel?
With Excel 2010 on Mac/Windows, `file -b --mime` returns `application/zip`.

[2015-11-20 12:38] garak commented on #149
I know that ``application/zip`` is also a valid mime type for xlsx, anyway we know that a generic user would expect an excel file to be served/opened as a spreadsheet, not like an archive.
Unfortunately, I don't own any copy of Excel to try, anyway you can find many sample files online (like [this one](http://dl.sample-files.com/doc/sample_Office2013_EXCEL_XLSX_1.xlsx.zip)), all with the "correct"

[2015-11-26 15:49] bitbuit commented on #148
Hey @adrilo !

I have a problem! Now i implemented the RowBreak in the file: XLSX/Internal/Worksheet.php:

[code]

and modify close() function:

[code]

and add an atribute:

[code]

And it works very good! But it's necessary to create the top-level function: addRowBreak()
You suggest that that put it in (https://github.com/box/spout/blob/45980195cd038149d7d153bc1eb3e78e5c8cf8be/src/Spout/Writer/X

[2015-11-27 12:58] bitbuit commented on #148
Hi @adrilo , i solved the problem and i want to contribute it.

Please contact me.

[2015-11-27 12:58] #148 closed

[2015-11-30 03:59] adrilo commented on #149
Hmmm even with the file you sent me I have:

[code]

[2015-11-30 19:53] garak commented on #149
Of course it is, it depends on the configuration of your magic.
The point is that library is generating files with a magic number that is not the same as the "official", so even with the correct magic configurated (e.g. on a standard Ubuntu), you get a generic mime instead of a specific one.

[2015-11-30 20:00] garak commented on #149
Here is a different try. Write a script called ``fileinfo.php``:
[code]
With a such file, ``php fileinfo.php 1.xlsx`` is returning ``application/vnd.openxmlformats-officedocument.spreadsheetml.sheet``, while ``php fileinfo.php file_generated_with_spout.xlsx`` is returning ``application/zip``

[2015-12-01 01:17] adrilo commented on #149
Cool! I can reproduce the issue :)

[code]

I don't have `application/zip` but `application/octet-stream`... Anyway, I'll try to take a look at it to figure out how the mime type is being set

[2015-12-04 02:21] adrilo commented on #148
Hey @bitbuit,

I'm glad you solved your problem. To contribute, please read the instructions here: https://github.com/box/spout/blob/master/CONTRIBUTING.md. It should help you setting up a fork and submitting a pull request!

[2015-12-04 17:31] jamesryanbell opened #150 "Delete Sheet1"
Hi

Is there a way to prevent Sheet1 from being created when working with custom sheets?

Or is there a method to delete sheets that I can use after everything is complete?

Thanks,
James

[2015-12-04 18:51] adrilo commented on #149
Hey @garak,

After pulling my hair out for a few hours, I finally figured out why the mime type is wrong. It turns out the order in which the XML files gets added to the final ZIP file (an XLSX file being a ZIP file with the xlsx extension) matters for the heuristics used to detect types.

Currently, files are added in this order:
[code]

The problem comes from inserting the "docProps" related fil

[2015-12-04 19:01] adrilo commented on #150
Hi @jamesryanbell,

If you want to skip sheet1, you can simply create a new sheet and start using it before writing any data:

[code]

Hope that helps!

[2015-12-04 23:01] jamesryanbell commented on #150
Hi @adrilo

I am looking to export a file without Sheet1 completely. This would just skip sheet1.

Thanks
James

[2015-12-04 23:58] adrilo commented on #150
Hmmm I'm not sure to understand what you are trying to do then.
You are creating a new XLSX file and do not want to have Sheet1 in there. Then what should the first sheet be?

[2015-12-05 06:07] adrilo opened #151 "Writing date"
It is currently not possible to pass a DateTime object to a writer, while readers do support dates.

[2015-12-05 08:30] #149 closed

[2015-12-05 09:07] jamesryanbell commented on #150
I have a dataset I will be splitting across different sheets, each sheet will be named based on the category it falls into.

The end result I want is to only have the custom named sheets. Currently I have this working but I am still left with the auto generated Sheet1 which is empty.

[2015-12-05 10:56] adrilo commented on #150
You need to call this before creating a new sheet:

[code]

For instance, this code gives a spreadsheet whose first and only sheet is named "foo":
[code]

[2015-12-05 12:20] garak commented on #149
Great! Hope to see a new tag released soon.
Thank you.

[2015-12-18 12:00] in1gotech-jdjaviniar opened #156 "What are the a ways to overcome the Access denied Error when Spout tries to Use the default System TEMP directory?"
I let Spout use the default system directory but I got this error:

````RecursiveDirectoryIterator::__construct(C:\WINDOWS\TEMP/xlsx5673f4d7f325a6.46823532,C:\WINDOWS\TEMP/xlsx5673f4d7f325a6.46823532): Access is denied. (code: 5)````

[2015-12-18 12:29] in1gotech-jdjaviniar commented on #156
Since I do not know how to grant `Spout` access to the default system folder I just created a 'temp' folder in my project and used `$writer->setTempFolder($customTempFolderPath);` to point the temp folder to appropriate directory.

[2015-12-18 12:29] #156 closed

[2015-12-18 12:45] in1gotech-jdjaviniar opened #157 "Is there a feature that will allow an application to open a template file and write data directly to it?"

[2015-12-18 16:59] #150 closed

[2015-12-18 17:00] adrilo commented on #157
Hi @in1gotech-jdjaviniar,

Can you give me an example of what you'd like to do? I'm not sure to understand correctly

[2015-12-18 17:00] adrilo commented on #156
:+1:

[2015-12-19 06:35] in1gotech-jdjaviniar commented on #157
For example, I already have a an `XLSX` file that  contains pre-formatted headers, I want to load or open that file using Spout and write data after the headers. In the documentation You can create new XLSX file using the Writer factory but I want something like `PHPExcel`'s [feature](https://github.com/PHPOffice/PHPExcel/blob/develop/Documentation/markdown/Overview/10-Reading-and-Writing.md#gener

[2015-12-20 20:42] adrilo opened #158 "Document how to add or edit data from an existing spreadsheet"

[2015-12-21 08:54] JSmith01 opened #159 "Invalid handling of long numbers in XLSX"
When library loads long number (f.e. 865640023012945), it is converted to float (in \Box\Spout\Reader\XLSLX\CelllValueFormatter - formatNumericCellValue), and, because of this, number losts its last digits.

In some cases it's completely unacceptable behavior, maybe it's better to return raw string in that case (when is_numeric($val) == true, is_int($val) == false, is_float($val) == false) ?

As I

[2015-12-21 09:48] adrilo commented on #157
I just created some wiki pages, documenting how to do what you are trying to do: https://github.com/box/spout/wiki.

Please re-open this issue if this does not exactly fit your needs.

[2015-12-21 09:48] #157 closed

[2015-12-22 07:22] adrilo commented on #158
Documented in the new Wiki: https://github.com/box/spout/wiki

[2015-12-22 07:22] #158 closed

[2015-12-22 11:35] adrilo commented on #159
Hey @JSmith01, thanks for filing this issue. This is indeed a valid concern!
Can I ask you what kind of app you are building, using such large numbers? Since PHP won't be able to use this number for arithmetic calculations, how do you plan on using it? Are you using the BC Math extension (http://php.net/manual/en/ref.bc.php)?

[2015-12-24 14:03] casperbakker opened #163 "getSheetIterator() returns sheets not in the right order"
(First: we love box/spout, it works really well and we use it a lot. Thanks!)

We use box/spout for a 'product import' where we only use the first sheet. This works well in most cases but now we experienced something weird. Looks like some versions of Excel declare their sheets in [Content_Types].xml in a different order then they are displayed in Excel. Excel opens them in the 'right' way, but bo

[2015-12-27 18:59] adrilo commented on #163
Hi @casperbakker, glad you like the library :)
Regarding the issue, thanks for reporting it. To help fixing it, do you mind copying here the copy of the `xl/workbook.xml` file? I believe that this file contains the correct order, but just want to make sure.

[2015-12-28 10:22] casperbakker commented on #163
Hi @adrilo

Looks like you're right. Hereby from both files the xl/workbook.xml file.

[code]

[code]

[2015-12-30 06:57] alvin-rizki opened #164 "Save exported file using dialog box"
I think It would be better if I can export CSV using save file dialog box.

[2016-01-03 10:14] adrilo commented on #164
@alvin-rizki, this is already possible if you call `$writer->openToBrowser($fileName);`.
If your browser is configured to always download files in a given directory, you won't see the dialog box but if it's not, you'll see the box and will be able to select where you want to download the file (and the default file name will be `$fileName`)

[2016-01-03 10:14] #164 closed

[2016-01-08 16:50] #163 closed

[2016-01-08 21:01] rafsoaken commented on #159
It may be problematic for all kinds of barcodes.
(I have this problem importing CSV, ODS, XLSX in phpmyadmin into mysql tables).

[2016-01-09 13:50] casperbakker commented on #163
Thanks @adrilo !

[2016-01-11 22:29] mmorgan57 commented on #159
15-digit numbers and longer are often used for inventory serial numbers and shipment tracking numbers (FedEx and USPS). Correcting this bug would be extremely helpful, as would the ability to format a cell to "text" format, since Excel converts long numbers to scientific notation if the cell formatting is not set.

[2016-01-12 02:10] adrilo commented on #159
Those are legit use cases. Thanks for chiming in!
I'll try to push a fix soon. Unless someone wants to give it a try. Based on @JSmith01's comment, it does not look to hard to fix.

[2016-01-12 12:18] anshu2212 opened #166 "Segmentation fault with HHVM 3.10"
I use Ubuntu prebuilt **hhvm** at a 2gb ram 1vcpu vps. I need to read some csv file so i found **Spout** from box claiming lowest memory usasge than phpexcel. but HHVM got segmentation fault . i was importing the file with phpmyadmin which usasge  **PHPExcel**.

My csv contains 6k rows with 15 columns. and it will increase in my application.

I tried to reduce the memory limit of hhvm and running

[2016-01-12 19:35] adrilo commented on #166
HHVM 3.10

[2016-01-12 19:44] anshu2212 commented on #166
yup

[2016-01-14 19:29] #159 closed

[2016-01-14 19:33] adrilo commented on #159
@JSmith01, @rafsoaken, @mmorgan57 I just pushed a new version (2.4.1) that contains the fix for this issue. Please let me know if it solves your problem.

[2016-01-18 11:23] cannect opened #168 "Get validation error message after opening created .xlsx file"
Hello,

I just create .xlsx files with this code:

[code]

And thats it.
After opening this file in Excel 2013 I get the message that the file is corrupted and needs to be repaired. Also the float 'Total ordered' is not a float in Excel at all.

How can I prevent the needs to be repaired message of every file?

Thanks!

[2016-01-19 00:47] adrilo commented on #168
Hi @cannect, do you mind attaching a sample file that causes this error? It would be super helpful

[2016-01-19 08:11] cannect commented on #168
Hi @adrilo,

Thanks for your attention. See the attached file below.

[Bestellingen export 05-01-2016 - 14-01-2016.xlsx](https://github.com/box/spout/files/95530/Bestellingen.export.05-01-2016.-.14-01-2016.xlsx)

[2016-01-19 08:39] jonsito commented on #168
I can confirm that attached file is also marked as damaged an cannot be repaired with LibreOffice 5

[2016-01-25 06:15] adrilo commented on #134
Hey @barryvdh,

Check out the new wiki page about how to use Spout with Symfony's StreamedResponse: https://github.com/box/spout/wiki/%5BSymfony%5D-Stream-content-of-a-large-spreadsheet

What do you think of it? Is there anything that should be added/removed/changed?

[2016-01-25 07:54] barryvdh commented on #134
I don't think you need the `$response->send()` in the last example, just return the response.

Also, the headers are not added now, right?

[2016-01-26 03:20] adrilo commented on #134
You are right about the response. Regarding the headers, is it necessary to set them if the response type is html?

[2016-01-28 05:28] adrilo commented on #134
I added the headers.

[2016-01-28 05:28] #134 closed

[2016-01-28 18:14] adrilo commented on #168
I confirm that I also see the error message with the file you sent me.
However, when I try to create a file with the same content, it does work for me. Also, unzipping your file and zipping it again fixes the issue.

Two questions:
- is your encoding set to UTF-8?
- which version of PHP/Zip are you using? (you can get the zip version by running `php -i | grep -C 2 "Zip version"`)

[2016-01-29 08:10] cannect commented on #168
Hi @adrilo,

Here are the results of the commands:
[code]

Also my encoding is by default set to UTF-8? I just create the writer with: `$writer = WriterFactory::create( Type::XLSX );`

[2016-01-29 18:08] adrilo commented on #168
According to http://php.net/manual/en/xml.encoding.php, the default source encoding is ISO-8859-1.
Can you try setting the encoding to UTF-8 first, and let me know if this fixes the issue?

[2016-01-29 20:51] lamannapov opened #170 "Feature request: Row count before iterate the sheet"
Is there anyway we can implement the row count on the sheet before we iterate it? Right now, we can only increase the count when iterating the sheet. That would be awesome if we can read the total rows number first to show the progress when reading it.

Thank you!

[2016-01-30 05:46] adrilo commented on #170
Hi @lamannapov,

While this can be a great addition, there are some technical limitations to achieve that:
- ODS files don't store the dimension of the spreadsheet. You have to go through the entire XML file to get the number of rows.
- some XLSX files are similar to ODS files and don't store this information. Some other do have it at the top of the XML file so it is accessible before parsing the

[2016-01-30 05:46] #170 closed

[2016-02-01 09:09] tarikhagustia opened #171 "How To Get Data From Database and store to XLSX with spout"

[2016-02-01 13:13] cannect commented on #168
Hi @adrilo,

I cannot find where to set the encoding via the WriterFactory? I looked in the source and I did not found a way to set it via the Spout class?

[2016-02-01 18:19] adrilo commented on #168
Setting the page encoding is different from setting the encoding used by PHP. Using header() only tells the browser which encoding was used to build the page and how it should be rendered.

What you need to do instead is calling `mb_internal_encoding('UTF-8');` - this is a PHP function, not a Spout one. This should be one of the first thing you do. If you use a framework, add it to the front contr

[2016-02-01 19:50] adrilo commented on #171
Hi @tarikhagustia,

You can take a look at the code in this repo: https://github.com/adrilo/spout-pdo-example.
It's probably more complex than what you need, but if you reuse it, it will give you a solid and scalable foundation to get data from a DB and store it in an XLSX file.

Let me know if you have additional questions.

[2016-02-01 19:50] #171 closed

[2016-02-02 02:09] tarikhagustia commented on #171
oke thanks, if i want to show the file automaticaly, how?
thanks before..

[2016-02-02 02:42] adrilo commented on #171
Use openToBrowser() instead of openToFile()

[2016-02-02 14:25] cannect commented on #168
@adrilo,

You are right about that. However when using `mb_internal_encoding('UTF-8');`, the validation message still appears. To double-check I did a var_dump on `mb_list_encodings()` and saw `UTF-8` was listed. I am out of options now, is there anything I can do to get this working?

[2016-02-02 18:08] adrilo commented on #168
@cannect, thanks for checking. I'm suspecting it's an issue with the libzip library.
When I unzip the XLSX file you sent me and zip it again with the zip library installed on my machine (Zip 1.12.5, Libzip 0.11.2), it works. This means that the content inside the XLSX file is correct.

Do you have the possibility to upgrade the PHP zip library installed on your machine/server? Or upgrade PHP direc

[2016-02-03 05:43] tarikhagustia commented on #135
yes, i waiting for it ..

[2016-02-08 08:09] cannect commented on #168
I updated PHP to 5.5. But the Zip and Libzib seems not to be updated. I don't mind updating PHP to 5.6 now because on my VPS run multiple websites. I cannot foresee the impact on every bit of PHP code on every website, and if it will successfully run on 5.6.

So I googled how to update Zip and Libzip. However there is where I am stuck now. But I do not ask you to give support for that. ;-)
But I j

[2016-02-11 16:27] sfichera opened #172 "Incompatible EOL on CSV reader..."
Hi, I've found the following issue...

When you try to use the reader with CSV files that were generated by OSX version of Excel, the rowIterator has a problem while reading lines because the EOL on those files is **\r **instead of **\n**...
For the moment I've added an ugly hack to the openReader function that detects the EOL based on file information...

protected function openReader($filePath)

[2016-02-11 17:12] adrilo commented on #172
Hi @sfichera, thanks for filing this issue.

I guess, the best way to solve it is to introduce a way to tell Spout what EOL character should be used (similar to the `setFieldDelimiter` and `setFieldEnclosure` functions).
Alternatively, Spout can try to normalize line endings before parsing them (replacing "\r" and "\r\n" with "\n") but as you said, this method will fall apart with large files.

So

[2016-02-11 22:07] sfichera commented on #172
Sure! I'm glad to help...

[2016-02-13 23:01] nCrazed commented on #172
Excellent timing, just ran into a similar problem.

@adrilo any chance of this change being merged and released sometime soon?

[2016-02-14 02:21] adrilo commented on #172
Yes, we just need one test for this change and I'll merge and release a new version!

[2016-02-14 03:25] sfichera commented on #172
Hi Adrien, hoy are you?

Please note that yesterday I've already committed a test case related to this...

https://github.com/sfichera/spout/commit/86e26632f6b82e5ce418a3b01aa504f011e1f402

:-)

Sent from my iPhone

[2016-02-14 08:23] adrilo commented on #172
Just released v2.4.2 :) Thanks for contributing @sfichera!

[2016-02-14 08:23] #172 closed

[2016-02-15 10:08] IlyaBakhlin opened #174 "Packagist URL"
It would be nice if the project had the Packagist URL in the description.

[2016-02-15 14:51] VirtualRJ opened #176 "Stream wrapper support (at least for CSV)"
As mentioned in #132 with the addition of a `realpath()` in the `open()` it is not possible to open a file with a streamwrapper. Among other stream wrappers Amazon S3 uses stream wrappers to bring support for standard file operations using `s3:\\[filepath]`. I'm trying to read a CSV file from S3, but the only issue is the `realpath()` (I tested it without the `realpath()`). I understand it's much

[2016-02-15 19:34] adrilo commented on #174
Can you help me understand why? The main packagist page only contains things you can find on the Github page. And I believe the other linked pages (Stats, Dependencies, ...) are not super useful if what you want is just use the library.

Am I missing something?

[2016-02-15 21:17] IlyaBakhlin commented on #174
In my opinion, when you open some repository of PHP library, it would be nice to fill the web site field with the Packagist URL. I think it makes the repository more complete.

Because, as I understand, nobody creates a web page for a repository, but Packagist does, so you can use it.

It's just my opinion.

[2016-02-15 21:18] IlyaBakhlin commented on #174
By the way, where do you get those images with the downloads count, version number, etc?

[2016-02-16 00:42] adrilo commented on #174
I'm using https://poser.pugx.org/ for the badges, which extracts data from Packagist.
I'll leave the website blank for now, as I think Packagist should be used to find packages or get stats about a project but not as a homepage. Eventually, we'll have an actual page for the project.

[2016-02-16 00:42] #174 closed

[2016-02-17 11:11] DMGPage opened #178 "Question about date type"
When read xlsx cell with date value, result is DateTime object. It is fine if I expect date, but what if I expect some string and now I have to validate it. How to get original string, if I don't know original format?

For example if cell contains "31.10.1959" and it is date type, reader result is DateTime object with value "1959-10-31 00:00:00". Problem is that I can not show user that "1959-10-3

[2016-02-18 03:44] adrilo commented on #178
If I understand correctly, you have a spreadsheet with some dates in it, but you don't know that they are dates. Therefore when reading all the rows, you currently have to check each value to see if it's a date (as you don't know which cells contain a date in advance) and if so, convert it back to a string.
What you would want instead is a way to disable the automatic conversion from "31.10.1959"

[2016-02-18 06:38] DMGPage commented on #178
Yes in my case user input date, where he should not and I have to send user error with original value, but I can not do that, because I do not know what was original value. I want option, how to disable automatic conversion and return value (in my example it would be "31.10.1959").

[2016-02-18 08:08] adrilo commented on #178
Spout converts the inputted string to a date only if the cell is marked as Date. Having it returned as a string seems like a hack for your use case, as you basically expects the library to return something incorrect (a string instead of a date).
If you expect the cell to contain dates, you should check whether the returned value is a date (if the cell type was set to Date) or a string (if the cell

[2016-02-18 08:19] DMGPage commented on #178
Again it is fine, if I expect date. But if I expect string, I have no use of this DateTime object. And no, I can not transform it back to original string. Yes, it has function "format", but how could I know what was original format? Was it "Y-m-d H:i:s" or "d.m.Y" or may be something else? I can not return to user error "Value '1959-10-31 00:00:00' is incorrect" when original value is "31.10.1959"

[2016-02-19 12:39] slickorange commented on #178
I am having a similar issue - I have a field with an integer value but Spout converts it to a DateTime object. Is there any way to turn off this automatic conversion?
I have set the cell to a number in the spreadsheet, but I am converting from OSX Pages to MS Excel, so not sure if that is causing the issue.

[2016-02-19 18:13] adrilo commented on #178
Spout only converts a numeric value to a date if its cell type is set to Date. @slickorange I am guessing in your case the conversion does set the type to Date and that's why you end up with a DateTime object.

Anyway, to solve this problem, there need to be a new function added to the Reader API:

[code]

The tricky part is to properly format the date. Excel has a million ways to format a date. T

[2016-02-19 18:16] slickorange commented on #178
Thanks, I will try it. Luckily I don’t have any dates in my file so I don’t
have to worry about date formatting.

On Fri, 19 Feb 2016 at 20:14 Adrien Loison <notifications@github.com> wrote:

[2016-02-20 19:05] graham4915 opened #180 "Select sheets for reading"
Hello,

Thanks for this library. I have been trying to use it however the files I need to read are very large and I would like to instruct spout to only read a sheet with a specific fixed name 'summary' (whose position can change). How can I proceed ?
Would it then be possible to output this sheet only to CSV ?

I haven't found an answer in the readme.
Thank you for your help !

[2016-02-20 19:17] adrilo commented on #180
Hi @graham4915,

The trick is to go through all the sheets until you find the one you are interested in. Then read all the rows from this sheet and export to a CSV. Here is how to do it:

[code]

Hope that helps! Let me know if you have additional questions.

[2016-02-20 19:17] #180 closed

[2016-02-22 16:13] dexcell commented on #151
+1

[2016-02-25 09:56] zendre4 commented on #129
+1

[2016-03-01 09:17] MustangZhong commented on #168
@cannect
I got the same issue, my zip config below:

Zip => enabled
Extension Version => $Id: c203148334b6f80d27bc5d23fad5ec3ca7dcf444 $
Zip version => 1.12.5
Libzip version => 0.11.2

PHP version: 5.6.17

any idea?
thanks!

[2016-03-01 18:39] adrilo commented on #168
Thanks for chiming in @MustangZhong! We have the same zip version but I can't repro the issue on my machine...

Can you try downgrading Spout to v2.1.0 for instance. Just want to make sure no regressions were introduced in the latest versions?

[2016-03-02 22:21] codewizz commented on #129
+1

[2016-03-04 19:09] TamaBaka opened #181 "Shared Strings making file open timeout"
I have a 4MB xlsx file that I'm trying to open.  This would normally be easy to load, however it has a lot of unique strings because it's basically a catalog with 4000 rows.  And there lays the problem, its storage strategy uses shared strings.

I have my timeout set to 60s and it isn't enough time.

Is there a way to modify this library and get this file to open and stream within 3 seconds withou

[2016-03-04 23:50] adrilo commented on #181
Hi @TamaBaka,

Shared strings definitely takes longer to process than inline strings. Now, there are different strategies reading the shared strings file. Given the number of unique strings and your memory limit, Spout will either load all the strings in memory (if it fits), or split the shared strings file into smaller chunks that fit into memory and load them on demand (this behavior is to preve

[2016-03-07 06:08] adrilo commented on #168
@cannect can you also try downgrading Spout?

[2016-03-07 06:15] adrilo commented on #176
Potentially, a check can be added to see if the given file path is a custom stream wrapper. If it is, there is no need to use realpath. However, this is only useful for CSV as other file types don't support stream wrappers. Not sure if it's worth it and if there is a clean way to do this.

Feel free to submit a pull request though :)

[2016-03-09 21:08] vika8713 opened #182 "Writing into cells with defined format"
There would be very nice to have an opportunity to manage cell format while writing into. Now every entry has a general format (at least in .xlsx files).

[2016-03-10 03:14] adrilo commented on #182
Do you mean controlling the style for each cell separately instead of each row?

[2016-03-10 04:03] MustangZhong commented on #168
@adrilo Thanks for your reply.
The issue was occured on my testing server. but on the production server, it works fine.
so it's quite strange. the config of these two server are the same. so I guess there's somting wrong on my testing server.

thanks again. Good day!

[2016-03-10 04:10] adrilo commented on #168
Hey @MustangZhong, I'm glad the error is gone for you.

It would be great if you could help me figure out why it happened, as other users are experiencing the same issue. Are you using the same PHP version of both servers (dev and prod)?

[2016-03-11 09:20] skeleton opened #183 "Read a CSV with line breaks"
Hi,

I have some troubles with the CSV Reader (v2.4.2).
When I try to read a CSV containing a row with line breaks (but protected by double quotes), the reader returns a truncated line.
The problem seems to come from the `stream_get_line()` method called here https://github.com/box/spout/blob/master/src/Spout/Reader/CSV/RowIterator.php#L160 which truncates the line with the character defined in me

[2016-03-13 17:37] madflow opened #184 "ODS Reader yields different results"
Hi there!

When playing with the ```Reader``` part of the library I came across the artifact, that the ODS reader treats input differently than its peers XLSX and CSV.

1. 0 (Zeros) are treated as missing values - in a Spreadsheet these are perfectly valid values (PHP empty() in use...) I would argue, that even "empty" values are perfectly valid and should yield empty arrays in the row iterator (L

[2016-03-14 18:36] adrilo commented on #184
Hi @madflow, thanks for filing this issue.

This is definitely not the correct behavior. All readers should behave consistently.
If you have time and are interested to help, feel free to submit a PR. I'd be happy to guide you and get it approved

[2016-03-15 01:23] adrilo commented on #166
Hey @anshu2212, it seems like it may be caused by your code rather than Spout. Can you share the snipped where you parse the CSV?

[2016-03-15 08:44] madflow commented on #184
I am interested to help - of course time and knowledge about the spreadsheet internals are an issue. I will have a look at the tests first. I reckon there should be a set of shared tests that all readers should equally pass.

[2016-03-15 09:29] anshu2212 commented on #166
1. `require_once 'Spout/Autoloader/autoload.php';`
2. `use Box\Spout\Reader\ReaderFactory;`
3. `use Box\Spout\Common\Type;`
4. `$reader = ReaderFactory::create(Type::CSV);`
5. `$reader->open('/home/012016.csv');`
6. `echo '<table>';`
7. `foreach ($reader->getSheetIterator() as $sheet) {`
8. `	echo '<tbody>';`
9. `    foreach ($sheet->getRowIterator() as $key=>$row) {`
10. `        if($key==0){`
11

[2016-03-15 09:30] anshu2212 commented on #166
@adrilo above code works perfect for php5 and php7

[2016-03-15 14:01] samirhshaikh opened #185 "XML Reader error"
hi,

I have installed version 2.4.2 of spout class. I am getting following error when performing basic read operation on a XLSX file.

PHP Fatal error:  Call to undefined method Box\\Spout\\Reader\\Wrapper\\XMLReader::readOuterXml() in /srv/sandbox/ws/branches/development-v2/htdocs/DL/3rdparty/vendor/box/spout/src/Spout/Reader/XLSX/Helper/SharedStringsHelper.php on line 184

I have already enabled

[2016-03-15 14:02] samirhshaikh opened #186 "LibXML version"
Hi,

What version of LibXML is required for spout 2.4.2?

Thanks.

[2016-03-15 17:44] adrilo commented on #185
According to http://php.net/manual/en/xmlreader.readouterxml.php, "This function is only available when PHP is compiled against libxml 20620 or later."

[2016-03-15 17:44] #185 closed

[2016-03-15 17:45] adrilo commented on #186
PHP needs to be compiled against libxml 20620 or later.

[2016-03-15 17:45] #186 closed

[2016-03-15 18:13] adrilo commented on #166
Your code looks good! Seems like the issue comes from your version HHVM (feof was fixed in v3.0.0).
At this point, you should check with the [HHVM](https://github.com/facebook/hhvm) team if this is something they know about.

Another option is to try upgrading HHVM to see if the issue is still there. You may also using a corrupted version of HHVM.

Closing the ticket, as there's nothing I can do t

[2016-03-15 18:13] #166 closed

[2016-03-15 20:10] adrilo commented on #184
Yes! Tests are in the "tests" directory (obviously). ODS files are composed by a bunch of XML files, zipped together. One way to get familiar with the ODS format is to create an ODS file with fake data, unzip the *.ods file and look at the extracted files. They all contain some pieces of information you have to merge together to get the actual data.

The test files used in the tests are located in

[2016-03-16 11:37] shadz3rg commented on #168
This is not a library issue.
Use `exit;` immediately after `$writer->close();` as with downloading files.

[2016-03-17 02:42] adrilo commented on #168
@MustangZhong @cannect, can you try what @shadz3rg suggested?

[2016-03-17 04:44] MustangZhong commented on #168
it works！thanks oleg！

Mustang Zhong

[2016-03-17 06:30] #168 closed

[2016-03-18 00:50] adrilo commented on #184
Hey @madflow, your changes look good. Feel free to submit a pull request. I'll be happy to merge it

[2016-03-18 09:21] madflow commented on #184
The current commits only fix bug number 1 (Zeros treated as missing values). The second Bug has not been fixed yet in my branch (tests are failing like they are supposed to) ;)

I can create a "Work in Progress" PR if you like.

[2016-03-18 21:39] #181 closed

[2016-03-18 21:40] adrilo commented on #184
No need for a WIP PR. Just submit the PR when you are done :)

[2016-03-19 01:09] #176 closed

[2016-03-19 01:09] adrilo commented on #176
@VirtualRJ, please let me know if the commit I just pushed fixes your issue.

[2016-03-20 20:22] VirtualRJ commented on #176
@adrilo looks like a nice clean solution. will test as soon as I get the possibility.

[2016-03-21 17:28] adrilo commented on #184
Fixed as part of #189

[2016-03-21 17:28] #184 closed

[2016-03-23 16:48] SauloARS opened #190 "XLSX Writer file not closed properly"
Hi,

Reporting a bug: after using `$writer->close();` the file is not being released.
My Code:

[code]

Unlink returns an error (Permission Denied). Using windows cmd del also doesn't work.
The file can be deleted after the php process finishes.

My fix was to add one line to the close() function, in Box\Spout\Writer\AbstractWriter.php

[code]

[2016-03-23 17:21] adrilo commented on #190
Good catch!

[2016-03-23 17:45] #190 closed

[2016-03-24 00:03] #183 closed

[2016-03-24 01:54] constant-null opened #192 "ODS exports doesn't work with associative arrays"
Export to ODS throws
`ErrorException in Worksheet.php line 147: Undefined offset: 0`
if associative array passed to `addRow` or `addRows` method.

The problem is that elements are accessed using numeric indexes, and since none are present, the error is occurring

    public function addRow($dataRow, $style)
    {
        ...
        for ($i = 0; $i < $cellsCount; $i++) {
            $currentCellVa

[2016-03-24 11:37] bartoffw opened #193 "Can't read cell formatted as "time" in XLSX"
I've found a problem when reading cell values that are formatted as "time". In such case Excel just puts a float value (between 0.0 and 1.0) in the cell that precisely identifies the time of the day.
After some investigation I figured out that the cell is correctly identified as "datetime" format. However, as the value is below 1.0, it gets ignored [here](https://github.com/box/spout/blob/v2.4.3/s

[2016-03-30 17:34] adrilo commented on #192
Hi @constant-null,

To fix this issue, you can call `array_values()` on the row array you're passing to the writer.
I'm hesitant adding this to Spout as it would affect global performance. So I'd rather have every client take care of it so that people not using associative arrays would not be affected.

[2016-03-31 12:52] mirabs opened #194 "Problem with empty cells"
Hi;
I have a problem with empty cells while reading excel sheet.

My file contains 30 columns, usually the last two columns are empty.
While reading the lines with Spout, the size of a row is either 30 (all cells are extracted) or 28 (the last two empty cells are not included). I need to extract all the columns even the empty ones, where do you think is the problem?
I can send you the file if you

[2016-03-31 17:31] adrilo commented on #194
Hi @mirabs,

The dimension of the spreadsheet is not always embedded into the XLSX file. If it is, Spout will be able to read it before parsing the document and fill the row with empty strings if the row has empty cells at the end. However, if it's not, Spout has no idea of the size of the row so it will just ignore the last empty cells.

Also, because Spout uses streaming, you can always move for

[2016-04-01 08:41] mirabs commented on #194
Thanks @adrilo ;
I know the dimension, so I added the empty strings manually.

[2016-04-01 17:01] #194 closed

[2016-04-03 19:27] adrilo commented on #193
Hi @bartoffw,

Thanks for filing this issue and starting the investigation!
It seems like we need to be more precise about the cell types. Dates and times have different requirements so instead of identifying a cell as "datetime", we should be able to tell if a cell is "date", "time" or "date+time". This way, we can handle the 0 - 1 edge case properly.

Feel free to submit a pull request if you ca

[2016-04-05 10:58] madflow opened #195 "XLSX reader trims cell values"
Hello,

I came across the issue, that only the XLSX reader trims the cell values:

[code]

I believe all readers should behave the same (or similar at the most). What is the correct behavior? trim() or no trim() ?

[2016-04-05 21:20] adrilo commented on #195
Hey @madflow, thanks for filing another issue!

I believe the default behavior should be no trim. If you wrote " A " into the file, you should get " A " back. So CSV and ODS have the correct behavior.
Now XLSX should behave the same. After investigation, it seems like the issue only happens with inline strings. When writing shared strings, Spout adds the `xml:space="preserve"` attribute, telling t

[2016-04-06 09:48] #192 closed

[2016-04-06 13:38] madflow commented on #195
Hi, I agree with the judgement that CSV and ODS are correct :)

I can prepare a pull request!

[2016-04-07 05:25] tomikulmala opened #197 "XLSX -file containing only one row offered as HTM in Firefox"
I have a downloadable (_$writer->openToBrowser($filename)_) XLSX -file that contains only one header row (_$writer->addRow($header_row)_) with columns from A to AP.
This single row file is offered as **HTM-file** ("filename.xlsx.htm") in Firefox and as Excel file ("filename.xlsx") in Chrome.
If I write header 6 times (= 6 rows) Firefox also offers it as Excel file ("filename.xlsx").

I have not ha

[2016-04-07 06:56] tomikulmala commented on #197
After some more tests with Firefox... A file with 9 rows and columns from A to AA is being offered as HTM-file. But if I add second sheet with one row it's being offered as an Excel -file.

[2016-04-07 16:29] adrilo commented on #197
Hmmm, I tried reproducing the issue but it's working fine for me on both Chrome (49) and Firefox (45.0.1) - Mac versions. Here is the code I used:

[code]

Can you share the code you're using?

[2016-04-08 04:11] tomikulmala commented on #197
I tried your data and it too gets offered as HTM in Firefox (Chrome works).

This data is pretty much the same as mine. I had to change the field names, but I do have spaces and parentheses in them. Also tried without, but no change.

`$data = ['a','b','c (fi)','d (en)','e (fi)','f (en)','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','aa','ab','ac','ad','ae','af','

[2016-04-08 05:24] adrilo commented on #197
Hi @tomikulmala,

It turns out a lot of people are complaining about this Firefox's behavior. Someone filed a bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=462915

There are some workarounds though. You can take a look at these links:
- https://support.mozilla.org/en-US/questions/965162
- https://support.mozilla.org/en-US/questions/1052979

Spout is sending the correct mime type for XLSX

[2016-04-08 05:28] tomikulmala commented on #197
Thanks @adrilo! I'll take a look at the links.

[2016-04-08 05:28] #197 closed

[2016-04-08 14:44] mirabs opened #198 "Add a comment to a cell"
Hi;

Is it possible to add a comment to a cell with Spout?

[2016-04-09 17:01] adrilo commented on #198
Unfortunately, it's not.

[2016-04-09 17:01] #198 closed

[2016-04-09 20:20] #195 closed

[2016-04-19 14:35] FernandoBasso opened #201 "Total number of rows for a sheet."
If I iterate over thousands of rows on a sheet, I need a way to calculate how much I have done already so I can also update UI or other things.

So, the question is: Is there already some way to get the total number of rows for a sheet?

I know I can manually count the number of rows as they are being read, but it would be useful in some situations to know that before starting the iteration.

[2016-04-19 14:38] tomikulmala commented on #201
+1

[2016-04-20 06:03] adrilo commented on #201
This is similar to #170. I gave some details about why this is unfortunately not possible (or at least not consistently). The only reliable option is to process 2 the file twice (which you don't want to do :P)

[2016-04-20 06:03] #201 closed

[2016-04-20 06:31] tomikulmala commented on #129
+1 Would be a really good feature!

[2016-04-20 11:29] joefreire commented on #193
i'm with same problem, i need get value as time and spout return all time value as null
how i can solve that?

[2016-04-20 11:33] FernandoBasso commented on #201
Okay. Thanks for the link to the other issue. I completely understand. For the task I have at hand now, I'll just update the user on the number of rows already processed rather than the percentage remaining. It will do just fine.

Thanks a lot for for everything.

[2016-04-20 12:03] bartoffw commented on #193
@joefreire, @adrilo I've just submitted an initial fix for this, for those who need instant solution. As soon as I have some more time I'll think it over and see how the code may be improved.

[2016-04-20 13:06] joefreire commented on #193
thank you for you help, works for me

[2016-04-20 13:13] joefreire opened #203 "Best way to past empty row"
Whats the best way to skip empty rows?

[2016-04-20 15:52] madflow commented on #182
@adrilo I believe that is what @vika8713  is asking for. This is basically covered  in #124 I think. I have a use case for this, where I want to create a "heatmap": a carpet of values (with background color) in a spreadsheet.

In addition to #124 I could think of lighweight "Cell Objects" that contain the cell value, the value type, styling, cell comments, other metadata - that could be passed to

[2016-04-20 15:58] madflow commented on #203
Are your referring to the ```Reader``` part of the library? As far as I known they are skipped by default...

[2016-04-24 07:54] TonisOrmisson commented on #182
I would love to have the opportunity to be able to format each cell individually.
In terms of using spreadheet as an analysis tool it is very useful to be able to visually highlight cells to visually make it easier to identify important pieces in a matrix. I would have a lot of use for a tool that could do cell level formatting and would not run into memory problems over ridiculously small files (

[2016-04-24 08:03] TonisOrmisson commented on #182
Since the Styling currently is rather limited I'll specify that I would really love to be able to add to current styling: background colour, borders, cell comments.
This would allow do create visually presentable tables.

BTW. I love this code. I have just gone through 4-5 different Excel readers/writers over past weeks that all seem to run into memory issues very quickly. This project seems exact

[2016-04-25 08:04] yort opened #204 "Formula extraction support for XLSX files"
Hi guys,

It is possible to add support for extracting of formula from XLSX cells?

I am not looking at parsing of formula for calculating values, instead just returning the formula itself would be helpful.

It looks like formula is always in a <f> element within which ever value (eg. within <c> elements).

I attempted a dirty hack by adding in another formatting function at https://github.com/box

[2016-04-26 02:54] adrilo commented on #204
Hi @yort, this is not currently supported but I can add it to the roadmap for v3.
v3 should introduce a more granular reader/writer. So instead of rows, you can deal with cells directly. This could give you the possibility to query multiple things about the current cell (like the formula). Currently, it does not make sense to return the formulas for the whole row as some cells may not have any for

[2016-04-26 09:44] yort commented on #204
Thanks @adrilo, I didnt know v3 was being worked on. Is there a time line for it as yet?

Thanks
YorT

[2016-04-27 00:06] adrilo commented on #204
Well to be honest, v3 is not being worked on. But I'm gathering ideas and needs for when I'll have more time to work on it :)

[2016-04-27 12:48] aferrop commented on #180
Good! please, include this trick in the readme

[2016-04-27 16:08] arisdario commented on #129
+10

[2016-04-27 16:11] arisdario opened #205 "Numbers stored as string"
Is there a way to avoid this?, for me is fine to get some columns with data stored as text, but in some case where i have only values like: "10.00" or "19.99" i don't want to store this kind of values as text, i need to select each cell and convert to value manually and if have 20k rows is really painful ! sometimes work with all selected sometimes some value break this selection !. Thx

[2016-04-27 17:13] adrilo commented on #205
Unfortunately, it's not currently possible. Spout inserts all values with the "General" type.
I'll add this to the todo list for v3 though.

[2016-04-27 17:17] arisdario commented on #205
Thanks !

[2016-04-28 21:01] adrilo commented on #180
Done! https://github.com/box/spout/wiki/Read-data-from-a-specific-sheet-only

[2016-04-30 14:58] iamquan commented on #151
:+1:

[2016-05-02 11:34] stephanaspi opened #206 "Define a specific field delimiter and field enclosure for csv writer"
It would be nice to have the ability to define the field delimiter and field enclosure for csv writer.

[2016-05-02 16:12] madflow commented on #206
Go ahead and use:

https://github.com/box/spout/blob/master/src/Spout/Writer/CSV/Writer.php#L39

[2016-05-03 09:26] stephanaspi commented on #206
Okay my mistake - didn't see that. Sorry.

[2016-05-03 09:26] #206 closed

[2016-05-03 16:17] rps-repo opened #207 "Sheets iterating by sheet name in alphabetical order"
In the past when reading sheets they iterated in the order as shown in the excel file.  Now with the latest code I am finding that no matter what order the sheets are in the file the order in which they iterate is always alphabetical.  Is this a bug or by design?

[2016-05-03 16:39] jaminion commented on #205
I thought it might be worth mentioning that when you set your array elements that you pass to addRow() or addRows(), you can explicitly cast them to have them set as a numeric value in the cell instead of a string, at least with XLSX. In \Box\Spout\Writer\XLSX\Internal\Worksheet, the addRow() function uses CellHelper::isNumeric() to determine if the value is numeric, which in turn checks the retur

[2016-05-03 18:46] rps-repo opened #208 "Reader dates"
Are there any examples anywhere of how dates are supposed to be used with the reader?

[2016-05-03 21:33] arisdario commented on #205
@adrilo, thanks for your hint. I will test this version and also i will test the performance and speed of writing a sheet whit 40k values. and i will post the rrsults. Thanks

[2016-05-05 20:40] nasser-halabi opened #210 "use keyword error"
Hi,
I've read a lot of positive reviews about the library and would love to use it. just to mention that I'm a beginner.
I've installed composer on the same folder my my project, installed spout and got the vendor folder which contains box and spout.
the problem is when ever I use the "use" keyword to test the reader I get a white blank page on my website.
I tried changing the use command to :
use

[2016-05-06 09:58] madflow commented on #207
Hi there, the ordering is done by the Sheet-Index (a zero based numeric value). I has been changed in recently in this PR: https://github.com/box/spout/pull/165

Maybe you can post the xlsx file and the behaviour you expect?

However - I can **not** reproduce the alphabetical ordering:
[code]

yields:

[code]
[code]

results in:

[code]

[2016-05-06 10:05] madflow commented on #210
Check your PHP version. It should be >= 5.3.0

Then read:

http://php.net/manual/en/language.namespaces.rationale.php
https://getcomposer.org/doc/01-basic-usage.md#autoloading

And do:

[code]

[2016-05-06 17:03] nasser-halabi commented on #210
I have php 5.4.0
I really am confused do i have to modify the autoload.php?
I tried adding the 'require_once' but didn't do anything still white page, I copied the scr folder to the same level of vendor folder still nothing happened.
what am i missing here :( .
thanks

[2016-05-07 09:04] madflow commented on #210
Blank pages usually have an error attached to them. What does that error say?

Also check the requirements https://github.com/box/spout#requirements - maybe you are missing something here.

However - I suspect a Composer/Namespace issue and not an issue with this library.  Since you state you are a beginner - maybe you can setup a minimal example with Composer and PHP namespaces and come back when

[2016-05-08 16:32] nasser-halabi commented on #210
Thank you for your reply madflow,
you're right I had a problem with the use keyword which I put inside my function instead of the public area in php code. I also had to add require_once __DIR__.'/vendor/autoload.php'; just below the use keyword for the code work.

[2016-05-08 16:32] #210 closed

[2016-05-10 21:45] robertkern opened #212 "Numeric cells with automatic formatting being converted to date"
[Numbers-Excel-Sample.xlsx](https://github.com/box/spout/files/258176/Numbers-Excel-Sample.xlsx)

Using the attached file (which was generated by Numbers on a Mac) you should be able to see 2 rows that look like the following:

Date | UniqueID | Latitude | Longitude | Value
---- | -------- | -------- | --------- | -----
2016-01-04 00:05:00 | 2776735 | 33.0195915 | -116.8402815 | 1

Using v2.4.4 of

[2016-05-12 09:51] ricardoper opened #213 "XLS read/write support"
Hello,

It's posible to support XLS format (read and write)?

This format is widely used by companies due to internal policies.

Thanks,
Best regards.

[2016-05-13 15:45] Deusing opened #215 "Cyclic file"
[Extra1.xlsx](https://github.com/box/spout/files/263589/Extra1.xlsx)

I'm trying to open an excel file with a Cyclic reference, but get the following error.

[code]
and i get

[code]
Does spout support excel with a cyclic reference?

[2016-05-13 20:05] tegansnyder commented on #207
I can reproduce this issue.

Prepare a file offline in Excel with multiple sheets in it and set the path to `$existing_file_path` variable to point to it.
[code]

The columns will be out of order. I've created the file on Mac using Excel 2016 for OSX and running PHP 7.0.2.

I can fix the issue by commenting out the `usort` in: `Spout/Reader/XLSX/Helper/SheetHelper.php` around line 82.

[code]

[2016-05-14 15:31] swaitz opened #216 "Add data to a specific cell"
Is there a possibility to add data to a cell and not complete rows?
Something like addCell($data, $rowIndex, $columnIndex)?

I need this to maintain my connection between the header of the excel file and the data of it. We generate the excel from tables which are completly changable by the user. So he can swap cells in such a manner like he want to view his data.

[2016-05-15 18:32] lexakozakov opened #217 "Sheet rows limit to 65535, Why?"
Here is my code
[code]

The Excel file contains only 65535 rows. The docs tells "For XLSX and ODS files, the number of rows per sheet is limited to 1,048,576.".

Could you please tell how to reach these numbers?

Thank you.

[2016-05-15 18:58] lexakozakov commented on #217
My fault, the exported file contains all 66000 rows. Numbers has a Columns limit of 256 and a Rows limit of 65,535.

I also tried to export 500K responses and uploaded the file to Google Drive - Google didn't want to open the file and said "File is too large.".

Hence, maybe there is no reason to export a such big data to one Excel file in case when you'd like to share that file with somebody. The

[2016-05-16 16:13] madflow commented on #215
Hi there,

this has nothing to do with a cyclic reference as far I can tell. The source file contains "date" fields and they are converted to ```DateTime``` objects by the ```Reader```. This will fail because you can only add scalar values to the ```Writer```. See #151

So in your case - this h4ack should work:

[code]

[2016-05-16 17:33] #217 closed

[2016-05-16 17:37] adrilo commented on #216
Unfortunately, this is not possible. In order to manage memory efficiently, Spout streams the data you sent it to the output file, one row at a time. This is a one way operation, which means you can't go backwards... So once you've written a row, you can't make any changes to it, nor to the previous rows.

To solve your problem, the only option I see is to do some kind of preprocessing to make sur

[2016-05-16 17:37] #216 closed

[2016-05-16 17:37] adrilo commented on #215
Good point @madflow! Really need to change that.

[2016-05-16 17:37] #215 closed

[2016-05-16 17:45] adrilo commented on #213
Even though XLS is still used by a lot of companies, it is a really old format! I believe the oldest Office version supporting XLSX format is Office 2000 on Windows XP. Microsoft stopped supporting both of them a while ago.

Supporting a new format is a lot of effort, in terms of both implementation and maintenance. And since XLS is a proprietary, old and dying format, I don't think it is worth be

[2016-05-16 17:45] #213 closed

[2016-05-16 17:47] adrilo commented on #208
The reader returns a DateTime object. You can find documentation here: http://php.net/manual/en/class.datetime.php

I understand that this may be a bit confusing and some people would like to have the formatted date instead. I'll work on that!

[2016-05-16 17:47] #208 closed

[2016-05-16 17:49] #205 closed

[2016-05-16 17:49] #203 closed

[2016-05-18 07:21] madflow opened #218 "ODS Reader does not read text in hyperlinks"
Consider the following file with a hyperlink in a cell:

[test_ods_hyperlinks.ods.zip](https://github.com/box/spout/files/269809/test_ods_hyperlinks.ods.zip)

[code]

results in:

[code]

This is how it looks like in XML:

[code]

Should be easy to fix

[2016-05-18 09:04] madflow opened #219 "XLSX Reader trims text nodes"
The XLSX Reader trims cell values like this:

[code]

but not like this:

[code]

[sheet_with_hyperlinks.xlsx](https://github.com/box/spout/files/270022/sheet_with_hyperlinks.xlsx)

This results in:

```go tohttps://github.complease```

instead of:

```go to https://github.com please```

The ```preserve``` attribute is kind of vague: https://www.w3.org/TR/xml/#sec-white-space ```the value "preserv

[2016-05-18 22:25] adrilo commented on #207
Thanks @tegansnyder! I was able to reproduce the issue.
@rps-repo that is definitely a bug, and the cause was pointed out by @tegansnyder.

Sheets are defined in two files:
- `[Content_Types].xml` which lists all the sheets available and where to find them. The order in this file should not matter.
- `workbook.xml` in which the order of the sheets is the correct order.

Workbook.xml looks like thi

[2016-05-19 14:32] tegansnyder commented on #207
@adrilo that makes perfect sense. I will look forward to a fix from upstream and will continue to use my fork until then.

[2016-05-19 16:40] #212 closed

[2016-05-19 17:37] #207 closed

[2016-05-19 20:10] #193 closed

[2016-05-19 20:21] adrilo commented on #219
`space="preserve"` behavior is pretty clear: do no touch the whitespaces.
In case this attribute is missing, whitespaces should be trimmed. However, it's totally ok to add a space between each `<t>` tags that are part of the same `<si>` tag. I believe that this is how it should be implemented.

What do you think?

[2016-05-20 12:39] madflow commented on #219
It is not that clear to me. For me this in an implicit presumption what whitespaces are and where they should be removed. I bet there are whitespaces that PHP trim() does not remove.

But ... I have no strong opinion how this should be handled in spout. If there is a rule how to handle ```si/r/t``` - than lets do it!

Btw: This came up when copy-pasting the resource test from #218 to the xlsx test

[2016-05-20 17:18] adrilo commented on #219
The spec says that when no attribute is specified, it's up to the parser to decide what to do with the whitespaces. I looked at how Microsoft decided to actually handle whitespaces and it seems like they aggressively remove all of them, for perf and memory reasons:
https://msdn.microsoft.com/en-us/library/ms256097(v=vs.110).aspx
https://msdn.microsoft.com/en-us/library/ms762315(v=vs.85).aspx

So I

[2016-05-20 23:08] #178 closed

[2016-05-21 01:47] #218 closed

[2016-05-23 18:23] madflow commented on #219
:+1: Sounds good!

[2016-05-23 21:15] #219 closed

[2016-05-24 08:12] KiNgMaR opened #230 "Unable to recover original row index from XLSX reader"
Hi there @adrilo et al,

in an XLSX file, completely empty rows seem to be omitted from the XML altogether. This means that for a sheet like the following example

    1 | Title  |      |
    2 |        |      |
    3 | Data   | Data |
    4 | Data   | Data |

the indices returned from `$reader->getSheetIterator()` will be assigned like this:

    0 | Title
    1 | Data
    2 | Data

which means t

[2016-05-24 22:01] adrilo commented on #230
Hey @KiNgMaR,

As you noticed, Spout ignores empty lines. I understand that this may not be the best behavior.
A non-breaking change can be implemented, adding the option to choose whether empty lines should be kept or ignored. This would result in:

[code]

It still not what you're proposing. I'm not sure if it's better to have the row index be the row number in the spreadsheet or just an indicat

[2016-05-25 05:57] madflow commented on #230
I would prefer an option to preserve empty lines.

[2016-05-25 06:12] KiNgMaR commented on #230
Hey,

the root issue is not really that spout actively _skips_ empty rows, it's that empty rows do not even appear in the XML:

    <row r="1" x14ac:dyDescent="0.2" ht="15.75" spans="1:17">
        ...
    </row>
    <row r="3" x14ac:dyDescent="0.2" spans="1:17">
        ...

Maybe we can have two options? One that preserves empty lines (also relevant for the other readers) and one that uses the a

[2016-05-25 16:02] madflow opened #231 "ODS Writer does not accept associative arrays"
Consider the following snippet:

[code]

This results in:

`PHP Notice:  Undefined offset: 0 in /home/flo/Projects/Php/spout/src/Spout/Writer/ODS/Internal/Worksheet.php on line 147`

And a Workbook looking like this:

[code]

This works in xlsx and csv.

Bug of feature?

[2016-05-25 16:15] madflow commented on #231
#192 Okay - Feature then ;)

[2016-05-25 17:04] adrilo commented on #231
Actually, if it works with XLSX and CSV, maybe it's better to also add it to ODS. That would make the developer experience consistent. I'll run some perf tests to see how bad this would be to add this

[2016-05-25 23:26] jordanade commented on #129
I don't need auto-fit, just a way to set widths for each column! Any way to workaround/hack this for now?

[2016-05-25 23:33] jordanade commented on #129
Oh, figured it out--just added this line to Worksheet.php, startSheet():
`fwrite($this->sheetFilePointer, '<cols><col min="1" max="1" width="100" customWidth="1"/><col min="2" max="6" width="30" customWidth="1"/></cols>');`

[2016-05-26 01:18] adrilo commented on #129
@jordanade You can also look at #225 if you need to hack something that works.
I'm not a big fan of this as it creates an API that is specific to XLSX. Also, if Spout could automatically calculate the width of each column, it would solve 95% of the problems.

[2016-05-26 02:10] adrilo commented on #231
Alright I ran some quick tests. I used an array and a hash table with 100 values/keys. I then iterated over it 100,000 times. Here is the ugly code:

[code]

Results:
- `$array`: 0.5 seconds
- `array_values($array)`: 0.8 seconds
- `array_values($hash)`: 2.3 seconds

I guess using array_values the change would not be too bad for perfs.

[2016-05-26 02:13] adrilo commented on #231
I can push a change to fix that.
XLSX writer uses `foreach ($dataRow as $cellValue)` which works both for arrays and associative arrays. On the other hand, ODS writer uses `for ($i = 0; $i < $cellsCount; $i++)` because it relies on numeric indexes.

[2016-05-26 02:59] #231 closed

[2016-05-26 08:09] Rushleader commented on #230
I like the idea of the option that preserves the row indexing (and adds empty rows where required). Should be the cleanest way.
Default option should be just load the rows and skip empty I think

[2016-05-26 19:45] anevidomy opened #233 "Cannot read XLSX file"
Hello!
I just want to read XLSX file (in attachment), but got the error:
Notice: Undefined offset: 0 in W:\home\local\test\library\Spout\Reader\XLSX\Helper\SheetHelper.php on line 109 Fatal error: Call to a member function getAttribute() on a non-object in W:\home\local\test\library\Spout\Reader\XLSX\Helper\SheetHelper.php on line 111

Spout version - 2.4.4

[1.xlsx](https://github.com/box/spout/f

[2016-05-27 16:55] adrilo commented on #233
Hey @anevidomy, do you know how the file was created? I looked at its structure and it differs from the standard...

In the XML file describing the workbook (`workbook.xml`), here is what there is:
[code]

Here is what is should be:
[code]

The standard does use a `x:` prefix for the namespace.
Now, it seems like Microsoft tool to handle XLSX file does use `x:` (https://msdn.microsoft.com/en-us/li

[2016-05-27 17:24] adrilo commented on #230
Thanks for your input! Very valuable :)
I believe the default should be:
- preserve row indexes: because in 99% of cases, row indexes do not matter. What matters is having the rows in order of appearance.
- have an option to skip/preserve empty rows: they are both very valid use cases - if you only care about the content or if you also care about its structure (or let's say if you want to add a ne

[2016-05-27 17:38] anevidomy commented on #233
Thank you for answer!
I got this file from our client for test and really don't know how it was created, but it can be opened in MS Excel 2007 and the next Excel reader - http://excelviewer.softgateon.net

In any case, Spout version 2.4.0 doesn't show error for this file - I sow it's code, there are some checks which don't exist in 2.4.4 (therefore I got Fatal error because these variables are emp

[2016-05-27 18:51] adrilo commented on #233
There is no error but is Spout able to read the values?

[2016-05-27 19:21] anevidomy commented on #233
in Spout 2.4.0 - no, it will return empty rows all the time and without end of file (so I added check - if a hundred rows are empty then stop reading file)

[2016-05-28 02:04] adrilo opened #236 "Helper classes should be singletons"
StyleHelper, CellValueFormatter, etc... don't need to be created more than once, as they only expose helper "static" functions. They should be converted to singletons to improve memory usage.

[2016-05-30 05:16] #233 closed

[2016-05-30 05:17] adrilo commented on #233
@anevidomy, I merged a fix for your issue. Can you give it a try?

[2016-05-30 06:29] KiNgMaR commented on #230
Sounds good to me :) Regarding the BC break, what do you think about defaulting the option to preserve row indices to false for v2 and then enabling it by default for v3?

[2016-05-30 13:23] anevidomy commented on #233
Thank you a lot!
Sure, I can check it today, but where can I take source code of fixed Spout version?

[2016-05-30 15:39] anevidomy commented on #233
Tested it - perfect!!!!! Now I can read my file and parse all values.
Thank you a lot!!!

[2016-05-30 20:55] #236 closed

[2016-05-31 15:32] adrilo commented on #230
Do you think it's useful to have such an option? I believe most people don't care whether the indices are [1,2,3] or [1,3,4]. And I don't see why someone would want to keep the indices the way they are now.
Adding options adds some complexity to the library, so I'd be very careful about the new APIs/options we add.

Enabling the option by default for v3 is also a breaking change (as the default be

[2016-06-04 20:46] Bernd2069 opened #241 "Problem when use openToBrowser"
Excel 2016 (Office 365) says that the file has a problem and wants to repair the file.
With opentoFile everything works fine.
![image](https://cloud.githubusercontent.com/assets/19753006/15801978/d6b7ef06-2aa5-11e6-9ea1-c03363465eb1.png)

<?php
require_once(dirname(__FILE__)."/Spout/Autoloader/autoload.php");
use Box\Spout\Writer\WriterFactory;
use Box\Spout\Common\Type;
use Box\Spout\Writer\Style

[2016-06-05 09:01] mrlopezhouston commented on #241
I am having this same issue. Works fine with opentoFile but would rather stream output.

[2016-06-05 09:59] mrlopezhouston commented on #241
In my case the issue was actually any additional spaces outside of the php brackets that was effecting the stream. After spaces were removed it streamed normally without prompting a repair.

[2016-06-05 14:32] Bernd2069 commented on #241
Yes, also my problem  is solved when I removed some spaces.
Thank you

[2016-06-05 18:06] Topheur opened #242 "Different style for two cells on the same row"
Hello,

I would like to know if it is possible to affect some style for two cells on the same row. By example : bold for A1 and font color blue for B1.

Thanks

[2016-06-06 22:12] adrilo commented on #242
@Topheur, it is not currently possible. But it should be with v3. This is tracked here: #182

[2016-06-06 22:12] #242 closed

[2016-06-08 02:06] adrilo commented on #241
Glad you figured it out. Spout should still be able to fix this automatically. It's just a matter of adding `ob_end_clean()` when `openToBrowser()` is used. This will remove any characters already outputted that will corrupt the file. I'll push a change for that

[2016-06-08 07:54] joyqhs opened #244 "Fatal error: Uncaught exception 'Box\Spout\Common\Exception\EncodingConversionException' with message 'The conversion from UTF-16LE to UTF-8 failed.'"
Fatal error: Uncaught exception 'Box\Spout\Common\Exception\EncodingConversionException' with message 'The conversion from UTF-16LE to UTF-8 failed.'

[2016-06-08 10:05] madflow opened #245 "ODS Reader does not read text with inline formatting"
When you format text within a text in cell, the ODS reader cannot read it:

[sheet_with_inline_font_formatting.ods.zip](https://github.com/box/spout/files/304459/sheet_with_inline_font_formatting.ods.zip)

[code]

The XLSX Reader can read the text part.

[2016-06-08 13:02] Gamesh opened #247 "there is no way to disable textWraping through the API"
since enhancement https://github.com/box/spout/pull/83
Spout automatically wraps cells that contains newlines and we want to disable that, but current API does not provide any means for that.

Style builder only has an option to enable wraping but not to disable.
`Style->shouldWrapText` if only set to true by setShouldWrapText method.

Perhaps you could modify that method and add a parameter that

[2016-06-08 16:50] #245 closed

[2016-06-08 16:51] adrilo commented on #244
Well, the error looks explicit. Can you send me the file you are trying to read?

[2016-06-08 17:01] adrilo commented on #247
As a workaround, can you remove the newlines before passing data to `addRow()`?

[2016-06-08 20:53] #241 closed

[2016-06-09 05:03] Gamesh commented on #247
not really, they are needed as excel is used for data export which another application import.

i've found another workaround, extended the Style class and overridden the method shouldWrapText it now returns always false and passed in the newly created style into the addRowWithStyle method.
[code]
but the ability to change it through the api still would be great.

[2016-06-09 16:55] jakgab opened #249 "Exception' with message 'DateTime::__construct():"
On php hosting server occurs an error:

Fatal error: Uncaught exception 'Exception' with message 'DateTime::__construct():
It is not safe to rely on the system's timezone settings.
You are *required* to use the date.timezone setting or the d
ate_default_timezone_set() function. In case you used any of those methods
and you are still getting this warning, you most likely misspelled the timezone ide

[2016-06-09 17:10] adrilo commented on #249
Make sure to call `date_default_timezone_set()` (http://php.net/manual/en/function.date-default-timezone-set.php) before calling Spout. You'll need to set the default timezone to whatever makes sense for your program (can be UTC or your actual timezone).

[2016-06-09 17:10] #249 closed

[2016-06-09 18:26] jakgab commented on #249
Ok. Thanks.
You are right, this is not the framework's job.
I have corrected it.
2016. jún. 9. du. 7:10 ezt írta ("Adrien Loison" <notifications@github.com

[2016-06-09 23:40] jordanade commented on #129
Surely there is room for APIs that may not work for all possible file outputs? Best effort, etc...

[2016-06-10 12:15] ranjeet21r opened #250 "Browser giving "The mysitename.com page isn’t working it didn’t send any data." message"
$results = DB::table('table_name')->select($tblcolumnsreal)->orderBy('id', 'desc')->get();

$filename = time() . '_dump_tool_data.csv';
$writer = WriterFactory::create(Type::CSV); // for CSV files
$writer->openToBrowser($filename); // stream data directly to the browser

$writer->addRow($tblcolumns); // add a row at a time
$writer->addRows($results); // $results columns contains about 112780 recor

[2016-06-12 13:16] wibrahimy opened #251 "Compatibility with Codeigniter"
Is this library work with codeigniter? and if it works, how to use it?

Thanks,
Ibrahimy

[2016-06-13 18:55] adrilo commented on #251
Hi @wibrahimy,

Spout should work with CodeIgniter, as CodeIgniter supports libraries installed via Composer.
You can look at this link to enable auto-loading for composed libraries: https://www.codeigniter.com/user_guide/general/autoloader.html

You can follow the install guide (in the README of this repo) to install Spout via Composer. Then, you'll be able to use Spout as it's described in the R

[2016-06-13 18:55] #251 closed

[2016-06-13 21:26] adrilo commented on #250
Hi,

First, you should probably use an iterator instead of fetching all the records at once and storing that in a variable as this can lead to memory issues :)
Anyways, your code looks good. I quickly googled the issue and it seems like an environment issue that has not much to do with the code. To make sure, you can try reproducing it in other browsers.

If you are able to reproduce the error in

[2016-06-13 21:26] #250 closed

[2016-06-14 13:51] madflow opened #252 "GlobalFunctionsHelper::ob_end_clean generates E_NOTICE"
[code]

[2016-06-14 17:02] #252 closed

[2016-06-15 05:18] adrilo commented on #129
I'm actually trying to avoid this as much as possible. Although I'll definitely reconsider after implementing the automated method.

[2016-06-15 08:35] momopluto opened #254 "Can't support xlsx file created by WPS Office(an office software likes MS office, almost only used in China)"
For some reason, my program should read the data from xlsx file which creates by WPS Office.

I was disturbed by the difference between WPS Office and MS office.

At first, all my test xlsx file was from WPS. I got the error as follow.

But after I transfer Book1.xlsx from WPS one to MS one, I get the result I want!

I really want to use the library, to low the memory usage(That attract me!).

Mor

[2016-06-15 09:07] madflow commented on #254
Please attach a not working file created with WPS Office for testing.

[2016-06-16 03:11] momopluto commented on #254
[MS_Spout_test.xlsx](https://github.com/box/spout/files/317608/MS_Spout_test.xlsx)
[WPS_Spout_test.xlsx](https://github.com/box/spout/files/317609/WPS_Spout_test.xlsx)

MS_Spout_test.xlsx, works.
WPS_Spout_test.xlsx, not.

ps:
You can download the [WPS Office](http://www.wps.cn/) from its wesite.

Thanks for your help!

[2016-06-16 15:48] madflow commented on #254
Okay I did a quick test on this one. The problem seems with the ```InMemoryStrategy```. When I hardcode the caching strategy to ```FileBasedStrategy``` - then the file is read.

The ```InMemoryStrategy``` uses a ```SplFixedArray``` as storage. Interestingly the  "Width" of the fixed array is calculated wrongly.

[code]

This is pretty deep in XML land - I commited a first failing test in a branch

[2016-06-16 17:06] #254 closed

[2016-06-16 17:06] adrilo commented on #254
@momopluto I just pushed a fix. Please verify that the problem is now fixed for you. Thanks!

[2016-06-17 09:31] momopluto commented on #254
Yes, it works.
Many thanks!

[2016-06-19 06:36] #135 closed

[2016-06-23 16:21] cmanley opened #257 "Fails to find sheets that are not all lowercase, e.g: Sheet1.xml"
I'm trying to read XLSX files generated by Crystal Reports. Unfortunately, Crystal Reports doesn't use lowercase names for the sheet xml files. Because of this, I get these errors with Spout:
PHP Notice:  Undefined offset: 0 in vendor/box/spout/src/Spout/Reader/XLSX/Helper/SheetHelper.php on line 109
PHP Fatal error:  Call to a member function getAttribute() on null in vendor/box/spout/src/Spout/R

[2016-06-23 17:15] Gavrisimo opened #258 "setEndOfLineCharacter() on CSV writer"
Hello,

are there any plans to have `setEndOfLineCharacter()` method in `Box\Spout\Writer\CSV\Writer` class?

The reader `Box\Spout\Reader\CSV\Reader` already has that.

What I am trying to do is something like this:

[code]

Any idea how to do that?

[2016-06-23 22:06] adrilo commented on #257
Hey @cmanley, I tried reading the file you sent and it works fine.
The way sheets are read has been changed recently so I guess you're not using the latest version. Can you please try with the latest version and tell me if that works better?

[2016-06-23 22:42] cmanley commented on #257
That fixed it. Thanks!
B.t.w. The version I downloaded was yesterday or today with the composer command in the README.

[2016-06-23 22:42] #257 closed

[2016-06-23 22:46] adrilo commented on #257
Yeah, I haven't released a new version with all the recent changes

[2016-06-24 01:46] vergel-mercado opened #259 "Is there a way to open the file from URL or an external server?"
Fatal error: Uncaught Box\Spout\Common\Exception\IOException: Could not open http://00.00.00.00/thefilename.xlsx for reading! Stream wrapper used is not supported for this type of file. in C:\xampp\htdocs\Spout\Reader\AbstractReader.php:73 Stack trace: #0 C:\xampp\htdocs\Spout\index.php(14): Box\Spout\Reader\AbstractReader->open('http://00.00.00.00...') #1 {main} thrown in C:\xampp\htdocs\Spout\Re

[2016-06-24 10:08] adrilo commented on #259
You may be able to do it with CSV files. But it does not work for other file types. You'll have to download the file locally first.

[2016-06-24 10:08] #259 closed

[2016-06-26 11:33] madflow commented on #258
Hi, I cannot comment on if there are any plans introduce ```setEndOfLineCharacter()``` in the CSV writer.

The writer uses `fputcsv` and PHP always appends a ```\n``` EOL I suppose. https://github.com/php/php-src/blob/adc95c511495f00cd1a90feff5fff7968e38fc4a/ext/standard/file.c#L1976

So I looks like I would be a hacky way to do that like in http://stackoverflow.com/questions/4080456/fputcsv-and-n

[2016-06-29 07:07] cmanley opened #260 "Problems reading XLSX files generated by Crystal Reports"
I'm using the latest master version and I'm getting this exception with an XLSX file exported by Crystal Reports:
Box\Spout\Common\Exception\IOException with message:
Could not open test.xlsx for reading! (Index invalid or out of range)
in Spout/Reader/AbstractReader.php line 105

It could be related to:
https://github.com/box/spout/issues/254

If I open the xlsx file in LibreOffice and save it ag

[2016-06-29 09:39] adrilo commented on #260
Hi @cmanley, it seems like Crystal Reports is causing a lot of issues ! :)
The line you indicated is where the exception is thrown and the error message is pretty vague. Without a stacktrace or (even better) a test file, I won't be able to help you. If you could get me one or the other, it would be a good start.

[2016-06-29 12:06] cranesoft commented on #260
I too had an issue reading a Crystal Reports saved file.  In my case it was an .xls file and the issue ended up being that Crystal saved the file in HTML slapping on an .xls extension.  Similar to you I could open and save the file in something else (Excel in my case) and box / spout had no issue.

[2016-06-29 12:13] cranesoft commented on #260
Further, I determined the problem by opening up my file in an editor.  The file was clearly HTML, not binary.

[2016-06-29 13:42] blasto333 opened #261 "Excel .xlsx writer make all cells TEXT"
I am and am trying to figure out how to make all cells written in text format and NOT general. It doesn't seem to be possible. The reason being is if a user edits a cell I want it to be exactly as the typed and NOT have excel guess what it is. (Converting 10% --> 10% as a PERCENT; when I read this back it is .1 and not 10%)

in [phpExcel](https://phpexcel.codeplex.com) I am able to do:

[code]

to

[2016-06-29 15:52] adrilo commented on #258
The answers on the Stackoverflow thread are incorrect. Please do not do that! They are missing a lot of the safety provided by `fputcsv` (quotes escaping for instance). So it will work for the simple cases, but will fail as soon as you start passing more complex values to it.

If `fputcsv` does not allow developers to customize the line ending, I don't think I'll add this to Spout. If you really n

[2016-06-29 16:40] cmanley commented on #260
@adrilo I can mail you a test file of 10 rows but I don't know your mail address.
@cranesoft In my case it was really xlsx.

[2016-06-29 16:57] cmanley commented on #260
There wasn't much of a useful stack trace due to the try-catch construct around line 105, so I commented out the try-catch parts without changing the line numbers. This is the error and stack trace that I get now:
`PHP Fatal error:  Uncaught exception 'RuntimeException' with message 'Index invalid or out of range' in ...Spout/Reader/XLSX/Helper/SharedStringsCaching/InMemoryStrategy.php:42
`
Stack

[2016-06-29 23:19] Gavrisimo commented on #258
@adrilo yeah that would help. I'll give it a go and let you know how that works for me.

Btw this is the only thing stoping me to completely remove PHPExcel from our app. :)

Have you seen what they are doing?

https://github.com/PHPOffice/PHPExcel/blob/c4782b660619be139a64d96a545f6a422ca74c20/Classes/PHPExcel/Writer/CSV.php#L312-L351

Is that something you guys can do as well or is that something

[2016-06-30 09:54] rlukasz opened #262 "missing globalFunctionsHelper"
Hi,
Here is direct call of fgetcsv. Should be by globalFunctionsHelper.
https://github.com/box/spout/blob/master/src/Spout/Reader/CSV/RowIterator.php#L156

[2016-06-30 10:17] adrilo commented on #262
Thanks @rlukasz! Want to submit a quick PR?

[2016-07-02 07:41] rlukasz commented on #262
Sure @adrilo, how to push it?

[2016-07-03 21:19] adrilo commented on #262
https://help.github.com/articles/creating-a-pull-request/

Or because the change is really simple, you can go https://github.com/box/spout/blob/master/src/Spout/Reader/CSV/RowIterator.php, click the edit icon, make the change and submit the pull request. I'll then approve and merge your change

[2016-07-03 23:11] rlukasz commented on #262
Pull request created. Thanks for a guidance.

Pozdrawiam,
Łukasz Rajczyk

2016-07-03 23:19 GMT+02:00 Adrien Loison <notifications@github.com>:

[2016-07-05 13:46] cmanley commented on #260
Attached is a small Crystal Reports XLSX file that causes the aforementioned exception.
[CrystalReports.xlsx.zip](https://github.com/box/spout/files/347832/CrystalReports.xlsx.zip)

[2016-07-05 16:15] adrilo commented on #260
@cmanley, I can't even open the file in Excel (Mac version). It seems like there is something wrong with the generation of the file. Are you able to open it with your version of Excel?

[2016-07-05 18:08] cmanley commented on #260
Yes I can open it using Libre Office. I assume you renamed the zip extension to xlsx.
-------- Original message --------From: Adrien Loison <notifications@github.com> Date: 05/07/2016  18:15  (GMT+01:00) To: box/spout <spout@noreply.github.com> Cc: Craig Manley <cmanley@xs4all.nl>, Mention <mention@noreply.github.com> Subject: Re: [box/spout] Problems reading XLSX files generated by Crystal
  Repo

[2016-07-06 08:48] adrilo commented on #260
Indeed it works with LibreOffice. After investigating, the issue comes from the fact that in the XML storing the shared strings, the `uniqueCount` and `count` of shared strings is not specified.
In a previous issue (#254), I changed the way I get the count by looking at `count` when `uniqueCount` is missing. It seems like I need to add something else to take into account the absence of these prope

[2016-07-06 08:51] adrilo commented on #261
This is not supported yet and won't be until Spout supports per-cell styling (which is planned in v3). As far as I know, there are no workarounds for it unfortunately. You'll have to fork and implement it yourself if you want support for that.

[2016-07-06 08:52] adrilo commented on #262
Fixed as part of #263

[2016-07-06 08:52] #262 closed

[2016-07-06 08:52] adrilo commented on #244
@joyqhs ^^

[2016-07-06 08:54] blasto333 commented on #261
Can you lead me to which file to fork?

--
Chris Muench
Sent from my iPhone

On Jul 6, 2016, at 4:51 AM, Adrien Loison <notifications@github.com> wrote:

This is not supported yet and won't be until Spout supports per-cell
styling (which is planned in v3). As far as I know, there are no
workarounds for it unfortunately. You'll have to fork and implement it
yourself if you want support for that.

—

[2016-07-06 09:32] adrilo commented on #261
You can look at #209, it does something a bit similar

[2016-07-07 15:51] adrilo commented on #258
It's not necessarily different but there are some differences. The most visible one is the way enclosures are handled. `fputcsv` only adds enclosure if needed while the `fwrite` rewrite adds enclosures every time. This can easily be changed though.

Anyways, in general I'd like to stick to built-in implementations. When a new PHP version is released, built-in functions can see their perfs improved

[2016-07-11 10:13] aistis- commented on #260
Run into the same problem. OS: Linux, Office suite: https://www.wps.com/linux

[2016-07-11 11:20] aistis- opened #266 "Tag new version"
Hello @adrilo , could you tag a new version?

[2016-07-11 11:40] krzysztof-sikorski opened #267 "XLSX: error parsing file with missing "r" cell attributes"
I have a problem reading an automatically-generated XLSX file. The file was sent from a Microsoft-owned product, so I assume its format does not violate XLSX specification... although I may be wrong :disappointed:

I can open the file manually in Libre Office, but Spout throws an exception with a "Cannot get column index from an invalid cell index" message. After a bit of digging I found that erro

[2016-07-11 12:59] adrilo commented on #267
Hi @krzysztof-sikorski ! Thanks for filing this issue.

I just checked the official specs, and you are right: "r" is an optional param for the `<c>` tag. What's not said is what the behavior should be in case it's missing but I'll assume it should 1,2,3...

If you feel like it, feel free to submit a Pull Request. I'll be happy to guide you through it!
Otherwise, we'll try to tackle it as soon as w

[2016-07-11 14:07] krzysztof-sikorski commented on #267
Libre Office displays cells in order of their appearance inside row element, just as you assumed. I do not have access to MS Office so I cannot check if it behaves the same way.

Unfortunately I cannot help you much with patching. I found the bug at work and there was a business decision to just switch the report format in tool's settings, so the only thing I could do was to drop a bug report here

[2016-07-11 14:19] adrilo commented on #267
Sounds good. I'll push a fix soon.

[2016-07-11 16:15] #267 closed

[2016-07-11 17:03] #260 closed

[2016-07-11 18:00] adrilo commented on #266
Done! 2.5.0 :)

[2016-07-11 18:00] #266 closed

[2016-07-11 18:00] aistis- commented on #266
Thanks a lot!

[2016-07-11 22:22] adrilo commented on #244
No response within 2 months, closing this issue

[2016-07-11 22:22] #244 closed

[2016-07-11 23:53] cmanley commented on #260
Awesome, thanks!

[2016-07-13 08:25] dan-sorion opened #271 "Borders must be in correct order"
With Excel 2013 (not sure which other versions this affects) the borders must be created in the order Left, Right, Top, Bottom. Any other order causes the style XML to be removed by Excel as invalid and display an error. Could the writer for the XLSX be adjusted to ensure that no matter what order the set calls are made in the BorderBuilder that the correct order is output? Thanks.

[2016-07-13 08:44] madflow commented on #271
I can look into it.

[2016-07-13 08:48] dan-sorion commented on #271
Took me a while to figure out why Excel kept rejecting the files I was creating but once I figured it out it was easy enough to add the borders in the correct order, just thought it might help other users in the future.

Thank you for working on this project, I'm converting code from PHPExcel as memory usage was ballooning to ridiculous levels (I've had well over 1GB on RAM usage on files that in

[2016-07-13 08:58] dan-sorion opened #272 "Setting default row style"
Is there a way to override the default row style? I've looked through the code and it appears to be all done via constants and protected functions so I'm guessing not. For example, if I want to use Arial 11 for all cells in an XLSX file, and the existing default is Calibri 12, then using AddRowWithStyle for every row for tens/hundreds of thousands of rows is somewhat inefficient due to all of the

[2016-07-13 17:14] adrilo commented on #272
There is no way to do that. However, using a custom style or the default style should have an insignificant impact on the performance. Just make sure to reuse the same style. And there is nothing preventing you from sending data to Spout directly from your DB query.

Try something like this:
[code]

Makes sense?

[2016-07-13 18:45] #271 closed

[2016-07-13 21:45] romulo-rocha opened #274 "CSV reader does not encode to UTF-8?"
I am not sure if it has to do with the CSV file I am opening or if it's really a problem with Spout, but the CSV reader is not displaying UTF-8 encoded content on the screen. I have, for example, a cell with the following content: "**_Código_**". When I print the row on the screen I get "C♦digo".

I had to come up with a work-around in order to display it propely encoded:
[code]
Here's the entire

[2016-07-14 15:16] adrilo commented on #274
Hi @romulo-rocha,

The problem comes from the fact that the encoding of the file and the encoding used by PHP are different (PHP is UTF-8, while the file seems to be ISO-8859-1). BTW, `utf8_encode` is a terrible name as what it does is convert a string to UTF-8 from ISO-8859-1 **only**.

Spout does not magically detect the encoding of the file read. You have to explicitly tell it. Unfortunately, i

[2016-07-14 15:16] #274 closed

[2016-07-15 15:34] madflow opened #276 "Reuse border definitions"
Like in #211 - there only has to be only one "no border" declaration. I can prepare a PR, when #211 is finished (merged or rejected ;) )

[2016-07-16 21:13] quantuumsnot opened #277 "Not possible to save multiple files"
[code]
The error:

Fatal error: Uncaught Box\Spout\Common\Exception\IOException: Unable to write data in D:\php\temp/xlsx578aa2665a2404.90908599/xl/worksheets/sheet1.xml in D:\www\phptablegen\spout\src\Spout\Writer\XLSX\Internal\Worksheet.php:167

If I change $file to be `$file = fopen("php://memory", "w+b");` there's a different error:

It manages to save only 2 of 5 - one with the data and the s

[2016-07-16 23:54] adrilo commented on #277
Hi @quantuumsnot,

Your 1st error is due to the fact that the Writer needs to be recreated if you close it. Doing this works:
[code]

Regarding your 2nd error, openToFile expects a file path. You gave it a `resource`. If you try instead with `writer->openToFile('php://memory');`, it will work as expected.

Hope that helps!

[2016-07-16 23:54] #277 closed

[2016-07-17 06:56] quantuumsnot commented on #277
Thanks, missed that. The problem is that there's no documentation, at least I didn't found

Speaking for it have another question. If I put these lines in a function:
`require_once dirname(__FILE__) . '/spout/src/Spout/Autoloader/autoload.php';
  use Box\Spout\Writer\WriterFactory;
  use Box\Spout\Common\Type;`

I'm only receiving:

Is there a way to load the library in function's scope or it alwa

[2016-07-18 12:39] pbowyer commented on #123
This would be excellent. My use-case is putting borders between columns in a large spreadsheet (to visually break up the data)

[2016-07-18 15:08] Gavrisimo commented on #258
@adrilo that kinda helped, thanks! The next issue was that I had to remove enclosure characters, but `fputcsv` was complaining about that.

Unfortunately I need to have this `.csv` file in this format, no enclosure with `\r\n` line ending, so I resorted to `fwrite`:

[code]

[2016-07-18 17:40] adrilo commented on #258
👍 No enclosure means that this will break whenever a value will contain a ",".
But as long as you are aware of that and it's ok for you, then your solution works.

[2016-07-18 17:40] #258 closed

[2016-07-19 06:43] adrilo commented on #277
`use` should be at the class level. You can't have `use` in a function.

The autoloader is a lazy autoloader which means the classes for Spout will only be loaded when used. Using `use` does not load the class, it just creates an alias so that you can do `WriterFactory::create()` instead of `Box\Spout\Writer\WriterFactory::create()`. It makes the code be more readable.

[2016-07-19 08:48] dan-sorion commented on #272
My point is that when using addRowWithStyle for each row of data there are calls to set the style and then reset it which are repeated for each row. Say I have 1 million rows - that's 2 million unnecessary calls to set the style and then reset it to default. If the default style could be overridden just once that would allow using addRow and avoiding all of those unnecessary calls. And if you thin

[2016-07-19 09:25] sandrokeil opened #278 "Implement \Countable interface"
It would be great to implement a `\Countable` interface.  Simply loop over rows/lines without extracting data.

What do you think?

[2016-07-19 09:44] sandrokeil opened #279 "CellValueFormatter::formatDateCellValue() doesn't respect $shouldFormatDates"
There is not check in `\Box\Spout\Reader\XLSX\Helper\CellValueFormatter::formatDateCellValue` if `$shouldFormatDates` is enabled.

I don't want to convert dates to PHP `DateTime`. How can I disable it?

[2016-07-20 06:02] adrilo commented on #279
Hi @sandrokeil, there is a bug in Spout. I missed the `formatDateCellValue` function when I added the `shouldFormatDate` option... Thanks for reporting it! I'll push a fix asap.

To help me make sure Spout behaves correctly, can you please send me a test file containing a date value? My version of Excel does not want to use the "date" type and uses "numeric" type + date formatting...

[2016-07-20 06:02] adrilo commented on #278
What's the use case?

[2016-07-20 06:13] adrilo commented on #272
I understand your point. Optimizations are never needed on small datasets but changing one little thing can have a huge impact when dealing with millions of rows (and we - Box - also generate reports with millions of rows so I definitely know it's not an overstatement).

Before making a change that optimize performance, I definitely need some benchmarks to see if it's worth doing it. It'd be great

[2016-07-20 06:47] ywcdiao opened #280 "Set width for each column"
Hi, is there any way to set a width for each column? Or set a default width for every column?

[2016-07-20 09:00] madflow opened #281 "column width"

[2016-07-20 09:01] madflow commented on #281
lol

[2016-07-20 09:01] #281 closed

[2016-07-20 09:03] madflow commented on #280
See #129

[2016-07-20 15:16] sandrokeil commented on #278
I have an import on CLI and I want to show a progress bar / number of entries (Symfony console is used). I know that this is time consuming, but without converting it's faster as my current workaround (iterate over all entries and increase a count variable, after that, the real import is started).

Have you another idea how to show a progress bar?

[2016-07-20 15:20] sandrokeil commented on #279
[test.xlsx](https://github.com/box/spout/files/374034/test.xlsx) Works this one?

[2016-07-20 15:42] dan-sorion commented on #272
I've tried running some benchmarks today and I think it's probably not going to make much difference. On a 350,000 row sheet with 10 columns there was very little difference in the timing between using a style or not, plus it's also quite hard to benchmark accurately when I don't have a test server I have exclusive access to. If I can set up a clean VM to test on then I'll see if I can put togethe

[2016-07-20 15:59] adrilo commented on #272
Thanks for looking into it. If I have time, I'll try to get some numbers too.

[2016-07-20 16:01] adrilo commented on #279
It is using a "numeric" type combined with date formatting. Therefore, it never goes into the `formatDateCellValue` function...
How did you find this bug by the way? By looking at the code?

[2016-07-20 16:32] adrilo commented on #281
:)

[2016-07-20 17:42] adrilo commented on #278
I did a quick performance test to see how long it would take to get a count. For an ODS file containing 1 million rows (and 3 million cells), it takes between 12 seconds (using [DOMDocument](http://de2.php.net/manual/en/class.domdocument.php)) and 23 seconds (using [XMLReader](http://de2.php.net/manual/en/class.xmlreader.php)). I expect similar results for XLSX files.

The results actually better

[2016-07-20 17:53] adrilo commented on #278
For reference, here is my code:

[code]

[2016-07-20 18:43] adrilo commented on #278
BTW there is no other way to show a progress bar, you need to get the count first :)

[2016-07-20 20:52] sandrokeil commented on #278
@adrilo That sounds awesome. :+1: I have only 5000 rows at the moment.

[2016-07-20 20:54] sandrokeil commented on #279
Yes by debugging and looking at the code. Maybe I can provide more details tomorrow.

[2016-07-21 03:12] #279 closed

[2016-07-21 03:13] adrilo commented on #280
And similar to #118 that was closed in favor of #129. Closing this one too as duplicate.

[2016-07-21 03:13] #280 closed

[2016-07-22 21:42] quantuumsnot commented on #277
I hate OOP. I can read it, but I hate it :\

[2016-07-27 12:01] DMGPage opened #283 "Read date from xlsx"
I have this file: [nm_sd_apturesana_21072016.xlsx](https://github.com/box/spout/files/385702/nm_sd_apturesana_21072016.xlsx)
I can not understand why spout returns:
[code]
Row contains two dates "2016.07.19" and "21.07.2016". Both cells are with date format so why it returns integers "42570" and "42572". And how I can get correct date from them?

[2016-07-27 17:19] adrilo commented on #283
Hi @DMGPage,

After investigation, this issue is caused by prefixes in the XML file defining the styles (and therefore the date format). Spout expects XML tags like `<cellXfs>` but the software you're using to generate the XML file uses `<x:cellXfs>` for all tags.
There was a similar issue (#233) that was fixed for other XML files but the `styles.xml` file was left untouched. The same changes also

[2016-07-28 16:40] adakbar opened #284 "XLSX Reader: Total cell decreased each row started from line 15"
I got inconsistent row iterator with this [file](https://drive.google.com/file/d/0B8IksdS1Vu18eDNQVkJ4cnhKR3M/view?usp=sharing) it should read all 19 cell started from column A, but on line 15, it only get 18 cell, or is there a way that I can set row iterator to read certain column range?

A bit of background, I have a lot Excel file with the same template from client, I tried to count row data t

[2016-08-01 22:40] djagya opened #285 "Is there a way to get a file pointer from the Writer object?"
Can we maybe add a simple getter for `filePointer` to the `AbstractWriter`?

It's useful to have an access to the pointer and only way to get it right now - is to inherit needed writers and add the getter in the each class, that is not very convenient.

If you're ok with that, I can send a PR.

[2016-08-02 04:13] adrilo commented on #285
Hi @djagya!

I don't think it's a good idea to expose this, as this should be internal to the library. Spout should act as a black box to hide the complexity of creating spreadsheets. Exposing an internal variable is breaking this contract.

Can I ask why you want to get access to the `filePointer`? You may have a good use case

[2016-08-02 04:52] djagya commented on #285
Hi,
I need the pointer to see the file size during the process of adding rows (before file is closed).
Now I think that it's better to implement such function directly in the AbstractWriter, if this functionality is/will be used by someone.
Otherwise I'll just inherit base classes.

[2016-08-02 17:09] adrilo commented on #285
Unless you're working with CSVs, getting a pointer to the final file won't help: XLSX and ODS files are composed by a bunch of XML files, zipped together in the last step of the creation process. So while you're writing data, only the different XML files get bigger (so there are multiple file pointers involved).

I'm going to close this issue then. If you're using a CSV file, feel free to inherit

[2016-08-02 17:14] djagya commented on #285
Ah ok, didn't know about this nuances, thanks. Sure, the issue can be closed then.

I have few different file size limits based on selected options, but the approx size calculations from e.g. first few hundred rows or from the sizes of columns are not precise enough, so I wanted to monitor the file size during the document creation.

[2016-08-02 17:14] #285 closed

[2016-08-02 17:18] adrilo commented on #285
I see. What you can do is create a new folder and use it as a custom temp folder (https://github.com/box/spout#using-custom-temporary-folder). All files will be created in this folder so you can monitor its size over time. Just note that this will give you the combined size of all XML files which is different than the final size of the XLSX/ODS file, as the zipping process reduces it. But it may g

[2016-08-02 17:19] djagya commented on #285
Wow, great, thanks for the idea! Yeah, it should be already good enough 👍

[2016-08-03 11:36] Hastegan commented on #247
@Gamesh I had this problem for exports / imports as well. I fixed it by adding the missing methods to the api. I will make a merge request soon (I need to add unit testing tests to be ok).
An other problem with line wrapping occurs with large sheets, Excel just hangs for a few minutes to calculate the wrapping.

[2016-08-03 17:34] Dwikarya opened #286 "XLSX Reader error when run"
hello, i get an error when try to read xlsx.
i try the code to read xlsx like in basic example but i get this error

Warning: XMLReader::open(zip://Test/pegawaibaru.XLSX#xl/sharedStrings.xml): failed to open stream: operation failed in C:\xampp\htdocs\web pln\libs\Spout\Reader\XLSX\Helper\SharedStringsHelper.php on line 86

Warning: XMLReader::open(): Unable to open source data in C:\xampp\htdocs\

[2016-08-04 03:01] zanurano commented on #286
i have same error when open file type xlsx.
anybody help?

[2016-08-04 05:27] adrilo commented on #286
Hey @Dwikarya and @zanurano,
To be able to debug your issue, I will need the file you're trying to read; you can attach it here. Also, can you tell me how the file was created? (software - Excel, OpenOffice, ... - or using another library)

[2016-08-04 06:03] zanurano commented on #286
this is my code..

<?php
require_once 'src/Spout/Autoloader/autoload.php';
$filePath = 'JEMBER2.xlsx';

use Box\Spout\Reader\ReaderFactory;
use Box\Spout\Common\Type;

$callStartTime = microtime(true);
$reader = ReaderFactory::create(Type::XLSX); // for XLSX files

$reader->open($filePath);
$i=0;
foreach ($reader->getSheetIterator() as $sheet) {
    foreach ($sheet->getRowIterator() as $row) {

[2016-08-04 06:28] adrilo commented on #286
Your code looks good. Would you be able to attach `JEMBER2.xlsx` here? I need the actual file to be able to debug. If it contains sensitive data, could you please create a test file for me to reproduce the issue?

[2016-08-04 06:31] Dwikarya commented on #286
this is my code and xlsx :
http://bit.ly/CodeAndXlsx

for xlsx i exported from sap

[2016-08-04 06:46] zanurano commented on #286
this is my file
https://drive.google.com/open?id=0B3FVIsGgc2HxZzY0dFRoay1QUGs

[2016-08-04 07:57] zanurano commented on #286
this is my file exce
[l]([url](http://bit.ly/2aUjG7M))

[2016-08-04 17:23] adrilo commented on #286
Your files are working just fine for me. Can you give me more infos:
- Which version of Spout are you using?
- Which version of PHP are you using?

[2016-08-04 19:23] Dwikarya commented on #286
i use spout version 2.5.0 and php version 5.6.3

[2016-08-05 03:08] zanurano commented on #286
spout 2.5.0and PHP Version 5.6.3

can u help me please.. thx

[2016-08-05 07:43] madflow commented on #286
Maybe it helps:

Both users are on Windows. I quickly added an ```appveyor.yml``` in my fork and ran the unit tests in the CI server.

These tests fail:

[code]

[2016-08-05 08:20] zanurano commented on #286
So what should we do?

thnx...

[2016-08-05 08:26] madflow commented on #286
@zanurano Sorry - this was actually addressed at @adrilo. I just wanted to help to debug. "If" this is a Windows specific artifact than we should fix it in upstream and you do not have to do anything.

[2016-08-05 21:04] Gavrisimo commented on #286
I'm getting this error as well:

[code]

Here is the stripped file:

[Stripped Floyd's - 931061-00868 - 2016-07-15 - 5460.52.xlsx.zip](https://github.com/box/spout/files/404615/Stripped.Floyd.s.-.931061-00868.-.2016-07-15.-.5460.52.xlsx.zip)

[code]

System is CentOS 6.8

[2016-08-06 01:48] adrilo commented on #284
Hi @adakbar,

I took a look at the file you sent and concluded that the behavior is normal. In the XML file describing the structure of the spreadsheet, here is what I found:

[code]

Spout parses the `spans` attribute to tell how many cells should be taken into account for the given row. For the first 16th, this number is 19 but it's 18 for the rest. Hence Spout returning 19 values first and only

[2016-08-06 01:48] #284 closed

[2016-08-06 01:54] adrilo commented on #286
@Gavrisimo your file loads just fine on my Mac. Just in case, can you try adding this before you call Spout: `libxml_disable_entity_loader(false);`

[2016-08-06 01:56] adrilo commented on #286
@madflow Thanks! This is really helpful. Looks like Spout has some problems on Windows. I should probably use AppVeyor too :)

I'll look into the issues more this weekend or next week

[2016-08-06 02:51] zanurano commented on #286
so spout can run on my windows?

[2016-08-07 02:30] adakbar commented on #284
Right, that's what I found when I look at the XML, the template was created by hand and user fill the column manually, I suspect there's something wrong when they insert new row, anyway thanks for confirm it.

[2016-08-08 11:21] Gavrisimo commented on #286
@adrilo yeah, it loads fine, but it fails to load in spout. Here is how I am loading it:

[code]

It is still failing with the same message.

[2016-08-10 01:22] adrilo commented on #286
@Gavrisimo, can you please open a new issue ticket? Your issue is different than the original one.

[2016-08-10 03:53] #283 closed

[2016-08-10 05:33] adrilo commented on #286
@Dwikarya @zanurano, I did not manage to reproduce your issue on Windows 8, XAMPP, PHP 5.6.23 and 7.0.8, Spout 2.5.0... So in order to fix the issue, I'll need you to help me debug it.

@Dwikarya you said it is working with 2.4.4, so I want to find which commit actually broke Spout.

Do you have `git` installed on your machine? If so, could you clone Spout (`git clone git@github.com:box/spout.git`

[2016-08-17 01:02] adrilo commented on #272
Hi @dan-sorion, I just ran some tests. Here are the results:

2 columns, 350,000 rows:
 - not overriding default style: ~40 seconds
 - overriding default style: ~32 seconds

2 columns, 500,000 rows :
 - not overriding default style: ~54 seconds
 - overriding default style: ~47 seconds

2 columns, 1,000,000 rows :
 - not overriding default style: ~115 seconds
 - overriding default style: ~93 second

[2016-08-17 01:38] adrilo commented on #272
Same tests, for ODS files:

2 columns, 350,000 rows:
 - not overriding default style: ~29 seconds
 - overriding default style: ~24 seconds

2 columns, 500,000 rows :
 - not overriding default style: ~47 seconds
 - overriding default style: ~35 seconds

2 columns, 1,000,000 rows :
 - not overriding default style: ~98 seconds
 - overriding default style: ~82 seconds

[2016-08-17 04:18] #272 closed

[2016-08-18 16:46] alquesadilla opened #291 "Class 'Box\Spout\Writer\WriterFactory' not found"
Hello, using Laravel framework. Followed the instructions to do :
`composer require box/spout`

Then added on top of my controller :
[code]

In my function:

`  $writer = WriterFactory::create(Type::XLSX); // for XLSX files`

It gives me the error:

`Class 'Box\Spout\Writer\WriterFactory' not found`

Am I missing something?

[2016-08-18 16:54] #291 closed

[2016-08-18 16:54] alquesadilla commented on #291
Sorry It was a stupid mistake on my end.

[2016-08-18 22:05] joefreire opened #292 "How to improve performace"
Hi, I have a large excel file and i want only read it but is so slow more than 20min
you can help me?

[2016-08-18 23:46] adrilo commented on #292
Hi! How big is your file? How many rows and columns?

Spout is already optimized for fast reads, there's not much more you can do. If the file is very large, it is normal that going through the whole file takes time. There are some performance metrics in the README if you want to compare.

One optimization you could do is to make sure the file you're reading uses inline strings (instead of shared

[2016-08-20 14:16] IamFake opened #293 "libxml_disable_entity_loader and Spout"
Hi there.

When i use libxml_disable_entity_loader(true) and trying to open xlsx file - i get an error "Unable to open source data", but setting libxml_disable_entity_loader to false is not an option (in my project anyone can load xlsx with prices). I've read in some issues here that it's php bug and nothing can be done here. But, Spout has custom XMLReader class that extends original XMLReader, s

[2016-08-21 00:59] adrilo commented on #293
Using `file_get_contents` loads the entire content of the XML file in memory. While this works with small files, it does not with larger ones. That's usually what other libraries do though (PHPExcel for instance) and the reason why they can't support large files.
Spout was built to solve this problem and instead of loading the whole XML file in memory, its content is streamed so that only one row

[2016-08-21 00:59] #293 closed

[2016-08-22 06:46] Gavrisimo opened #294 "IOException in AbstractReader.php line 105"
Opening new issue like @adrilo requested. This is a continuation from here:

https://github.com/box/spout/issues/286#issuecomment-237965802

[2016-08-22 06:46] Gavrisimo commented on #294
I'm getting this error as well:

[code]

Here is the stripped file:

[Stripped Floyd's - 931061-00868 - 2016-07-15 - 5460.52.xlsx.zip](https://github.com/box/spout/files/404615/Stripped.Floyd.s.-.931061-00868.-.2016-07-15.-.5460.52.xlsx.zip)

[code]

System is CentOS 6.8

[2016-08-22 06:47] Gavrisimo commented on #294
@Gavrisimo your file loads just fine on my Mac. Just in case, can you try adding this before you call Spout: `libxml_disable_entity_loader(false);`

----------

@adrilo yeah, it loads fine, but it fails to load in spout. Here is how I am loading it:

[code]

It is still failing with the same message.

[2016-08-23 17:59] lauraac5 opened #295 "Row style"
Hi, It would be possible to apply the style to a field even if it is empty?

I have this:
[code]

But where the field is empty or is null, the style is not applied.

[2016-08-24 02:54] adrilo commented on #295
Good catch. I'll try to push a fix for this

[2016-08-24 02:57] #276 closed

[2016-08-24 12:20] lauraac5 commented on #295
hi @adrilo , I've solved my problem making a little change in the document "Worksheet.php" for XLSX:

[code]
I am not sure if it's completely correct, but for now it is working for me.

[2016-08-26 21:23] djagya opened #296 "Is there any way to write an empty row?"
I need to be able to past an empty row into the document (in my case - csv). Is there any way or hack to do that?

[2016-08-26 21:26] #296 closed

[2016-08-27 12:41] madflow opened #297 "Fill/Background definitions are not properly reused"
When two styles share the same background definition - the existing fillId is not properly reused. Like here in this comment in the "borders" PR:

https://github.com/box/spout/pull/289#discussion_r74831820

[2016-08-29 15:01] mrhaytham opened #298 "how to delete a sheet ?"
Hi there,

thanks for this great library ! I have a problem dealing with sheets, I couldn't find a way to delete sheets when writing a new xlsx file.

the only methods to handle sheets are addNewSheetAndMakeItCurrent() and getCurrentSheet(). How about deleting a sheet ?

Thanks.

[2016-08-29 17:17] adrilo commented on #298
Hi @mrhaytham,

Deleting a sheet is not as simple as calling `deleteSheet(1)`. This is because Spout reads the spreadsheet content row by row, as opposed to load its entire content in memory.
So if you want to delete a sheet, what you need to do is something similar to what's described here: https://github.com/box/spout/wiki/Edit-an-existing-spreadsheet

In your case, you'll have a condition on th

[2016-08-29 17:17] #298 closed

[2016-08-29 17:48] nimmneun commented on #129
Hi there, have you been able to come up with a solution for the autosizing of column widths and row heights already?

If not, I've come with an intermediary solution, which - while less accurate than imagettfbbox - is IMHO a decent tradeoff between performance and accuracy.
On average it increases the runtime by about 50%-100% and the widths are on average about 1 character off (usually too wide).

[2016-08-30 00:33] adrilo commented on #129
@nimmneun Nobody started working on this enhancement. If you already built something, feel free to share it. Either share a link to your commit or create a pull request.
It's always good to get inspiration from others :)

[2016-08-30 06:59] mrhaytham commented on #298
thanks, actually that was helpful

[2016-08-30 09:52] dan-sorion commented on #272
Just wanted to say thanks for implementing this. I've only just had chance to update and try it out, works great.

[2016-08-30 16:51] adrilo commented on #272
No problem :)

[2016-08-30 17:56] #297 closed

[2016-08-30 23:44] nimmneun commented on #129
@adrilo ok cool =) Since I'm not a fan of modifying anything within the vendor folder I hacked a "proof" of concept" (outside of spout) over the past couple of weekends. I haven't decided on how to integrate it into spout yet. I think I'd like to introduce 2, maybe 3 new classes ... Font or Fontname with just the supported fonts as constants like so [**Font**](https://github.com/nimmneun/onesheet/

[2016-09-01 03:17] JakePerillano opened #300 "how to add download dialog box."
Sorry newbie here..
been trying spout to export large files.
but I need the program to prompt a download popup window..

How can I do that using spout.

Thanks.

[2016-09-01 03:20] JakePerillano commented on #300
Sorry about this, found the solution :)

[2016-09-01 03:20] #300 closed

[2016-09-01 03:25] JakePerillano opened #301 "Spout with PHPExcel to handle images"
Hi,

Is this possible? I have tried to use both PHPExcel and Spout to generate large excel files as well as generate excel files with image but they are generating different excel.

I dont know if this is possible to create them in the same file.

Thanks.

[2016-09-01 06:30] JakePerillano opened #303 "Does Spout support cell merge?"
Does Spout support cell merge?

[2016-09-01 21:12] adrilo commented on #303
It does not, sorry.

[2016-09-01 21:12] #303 closed

[2016-09-01 21:14] adrilo commented on #301
Spout does not support images but handles large Excel files well. PHPExcel does support images but crashes as soon as the spreadsheet becomes too big. You'll have to sacrifice something unfortunately. Or you can try adding images support to Spout!

[2016-09-01 21:14] #301 closed

[2016-09-04 19:51] Gavrisimo commented on #294
@adrilo any luck figuring out this one? If there is anything I can do to help please let me know!

[2016-09-05 07:24] adrilo commented on #294
I still can't repro :( Can you try renaming the file to something like "foo.xlsx". It may be caused by some special characters/spaces in the name

[2016-09-05 08:39] Gavrisimo commented on #294
@adrilo seems that did the trick! Uploading a file named `foo.xlsx` or `Stripped Floyds - 931061-00868 - 2016-07-15 - 5460.52.xlsx` seems to be working. :)

The key here seems to be `'` character in the name of a file.

Any idea why that is and how to go about fixing it?

[2016-09-05 09:02] Gavrisimo commented on #294
I've updated my script that handles these files to clean out a filename like so:

[code]

@adrilo that said, I'm still not sure why is this happening and where should this be fixed.

[2016-09-06 02:36] adrilo commented on #295
Glad you found a fix :) The lines you added were removed not too long ago in order to optimize the size of the final file. If you have a lot of empty cells, you end up writing a lot of unneeded data.

I need to check how Excel handles this and I guess the solution is to repro the same behavior.

[2016-09-06 02:41] adrilo commented on #295
Alright, Excel does generate empty cells like this: `<c r="B2" s="2"/>`.
Also, if a style is applied to a whole row, here is how it is specified: `<row customFormat="1" r="1" s="1" spans="1:4">`

[2016-09-06 13:05] jappiewent commented on #294
Hello,

I got the same error and my filename is clean. Any thoughts?

Fatal error: Uncaught exception 'Box\Spout\Common\Exception\IOException' with message 'Could not open bestanden/j.xlsx for reading! (Could not open "xl/sharedStrings.xml".)' in C:\server\www\mail-import\src\Spout\Reader\AbstractReader.php on line 105

Jasper

[2016-09-06 17:11] adrilo commented on #294
The `'` in the filename works fine for me... I tried with every PHP version (5.4, 5.5, 5.6 and 7.0), and all worked (it's on a Mac). @Gavrisimo can you tell me which version of libxml you're using? This command will do the trick: `php -i | grep '^libxml'`

[2016-09-07 09:14] Gavrisimo commented on #294
[code]

[2016-09-07 09:19] Gavrisimo commented on #294
I have no idea if I'm looking at the correct thing ( http://xmlsoft.org/news.html ), but seems I have some outdated software:

2.7.6: Oct 6 2009

The system I am working on is centos6, seems that's the version that comes bundled with it, dunno. I'll try to update it...

[2016-09-07 09:30] Gavrisimo commented on #294
Well I found this:

http://serverfault.com/questions/266927/install-libxml2-2-7-x-on-centos-5-x/305682#305682

But it seems that the version of glibc I have installed does not satisfy the dependencies of the RPM, so I am gonna continue this at some later point in time, since I'm way over my head with this...

[2016-09-07 23:16] adrilo commented on #294
So I just tried with libxml 2.7.6 and it... failed! Removing the apostrophe from the filename fixes it, as you observed already. I don't know if there is much we can do to fix that or if the only solutions are: clean the filename first / upgrade libxml.
I will look around to see if there's something that can be done, at the application level.

[2016-09-07 23:43] adrilo commented on #294
@Gavrisimo, I checked the source code of the XMLReader extension (here: https://github.com/php/php-src/blob/PHP-5.3/ext/xmlreader/php_xmlreader.c) as well as the one for the libxml extension (here: https://github.com/php/php-src/commits/1c295d4a9ac78fcc2f77d6695987598bb7abcb83/ext/libxml/libxml.c). No major changes happened to this code that could have led to the bug you got.

A similar error is m

[2016-09-07 23:43] #294 closed

[2016-09-08 00:04] #295 closed

[2016-09-08 00:12] adrilo commented on #292
@joefreire?

[2016-09-08 00:24] adrilo commented on #286
Also, @Dwikarya and @zanurano, can you tell me which version of `libxml` you are using? You should be able to find it on the phpinfo page.

[2016-09-08 00:44] Neo-Desktop opened #308 "In AbstractMultiSheetsWriter::getSheets() have the ability to return an associative array of Sheet Name => Sheet"
This  change is exclusive to formats with multiple worksheets (XLSX, ODS).

As a developer, I would like an associative array of 'sheet name' => sheet for sheets in a workbook.

The externalSheet array in AbstractMultiSheetsWriter::getSheets() could fetch the name for the associative value prior to calling getExternalSheet().

This change would add negligible memory overhead.

[2016-09-08 01:43] adrilo commented on #308
Hi @Neo-Desktop!

I don't really like the idea of having an API that's not self documented. With your proposal, how can someone guess that `getSheets` returns an associative array where keys are the sheets name? Autocompletion cannot help you in this case (and that's why we're trying to not have public APIs return associative arrays).

The current approach (`getSheets()` and `$sheet->getName()`) d

[2016-09-08 01:43] #308 closed

[2016-09-08 17:19] Neo-Desktop commented on #308
Ah, roger that. Thanks for the input!