[2016-09-08 19:10] lauraac5 commented on #295
Thank you @adrilo !

[2016-09-09 07:46] tuananhindex opened #310 "how to set the starting position . Help"

[2016-09-09 17:24] adrilo commented on #310
@tuananhindex your question is rather vague. What are you trying to do exactly? Writing or reading a file? Are you trying to start from row 3, or from cell C5?

[2016-09-10 14:01] tuananhindex commented on #310
@adrilo yes . i'm trying to start from row 3 , or from cell 5

[2016-09-12 08:18] mjanis commented on #283
Still didn't work with date like '5/26/2015'. Cols J ,K, L in attached file.

[tests.xlsx](https://github.com/box/spout/files/466831/tests.xlsx)

[2016-09-12 17:46] adrilo commented on #310
@tuananhindex There are no direct way of doing that. But you can still achieve what you want by doing this:

[code]

With this code, the 2 first rows will be empty and on the 3rd row, the 2 first cells will be empty. So it's similar to starting at cell `C3`

[2016-09-12 17:46] #310 closed

[2016-09-12 18:22] adrilo commented on #283
This issue is caused by something different. I'm opening a new issue to track this one.

[2016-09-12 18:36] adrilo opened #312 "Unable to read dates with some XLSX files"
The `cellXfs` section defined in `styles.xml` describe some of the transformations that need to be applied to the cells. To determine whether a cell contains a date, it currently needs to have 2 things:
- an attribute called `applyNumberFormat` set to "true"
- an attribute called `numFmtId` reference the date format

However, sometimes the `applyNumberFormat` is missing (but `numFmtId` is there).

[2016-09-12 18:36] adrilo commented on #312
cc @mjanis

[2016-09-12 21:39] mjanis commented on #312
+ regex which checks for date characters has to be case insensitive
+ for performance i think result of function isNumFmtIdCustomDateFormat in StyleHelper needs to be cached by numFmtId so it is not tested on every cell with regex in loop. If i'm not wrong, result in one styles.xml for same fmtid always will be the same.[https://github.com/box/spout/blob/master/src/Spout/Reader/XLSX/Helper/StyleHe

[2016-09-13 01:55] tuananhindex opened #313 "how to read file then perform add data now for keep structure old file . Help"

[2016-09-13 23:15] adrilo commented on #313
See https://github.com/box/spout/wiki/Add-data-to-an-existing-spreadsheet

[2016-09-13 23:15] #313 closed

[2016-09-14 01:53] tuananhindex commented on #313
but file will be lost formats

[2016-09-14 09:58] ljudina commented on #129
+1

[2016-09-16 18:24] #247 closed

[2016-09-18 14:39] tuananhindex commented on #313
foreach ($reader->getSheetIterator() as $sheetIndex => $sheet) {
    // Add sheets in the new file, as we read new sheets in the existing one
    if ($sheetIndex !== 1) {
        $writer->addNewSheetAndMakeItCurrent();
    }

    foreach ($sheet->getRowIterator() as $row) {
        // ... and copy each row into the new spreadsheet
        $writer->addRow($row);
    }
}

It auto wrap text . How to

[2016-09-19 18:29] adrilo commented on #313
Check this pull request: https://github.com/box/spout/pull/311
I haven't pushed a new version, so you'll need to use `dev-master`.

[2016-09-21 06:52] adrilo commented on #312
@mjanis Out of curiosity, do you know which software was used to generate the "tests.xlsx" file?

[2016-09-21 07:36] mjanis commented on #312
@adrilo I do not know. We are getting these files from another company. I just removed column description and deleted ~700k lines in Libreoffice 5 on Ubuntu 16.
Not @ job now, can send you full original file tomorrow.

[2016-09-21 18:54] adrilo commented on #312
It's ok, I don't need the original file.

[2016-09-22 08:45] mjanis commented on #312
Just checked core.xml file from original xlsx. Generator: PL/SQL Developer - oracle dev tool (www.allroundautomations.com)

[2016-09-23 07:56] bevhost commented on #151
I made a workaround for this, since in Excel dates are just a number with a date format for presentation, if you output the right number you can format the column as a date once you load it into Excel and the correct date shows.
I use this  (strtotime($datestr)/86400)+25569.4167
strtotime converts the date string into a unix timestamp which is the number of seconds since 1970.  Excel dates are the

[2016-09-23 08:00] bevhost commented on #261
I achieved this by accident, as I was reading all the data from a database and the data type was always text.  I actually had to cast the numbers from strings to get numbers in Excel.
To cast a string to a number "4" + 0 will return 4.
To cast a number to string eg $a = 4; $b = "$a";  // $b is now a string with 4 in it.

[2016-09-23 12:25] blasto333 commented on #261
I solved it by doing the following

[code]

[2016-09-23 16:04] tacone opened #315 "Please delete the temporary file"
Spout does not seem to delete the temporary files used to generate `.xlsx` exports.

This has caused a bit of trouble for us, as we ran out of space.

[2016-09-23 17:07] adrilo commented on #315
All temporary files should be deleted once the file is generated. See code here: https://github.com/box/spout/search?utf8=%E2%9C%93&q=deleteFolderRecursively+OR+deleteFile&type=Code

What may happen though is if an error occurs while generating the report, the files are not deleted. And after a while, you'll run out of space... Can you check if you saw some exceptions being thrown in the error log

[2016-09-23 17:19] adrilo commented on #261
@bevhost, you can also explicitly cast variables like this:
[code]

@blasto333 I was thinking about doing the more or less same thing, as a first step so that you'd be able to write dates in only one format. I'm sure people will want more formats in the future, but at least it's a working solution.
You probably need to keep the line you deleted though and add the new line. Then you can just set th

[2016-09-24 17:46] #312 closed

[2016-09-24 19:18] adrilo commented on #151
The issue was created as a solution for the "appending data to an existing spreadsheet that contains dates" problem. To append data, one needs to copy the contents of the existing spreadsheet, row by row, and write each row to another spreadsheet before adding new data. This works well in most cases but did not work when cells contain dates: the reader is able to read dates, returning a DateTime o

[2016-09-24 19:18] #151 closed

[2016-09-24 19:23] adrilo commented on #312
@mjanis just merged the fix :)

[2016-09-26 13:50] Napu opened #317 "Can't read 15000 rows file"
I'm trying to upload something like this file, for privacy reasons i can't send you the exact same file, yet, the library only reads up to 1940 lines out of 14274.
 I'm using this code to go through the file:

$i=0;
$reader = ReaderFactory::create(Type::XLSX);

			$reader->open($filedir);

			foreach ($reader->getSheetIterator() as $sheet) {
				$sheetname=$sheet->getName();
				if($sheetname ="1.

[2016-09-26 14:43] madflow commented on #317
Works fine here! All rows read dumped with the example file. Maybe ```max_execution_time``` is to small? What error do you get?

[2016-09-26 17:09] adrilo commented on #317
I spotted an error in your code: `if($sheetname ="1.SI FACTURAR")` should have a double/triple equal !!

[2016-09-26 21:20] Napu commented on #317
@adrilo i tried, what @madflow said, i thought i already changed that but it wasn't changed, i did it again and now it works.
Sorry for waisting your, time and thank you for helping me.

[2016-09-26 21:20] #317 closed

[2016-09-26 22:00] adrilo commented on #317
👍

[2016-09-27 08:07] tacone commented on #315
I can't, but that may very well be the case. What about trying to catch the exception, deleting the file and re-throwing?

[2016-09-27 20:40] dipdill opened #318 "Excel claiming the xlsx file is corrupt."
I just updated my php to 5.6.25 and my Excel to 15.0.4849.1003 and now my spout box generate xlsx files don't open.  I keep getting a "We found a problem with some content in 'Filename'.  Do you want us to try to recover as much as we can?  If you trust the source of this workbook click Yes." popup message... and when I click Yes... I get a "The file is corrupt and cannot be opened" message.  Is t

[2016-09-27 22:38] adrilo commented on #318
Hi @dipdill! Can you please attach a copy of the generated file? This will help debugging your issue. Thanks!

[2016-09-27 23:28] bevhost commented on #318
I am see problems like this too.
[Staff-2015February.xlsx](https://github.com/box/spout/files/496818/Staff-2015February.xlsx)

[2016-09-28 03:16] adrilo commented on #318
Which version of Spout are you using? Did it work before and stopped working when you upgraded?

[2016-09-28 03:50] adrilo commented on #318
After unzipping and re-zipping the file you sent me @bevhost, it worked... I did not touch any file whatsoever. So my guess would be that the library you're using to zip the file may not work as it's supposed to work?!?!

[2016-09-28 07:29] rooholla86 opened #319 "internal server error"
hi

i have vps (centos)

in project , i was ready data to insert to xlsx file , after create file  , when i do : "WriterFactory::create(Type::XLSX);"

max_execution_time = 300
max_input_time=60
memory_limit = 1024M

server send error 500, and stop action .
before that code , system are working good.

i should say , this code rul well at local server . and i was exporter 600,000 record at 2 min.

[2016-09-28 07:56] rooholla86 commented on #319
SOLVED !!

problem width allocated ram to server .
i send request to set server ram from 1G to 2G , and problem solved

[2016-09-28 07:57] #319 closed

[2016-09-28 13:58] dipdill commented on #318
Is there an easy way to tell what version of spout box I am using?  I have a version that i downloaded on 9/2/2016 and 9/27/2016.  Both have the same result.

[2016-09-28 15:52] dipdill commented on #318
Here is my file that I am trying to generate... just filled it with Dummy data for now to make sure I wasn't adding any special character that would break it.

[Export.xlsx](https://github.com/box/spout/files/498670/Export.xlsx)

If there is anything else you need from me to help troubleshoot this... let me know.  Thanks

[2016-09-28 17:08] adrilo commented on #318
@dipdill Unzipping your file fails...
[code]

So seems like a similar problem @bevhost has. There is something wrong with your zip library. Can you tell me which version of libzip you are using? `php -i | grep Libzip`

[2016-09-28 18:06] dipdill commented on #318
Libzip version => 1.1.2

[2016-09-28 18:09] adrilo commented on #318
Hmmm the Libzip versions we are using are 0.x. I'm wondering what changed since the bump to v1.

[2016-09-29 10:28] carobiscuit commented on #47
I am getting this same error -- if my last column is blank or contains blanks. If I move it and the last column is NOT blank I don't get this error anymore.

[2016-09-30 00:27] bevhost commented on #318
I am using php55-php-pecl-zip-1.13.4-1.el6.remi.x86_64 which is Libzip version 1.1.3
see https://pecl.php.net/package-changelog.php?package=zip

[2016-09-30 00:34] adrilo commented on #47
@carobiscuit The symptom is the same as this issue but the underlying error is most likely different. Can you please create another issue and if possible attach a file that demonstrates this issue? Thanks!

[2016-09-30 22:02] wnasich commented on #129
+1

[2016-10-03 21:22] davidjos opened #321 "Insert image?"
We need an image into the header row. How we can do this?

[2016-10-03 21:54] adrilo commented on #321
Unfortunately, Spout does not support images

[2016-10-03 21:54] #321 closed

[2016-10-03 22:29] Gilbert2894 opened #322 "apply border style to the entire cell"
How I can apply a style to cells in specific?

[2016-10-03 22:44] adrilo commented on #322
You currently can't. Spout works with entire rows, and does not have the cell granularity that would be required to do what you want. Eventually, this will come with Spout v3 though.

[2016-10-03 22:44] #322 closed

[2016-10-06 06:48] adrilo commented on #318
So I tried with PHP7 and libzip 1.1.2 and it works fine. @bevhost, do you know if the file creation has ever worked for you? Is it happening with all files or just this specific one?

[2016-10-06 06:55] adrilo commented on #315
Some errors (like out of memory errors) don't throw an exception. Instead a fatal error occurs. It is possible to act on it, by register an exit_handler but I don't think this should be handled by Spout.
Now regarding actual exceptions, I think you made a great point! Spout can/should take the responsibility of cleaning up all temporary files if the exception leads to stopping the reading/writing.

[2016-10-06 07:07] adrilo commented on #129
@nimmneun I'm cool with this approach :) My only concern would be with the SizeCollection data. I saw that you get the different character sizes from a CSV file. Do you know where this data is coming from?
Also, it does not cover much of the non-english characters (which is an ok tradeoff before we can build a more robust system for SizeCalculator).

This is also an interesting choice:

[2016-10-06 08:35] bevhost commented on #318
Unfortunately I did all of my development and testing with LibreOffice on my Linux Desktop.
I didn't know there was a problem until other windows users reported it to me.
I did simplify the file a lot to see if it helped, but it did not.
I have installed php70 & php71, both use Libzip 1.1.3 and both still have the problem.

[2016-10-06 08:57] bevhost commented on #318
I created a really simple sheet and it generates ok and excel is happy
        $sheet = $writer->getCurrentSheet();
        $sheet->setName("SHEET 1");
        $writer->addRowWithStyle(["Apple","Banana","Cake","Drink","Egg"],$style);
        $writer->addRow([1,2,3,4,5]);
        $sheet = $writer->addNewSheetAndMakeItCurrent();
        $sheet->setName("SHEET 2");
        $writer->addRow([1,2,3,4,5]

[2016-10-06 15:30] adrilo commented on #318
Yes, sorry I can't help more. If you ever find out what's wrong, can you please post your findings here? Thanks!

[2016-10-07 22:29] novalbayusetiawan opened #323 "fopen() Failed to open stream: Permission denied"
I encountered an error when trying to write specific file

This is my syntax

[code]

Thanks

[2016-10-07 23:13] adrilo commented on #323
Well, looks like a permission issue. Make sure that your file can be read by php (`chmod +r public/file/c1/format_c1.xlsx`)

[2016-10-08 06:47] mottykima opened #324 "Can't open a new sheet or print document"
After creating an excel file successfully, I open it and try manually to create a new sheet in it.
I get an error - 'The command cannot be used on multiple selections'
Also, when trying to print the file, the software crashes.
If creating a copy of the file using 'save as...', these two issues do not present in the new file.
I am using Microsoft Office 2007.
Attached a file as example.
[spout.xlsx

[2016-10-08 19:36] cmanley opened #325 "Please allow cell objects in addRow() methods so that parts of a cell can be styled"
PHPExcel has a class like that called PHPExcel_RichText that can be assigned to a cell, instead of just scalars:
http://stackoverflow.com/questions/8045056/phpexcel-how-to-make-part-of-the-text-bold

[2016-10-08 22:23] Gilbert2894 opened #326 "How to read file and edit"
Hello, how could read an existing excel to edit ?. Example I want to open it and write from a row new records.

[2016-10-09 18:05] adrilo commented on #326
Take a look at this: https://github.com/box/spout/wiki/Edit-an-existing-spreadsheet

[2016-10-09 18:05] #326 closed

[2016-10-09 18:20] adrilo commented on #325
This is a really complex task, for the streaming approach that Spout takes. Having rich text requires keeping track of the cell content as well as its style. As you may have noticed, Spout does not support cell styling (and support row styling instead) because of the complexity it adds and the additional memory it would need to store the data.

For the v3 of Spout, we're planning to add per cell s

[2016-10-09 18:20] #325 closed

[2016-10-09 18:22] #323 closed

[2016-10-11 00:53] adrilo commented on #286
[CLEANUP] Closing issue - no response for 2 months

[2016-10-11 00:53] #286 closed

[2016-10-11 02:32] adrilo commented on #324
@mottykima Seems like you used a forked version to create your spreadsheet. The problem comes from these lines:

[code]

Removing these lines fixes the problem. I can't help more than that as the code you use is not part of this repo.

[2016-10-11 02:32] #324 closed

[2016-10-11 19:24] mottykima commented on #324
I added these lines in order to make a sticky header. (First row stays visible when scrolling down).
Is there any other way to implement such functionally?

[2016-10-11 20:09] adrilo commented on #324
I have no idea. What I usually do is create a file using Excel, unzip it and look at the generated XML files to see how they are doing it. It's usually faster than reading the full ECMA spec for XLSX (but you can do that too if you want, here is the link: http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-376,%20Fourth%20Edition,%20Part%201%20-%20Fundamentals%20And%20Markup%20Langua

[2016-10-11 22:08] #315 closed

[2016-10-11 22:59] adrilo commented on #230
Small update as I'm looking back at this issue:
For XLSX files generated by Spout, empty rows are preserved on write and correctly read. It does not work for ODS files though (and still does not work for files where the row is missing from the XML file)

[2016-10-12 16:55] Neo-Desktop commented on #318
I've come to realize that if an empty sheet is generated, Excel will claim corruption. Libre Office will happily open it, however.

[2016-10-12 17:07] adrilo commented on #318
@Neo-Desktop Do you mind create a new issue for this? Although the same behavior is experienced, the root cause is definitely different.

[2016-10-12 19:41] madflow opened #329 "Vertical tabs break ODS files"
\v breaks the ODS writer

[code]

Format error discovered in the file in sub-document content.xml at 9,387(row,col)

Tested with LibreOffice 5.2.

CSV and XLSX work fine.

Should we fix this in upstream (spout)?

This came up from user input, probably copy-pasted from somewhere.

[2016-10-13 13:49] sangar82 opened #330 "Option to show datetimes with the original format"
Hi!
I've some problems when I process a xlsx with spanish dates.

I work with spanish dates like 'D-M-Y' (28-12-2017) or 'D/M/Y' (28/12/2017) and the setShouldFormatDates option is a headache for me.

There are any possibility to add an option to return the string that is showed in the xlsx when the cell is a date instead of return an object or the date in english format (or xlsx date format) ??

[2016-10-13 14:09] sangar82 commented on #330
At this moment, my only solution to solve this is use a excel function. I create a new column  from the original column with dates with this function

[code]
where B1 is a cell with a date

[2016-10-13 20:16] sangar82 commented on #330
I tried too change the cell format on Excel, but reading the cell sometimes output strange characters with spanish formats

[2016-10-14 01:15] adrilo commented on #329
Yes, it'd be nice to have a fix in Spout, so that other developers would benefit from it.
Feel free to submit a pull request!

BTW, is it broken with other characters too?

[2016-10-14 07:24] sangar82 commented on #330
With petit_barres.xlsx
Date saved as 25/7/1982 and save with excel cell format 14/03/01
After read show: 7/25/1982 (Show format n-d-Y instead of d-m-Y)

With petit_guions.xlsx
Date saved as 25-7-1982 and save with excel cell format 14-03-01
After read show: 25-07-82;@ (Unexpected string ';@')

[petit_barres.xlsx](https://github.com/box/spout/files/528894/petit_barres.xlsx)
[petit_guions.xlsx](http

[2016-10-14 10:37] madflow commented on #329
A vertical tab is a illegal character in this xml spec.

http://stackoverflow.com/questions/1091945/what-characters-do-i-need-to-escape-in-xml-documents
https://www.w3.org/TR/xml/#charsets

I also found, that a form feed breaks the XML.

There already seems to be an escaping mechanism for XLSX content with some heavy preg_replace'ing - maybe we can adapt something form there.

[code]

[2016-10-14 12:34] madflow commented on #329
I tried to fix this by using PHPs advice.

http://php.net/manual/en/function.htmlspecialchars.php

However the HVM test fail, because the constant is not supported :S

[2016-10-14 16:21] Gavrisimo opened #332 "normalizing how empty cells are handled"
So I had a weird issue I had to fix today, seems some xlsx files don't have some info about the number of columns in them, meaning depending on the reader I would get different number of columns in each row.

For example, when using CSV I would always get 36 columns, but when using XLSX I would sometimes get 35 columns and sometimes 34 columns...

I did find some issues mentioning this and the ans

[2016-10-14 18:55] adrilo commented on #329
For reference: https://github.com/facebook/hhvm/issues/4938

[2016-10-14 20:23] adrilo commented on #329
So basically, adding this to \Box\Spout\Common\Escaper\ODS.php:

[code]

Can you try if that fixes the test?

[2016-10-14 20:34] adrilo commented on #332
@Gavrisimo this is a known problem and here is why we can't fix it:
In the XML describing the sheet, there is a "dimension" **optional** section that can tell what the most far right column is (something like "A1:E4"). This is used by Spout to fill rows that have less than 5 (*E = 5 columns*) cells defined.
However, since this section is optional, if not defined Spout has no idea how many cells it

[2016-10-14 20:34] #332 closed

[2016-10-15 20:05] tim-bezhashvyly commented on #286
Isn't setting `libxml_disable_entity_loader` to `false` opens the gate for XXE attacks?

[2016-10-16 04:10] adrilo commented on #286
Yes it will, but there is a bug with the PHP implementation that causes XMLReader to become unstable when `libxml_disable_entity_loader` is used

[2016-10-16 09:29] madflow commented on #329
This fixes the constant warning - but the tests fail. Is HVM a "first class citizen"?

+ Can we mark hvm as "allow_failures" in travis?
+ We could adjust the test to be skipped on hvm.
+ Hack around it/another solution?

[2016-10-16 22:04] adrilo commented on #329
Allowing test failures seems like a bad pattern. Skipping the test and giving a reason would be a better approach.

Now, this error is most likely really rare. Using ENT_DISALLOWED would make it even rarer, as only HHVM users using invalid characters would see it. It could be a good enough approach, as it's really simple. My only concern would be that there is no ETA for this constant to be suppor

[2016-10-17 16:22] madflow commented on #329
I pushed "something"  :S  . I assumed your option 2 - not my option 2...

[2016-10-17 17:20] #230 closed

[2016-10-18 07:05] adrilo commented on #292
[CLEANUP] Closing issue - no response for 2 months

[2016-10-18 07:05] #292 closed

[2016-10-18 17:02] adrilo commented on #330
@sangar82 thanks for sending me these 2 files. It was really helpful and helped me find different problems regarding how Spout handles dates.

With dates saved as "14/03/01" that are displayed as "03/14/01", the issue is an environment issue. Your OS is configured to have dates displayed as "14/03/01" by default. Excel has been localized and basically take this format and assign it to its default

[2016-10-18 18:55] #330 closed

[2016-10-19 07:31] sangar82 commented on #330
Thanks for the extra characters fix!

I can't use format with the dates because I need to save the date in the same format that the user wrote the cell. After, with this date, the users will sent messages and need the same date to show (I can't show this format to spanish user (m/d/y) because it can lead to confusion).

I'm still investigating ...

[2016-10-19 16:43] adrilo commented on #330
If you use Excel to read the generated file, the date will be formatted differently, based on your OS settings. When I opened the file on my computer where dates are setup to be displayed as `mm/dd/yy`, "7/25/1982" was displayed. After changing the OS dates to be `dd/mm/yy` and re-opening the file in Excel, the date was displayed as "25/7/1982".

My point is that you cannot control what the user s

[2016-10-19 16:47] adrilo commented on #329
Fixed in #333

[2016-10-19 16:47] #329 closed

[2016-10-22 22:35] entheologist opened #347 "Its only adding one row to the ODS file"
EDIT: Ah I see the problem is that I was calling `$this->writer->openToFile($this->ods_file);`` multiple times, and it was deleting the data that was already in there. Thank you for creating this great tool.

I'm trying to add rows to the stylesheet by running a loop. Heres the code I use to initiate the file writer:
`		$this->writer = WriterFactory::create(Type::ODS);
		$this->writer->openToFile(

[2016-10-24 09:29] francoisdigi opened #348 "Error when I try to import data"
HI,

I have a problem when I try to import data, I just installed PHP 5.4 on my server, I checked if I have the requirements, everything is OK. But I got this error :

`<b>Warning</b>:  preg_replace_callback(): Requires argument 2, '', to be a valid callback in <b>/var/www/html/digiDOUBLON/Spout/Reader/XLSX/Helper/DateFormatHelper.php</b> on line <b>109</b><br />`

I do not modify the file DateFor

[2016-10-24 17:07] adrilo commented on #348
Hi @francoisdigi !

The `preg_replace_callback` looks like this:
[code]

The second argument is hardcoded to be a function, so I don't really understand what's happening...

If you could send me the file that produces the error, it would greatly help me debug this issue. If you cannot send the whole file (private data, ...), a redacted version would work too (as long as the issue is reproducible).

[2016-10-24 17:08] adrilo commented on #347
:) I'm glad you found what was wrong!

[2016-10-24 17:08] #347 closed

[2016-10-25 07:53] francoisdigi commented on #348
Hi,

I use your function to display errors

[code]

So I get this

[code]

The 0,1,2 Arrays were the problem the 3 array contain all my data

Thanks

[2016-10-25 12:23] francoisdigi commented on #348
With the upgrade to PHP 5.5, everything works. So problem with PHP 5.4.

[2016-10-25 20:52] adrilo commented on #348
I tried running the tests using PHP 5.4.45 and it worked fine. As you can see [here](https://scrutinizer-ci.com/g/box/spout/code-structure/master/class/Box%5CSpout%5CReader%5CXLSX%5CHelper%5CDateFormatHelper) if you click on the "Code coverage" button, the tests do execute the `preg_replace_callback` statement and pass without a warning...

Can you run this script and tell me if you still see the

[2016-10-26 13:27] hallosascha opened #349 "Empty Cell Values as Null"
I use Spout for reading Excel files and importing them to a MySQL database. By default, empty cells will be returned as empty strings. If these cells belong to a numerical column, I need to convert them to `null`, in order to insert the row into the database. Otherwise I'm trying to insert a string value into a numerical column.

To avoid the need of replacing all empty strings with null, it would

[2016-10-26 17:40] adrilo commented on #348
The issue has been resolved when upgrading. The issue was environment specific.

[2016-10-26 17:40] #348 closed

[2016-10-26 17:45] adrilo commented on #349
Hi @hallosascha, that's a great suggestion. I thought about it when I worked on #331 but ended up using empty string to avoid a breaking change.

Your use case requires `null` values to be inserted in the DB instead of empty strings but other developers may have a DB where columns can't be `null` and therefore they would have to convert all `null` values into empty strings. So there's no perfect s

[2016-10-26 17:45] #349 closed

[2016-10-27 19:29] butchmarshall opened #350 "Is mergeCells possible?"
I'm forced to port from PHPExcel since we're exporting 600,000+ rows and Spout seems like a great solution.

Does Spout implement an equivalent to PHPExcels mergeCells (table colspan, basically)?

[2016-10-27 20:10] #350 closed

[2016-11-01 15:17] slewitan opened #351 "Numbers and Booleans in DB recordset handled as strings"
I am passing entire DB recordsets to the addRowWithStyle function

	while ($row = oci_fetch_assoc($stid));
		$writer->addRowWithStyle($row, $style);
and the entire row even the numbers and Booleans have an object type of string.

I rewrote the CellHelper functions to detect what is really a number or Boolean.
src/Spout/Writer/Common/Helper/CellHelper.php lines 62 - 90

    /**
     * @param $value

[2016-11-01 21:50] adrilo commented on #351
@slewitan, this issue is specific to your use case. You want "5" to be written as a number but some people may want that to be written as a string. Same goes with "true"/"false".
Changing the code how you did it means that you can no longer write "5" as a string. With the current implementation, it's up to the developer to convert this "5" to an int to have it written as a number or leave it as is

[2016-11-01 21:50] #351 closed

[2016-11-03 15:39] kewlar opened #353 "`Worksheet::addRow($row)` does not accept associative arrays anymore."
`Worksheet::addRow($row)` now calls `Worksheet::isEmptyRow($dataRow)`) that expects `$row` to be an array with numeric, sequential, zero-based keys.

Issue introduced in v2.7.0 (changing behaviour from v2.6.0, that used to accept associative arrays).

[2016-11-03 20:45] #353 closed

[2016-11-03 20:48] adrilo commented on #353
@kewlar thanks for opening this issue. It should be fixed in 2.7.1 (available now)

[2016-11-03 21:40] kewlar commented on #353
I've just checked, and it does indeed. Awesome, thanks!

[2016-11-04 16:54] badcom opened #355 "'Cannot perform I/O operation outside of the base folder: C:\Windows\Temp'"
Hello,
First off, thanks a lot for the library!

I've run into the below issue:

I'm reading an excel file with over 100k rows and when it's lasting about 5k rows I get the below error. I've tried it with a smaller file with the same result.

`PHP Fatal error:  Uncaught exception 'Box\Spout\Common\Exception\IOException' with message 'Cannot perform I/O operation outside of the base folder: C:\Wind

[2016-11-04 19:37] badcom commented on #355
FYI, I upgraded my PHP Server from 5.4.15 to 7.0.12 and that solved the problem.

[2016-11-04 20:07] adrilo commented on #355
Not sure why it happened in the first place. Seems like an environment specific issue.
Closing this issue since it's now resolved.

[2016-11-04 20:07] #355 closed

[2016-11-08 18:51] xmoroccan commented on #347
PS: why you iterate through a loop, you can jus creat an multi-demension array and use `$writer->addRows($your_array);`

notice ``addRows`` with `s`

if you already get the data from your database you don't need to run a loop :)

[2016-11-08 19:12] adrilo commented on #347
It is highly recommended to avoid fetching data all at once, as it can lead to out of memory issues (because this data needs to be stored entirely in memory). Instead, data should be fetched by batch and you'll need a loop to write it using Spout. In this case, only the chunk of data fetched will live in memory.

[2016-11-09 00:40] xmoroccan commented on #347
i already fetch a database with almost 30,000 rows (_i know that there are huge databases, compared to mine_) and i export it as ods file with no problems, example:

            $stmt = $link->prepare("SELECT columns, you, want FROM table");
            $stmt->execute();
            $results = $stmt->fetchAll(PDO::FETCH_ASSOC);
            $stmt->closeCursor();

            $writer = Box\Spout\Wri

[2016-11-10 20:01] nimmneun commented on #129
@adrilo ok cool =)
I'm not very happy with the precalculated solution as well :-/ I calculated the sizes using imagettfbbox() combined with several switch cases *lol Unfortunately imagettfbbox is not as accurate as I was hoping and works only for a limited number of fonts. For others it was way off, especially with fonts that had character spacing.

I implemented the width calculation like this at

[2016-11-17 16:33] gbittmann opened #356 "Basic Usage: Reader example with a CSV fails"
I took the basic example and switched to the CSV line, added $filePath to a CSV file and get the following error.

Catchable fatal error: Object of class Box\Spout\Reader\CSV\Sheet could not be converted to string

[2016-11-17 17:13] adrilo commented on #356
I would need to see some code to figure out where the error comes from. It looks like you're trying to print a `Sheet` object. For CSV, even though there's only one sheet, you still need 2 `foreach` loops

[2016-11-17 21:08] slewitan opened #357 "Send xlsx by email"
I couldn't figure out if you currently have a way to send an xlsx by email so I want to make the following suggestion ...
add a flag "$download=true" in order to be able to not set the headers if one wants to capture the output

		public function openToBrowser($outputFileName **,$download=true** )
		{
			$this->outputFilePath = $this->globalFunctionsHelper->basename($outputFileName);

			$this->fi

[2016-11-18 03:21] adrilo commented on #357
@slewitan I don't think it's a good idea to do it this way. It just adds unnecessary complexity since you can achieve the same thing by using `openToFile()` instead of `openToBrowser()` and use the written file as the attachment.

How does that sound?

[2016-11-18 13:36] gbittmann commented on #356
Sorry to waste your time, that was exactly the problem. I added $sheets, and $rows as counters, but when I went to echo it I used $sheet instead thus generating the error message.

[2016-11-18 14:02] slewitan commented on #357
@adrilo I was thinking of doing that but I didn't want to deal with paths, temp files and/or clean up. Personally, I  find the way I did it less complicated, I guess everyone has there own styles and this fits into mine.

[2016-11-18 17:43] adrilo commented on #357
I agree that your way is less complex for this use case. However, complexity is added to Spout for a really rare use case, so I don't think it's worth implementing the change. Feel free to fork Spout if you want to add your proposed change though.

[2016-11-18 17:43] #357 closed

[2016-11-18 17:43] #356 closed

[2016-11-19 09:35] yshing commented on #318
Same here... OK for really small xlsx files but larger.. but fail when generating files with more lines..

[2016-11-19 20:04] adrilo commented on #318
@yshing do you mind sharing some code? Or even better the generated file that is corrupted?

[2016-11-20 22:24] iBars opened #358 "Unable to read date"
![image](https://cloud.githubusercontent.com/assets/3519015/20466718/0cf7b73c-af89-11e6-809b-23cdb575adb8.png)

I want to read it at least as String.

Tested in .xlsx

[2016-11-20 23:21] adrilo commented on #358
@NDruce do you mind sending me the file you used? I can't really do much without it. If it contains sensitive data, feel free to remove it before attaching it here

[2016-11-20 23:32] NDruce commented on #358
[Парсер фильтра.xlsx](https://github.com/box/spout/files/602415/default.xlsx)

[2016-11-21 14:31] kbond commented on #318
I am also having this issue. I discovered it had to do with the length of a column. `32767` works fine but `32768` does not. See the test project I created for the code/samples here: https://github.com/kbond/spout-test

My Libzip version is `1.1.2` and other environment details are in the excel files.

[2016-11-21 14:43] NDruce opened #359 "Class 'Box\\Spout\\Reader\\WriterFactory' not found"
PHP Fatal error:  Class 'Box\\Spout\\Reader\\WriterFactory' not found in /var/www/dataparser/export.php on line 9

[code]

[2016-11-21 14:45] NDruce commented on #359
Error is on 'use Box\Spout\**Reader**\WriterFactory;'

[2016-11-21 14:45] #359 closed

[2016-11-21 18:17] adrilo commented on #318
@kbond, the 32767 characters max is an Excel limitation... See here: https://support.office.com/en-us/article/Excel-specifications-and-limits-16c69c74-3d6a-4aaf-ba35-e6eb276e8eaa (this is for Excel 2007 but also applies to more recent versions too).

Spout does not check for this limit, hence the error. Maybe a check should be added? I'm going to create a separate issue for this

[2016-11-21 18:19] adrilo opened #360 "[XLSX] A cell should not contain more than 32,767 characters"
As stated here:
- Excel 2007: https://support.office.com/en-us/article/Excel-specifications-and-limits-16c69c74-3d6a-4aaf-ba35-e6eb276e8eaa
- Excel 2010: https://support.office.com/en-us/article/Excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3
- Excel 2013/2016: https://support.office.com/en-us/article/Excel-specifications-and-limits-ca36e2dc-1f09-4620-b726-67c00b05040f

[2016-11-21 18:29] kbond commented on #318
@adrilo ah, thanks for the info!

[2016-11-21 21:47] adrilo commented on #358
The file you sent works ok for me. Here what Spout returned when using `$reader->setShouldFormatDates(true);`:

[code]

Date as text is not considered as a date, so Spout will just return the cell value with no other processing. Date as date is stored as a number that Spout will process to convert to a DateTime object or to a formatted string if `setShouldFormatDates` was set to true.

The date ce

[2016-11-23 03:38] manmoi01 commented on #318
@adrilo Hello I am using spout in the godaddy webhosting and the same problem is presented, godady uses php 5.4.19 and libzip 0.10.1. The xlsx file can not be opened in excel

[2016-11-23 04:12] adrilo commented on #318
@manmoi01 This problem can come from many things. Can you please send me the corrupted file so I can take a look?

[2016-11-23 13:07] flavio-alves opened #361 "Allow define additional headers for browser output"
It wourd be great if we could define additional headers when we output to browser.

In my use case I must define "Access-Control-Allow-Origin" header because I have an api and I am serving data to my frontend that is in a different domain.

[2016-11-23 17:08] adrilo commented on #361
Hey @flavio-alves, have you tried setting your header before calling `openToBrowser()`? I think it should work

[2016-11-24 21:19] ayerkovich commented on #361
@flavio-alves how can I set headers?

[2016-11-24 21:20] adrilo commented on #361
http://php.net/manual/en/function.header.php

[2016-11-27 22:15] cmanley opened #362 "Change request to make InvalidSheetNameException more descriptive"
**Box\Spout\Writer\Common\Sheet.php**

**Background:**
I was setting sheet names to year month periods such as 201611 (an int) and getting InvalidSheetNameException exceptions. I traced it down to being the !== operator in doesContainInvalidCharacters() which may be something for a different issue report.

**Change request:**
I could create a fork and a pull request, but this is fairly short...

R

[2016-11-28 16:23] madflow commented on #182
@adrilo Can we colaborate on how to proceed with the cell styling/formatting? My first instinct was to make the concept of cells a "first class citizen" and skip the "column styling" approach like documented here https://github.com/box/spout/pull/209#issuecomment-226816522. However I do not want to take another shot at this and see if it fits in a PR.

Have you generated any ideas on how to procee

[2016-11-28 23:46] adrilo commented on #362
Hi @cmanley,

Thanks for your detailed suggestion. It seems like I took a shortcut when building the error messaging for this feature :) I'll use your proposed code to improve the messaging.

BTW if you passed an int, the error came from the `is_string()` check and not the  `!==` operator in `doesContainInvalidCharacters()` (that's at least what it should do and what it did when I tried with a she

[2016-11-28 23:48] cmanley commented on #362
Thanks.
The error did indeed come from is_string() initially, but then I added is_int() to the check as you can see above. Only after that does the !== operator in doesContainInvalidCharacters() cause a problem.

[2016-11-28 23:50] adrilo commented on #362
Oh ok, then that makes sense. I won't keep the `is_int()` check. The API defines that the value needs to be a string, so it's the developer's responsibility to cast the passed in value to string if it's not already a string.

[2016-11-29 22:36] #362 closed

[2016-11-29 22:37] #361 closed

[2016-11-29 23:43] #360 closed

[2016-11-29 23:44] adrilo commented on #360
FYI @kbond

[2016-12-08 08:12] wyred commented on #318
Has anyone managed to find the problem? I think I'm experiencing the same problem as well.

A small excel file with 2 sheets, about 50 rows on each sheet opens fine.
A large excel file with 2 sheets, about 2,000 rows on each sheet, the file cannot be opened.

First sheet has 15 columns, second sheet has 42 columns.

Another thing I noticed is when I tried using PHPOffice/PHPExcel to export the sam

[2016-12-15 17:22] nimmneun commented on #129
pushed an intermediary commit to https://github.com/nimmneun/spout/tree/cell-autosizing

[2016-12-16 09:36] adrilo commented on #182
Hey @madflow, thanks for following-up on this issue. Sorry it took so long to get back to you!

I was thinking of the same approach, where instead of only accepting scalars or DateTime, the `addRow()` can also accept a `Cell` object. The `Cell` object holds data related to the cell that will be written (value and style for now).
I agree with the "skipping column styling", as it can be accomplished

[2016-12-19 08:35] madflow commented on #182
Sounds good to me!  How can contribution look like? As the Product Owner ;) maybe you could log some smaller issues?

[2016-12-20 14:49] amitRosenberg opened #367 "Hyperlinks"
Hi all is  there a way to create a hyperlink?

thanks

[2016-12-20 17:32] adrilo commented on #367
There is no direct way to create hyperlinks... You can try manually setting a value like this:
`$writer->addRow(['=HYPERLINK("https://github.com/box/spout", "Link to Spout")']);`

Please note that this is considered as a hack (if it even works).

[2016-12-20 17:32] #367 closed

[2016-12-23 13:41] garak opened #368 "CSV column names"
It would be nice to get an option for CSV Reader about first line.
We know that often the first row of a CSV is a kind of "header" row, containing column names instead of actual data.
With a sensible option, the Reader could be aware of this, and so skipping the first line.
Another option, depending on the previous one, could force the Reader to use that columns as keys of the resulting array.

A

[2016-12-27 12:14] MansionSelect opened #369 "Check whether file is empty or not, also return 1st row only"
How to find whether the uploaded file is empty or not? Also want to return only 1st row ie, the excel file headers row. How can I do these using Spout ?

    $reader = ReaderFactory::create(Type::XLSX); // for XLSX files
    $reader->open($xlsFilePath);
    foreach ($reader->getSheetIterator() as $sheet) {
        foreach ($sheet->getRowIterator() as $rowIndex => $row) {

       }
    }

[2016-12-27 13:16] zendre4 commented on #86
+1 for background color support.

[2016-12-30 02:29] thanhhungtn1 opened #370 "mkdir problem when create temp file"
I'm running Spout on mac OS Sierra with XAMPP for mac.
Whenever I tried to run the code it always had the problem with mkdir which is permission denied because Spout try to create temp file in \private\ folder.

How can I change the temp file location of spout?
Thanks for your help.

[2016-12-30 08:36] #370 closed

[2016-12-30 08:37] thanhhungtn1 commented on #370
figure out, not in interface.
**$writer = WriterFactory::create(Type::XLSX);
		$writer->setTempFolder(ROOT.DS.'tmp');**

[2016-12-30 13:22] adrilo commented on #86
@denaje @zendre4, it's actually supported now!
[code]

[2016-12-30 13:32] adrilo commented on #369
When you upload a file, you can check its size via the `$_FILES` variable (http://php.net/manual/en/features.file-upload.post-method.php).

If you only want to get the header, you can do it this way:

[code]

[2016-12-30 13:32] #369 closed

[2016-12-30 13:41] adrilo commented on #368
@garak I'd rather have a common implementation across all writers (XLSX and ODS writers simply ignore the keys of associative arrays). Optionally, there could be a `setHeader()` function that would just be a copy of `addRow()` but it does not really help nor simplify the usage (and even makes it more complex).
So I won't move forward with your suggestion. Thanks though!

[2016-12-30 13:41] #368 closed

[2017-01-02 08:56] mejinke opened #371 "Cannot open file."
`
$reader = new ReaderFactory(Type::XLSX);
                $reader->open($this->container['path'].$r);
                foreach ($reader->getSheetIterator() as $sheet) {
                    foreach ($sheet->getRowIterator() as $row) {
                        var_dump($row);
                    }
                }

                $reader->close();
`
Fatal error: Call to undefined method Box\Spout\R

[2017-01-02 09:07] mejinke commented on #371
ReaderFactory::create .....

[2017-01-06 09:58] rusakov92 opened #373 "Possible memory leak when reading files"
Hello,

I'm using your library to read and write XLSX files and I noticed that some memory was not freed after the reading of a file is over. The PHP script and XLSX file that I'm using for testing [here](https://github.com/box/spout/files/689517/Archive.zip).

Before running the script please update the path to the file on line 8.

After you run the script in the console you will see that with ev

[2017-01-06 12:47] adrilo commented on #373
Hi @rusakov92, thanks for filing this issue. I ran your script on my computer and observed the same behavior:

[code]

This issue needs a deeper investigation to locate where the leaks are. @rusakov92, feel free to take a look at it if you can.

[2017-01-06 12:54] rusakov92 commented on #373
Hi @adrilo, thanks for the update I'll try to look around if I have some free time.

[2017-01-14 05:31] chadwalt opened #374 "Stream wrapper used is not supported"
Am uploading a file for reading with the format of xlsx but am getting an error when reading the file.

**Message: Could not open http://localhost/chat_app/file_uploads/datafile.xlsx for reading! Stream wrapper used is not supported for this type of file.**

[2017-01-16 12:16] LubosRemplik opened #375 "Get sheet by name"
Is it possible to get sheet by name OR do I need to use code like below to get sheet I want?

[code]

[2017-01-17 08:13] madflow commented on #375
You second guess is correct - you will have to iterate over the sheets and break on the sheet you want.

https://github.com/box/spout/wiki/Read-data-from-a-specific-sheet-only

[2017-01-20 06:23] davidNieves commented on #182
Hi all! someone know the status of this feature?? this library only need this to be perfect!! Thanks

[2017-01-24 11:43] #375 closed

[2017-01-24 11:43] #374 closed

[2017-01-24 11:47] adrilo commented on #182
Hey @madflow and @davidNieves !
I'm super busy these days and haven't had a chance to answer your comments... Just wanted to let you know that this is still on the roadmap but I'll get back to it as soon as I have more time. Sorry about that...
In the meantime, I think someone can do that :
1. Add a `Cell`object
2. Add support for `Cell`objects in the writers (a cell holding just a value, no styli

[2017-01-24 11:50] madflow commented on #182
@adrilo Yes - small enough ;)

[2017-01-26 02:41] chrisgraham opened #377 "Incorrect handling of writing numbers in xlsx"
Hi,

I see the latest spout code is still using PHP's is_numeric to decide whether to do an inline cell. In my fork a while ago I fixed this, but incorrectly.

PHP's is_numeric does not align with the requirements the xlsx format has on numeric fields.
E.g. this passes is_numeric:
`' 12.3e6'`

In my fork I tried to fix this by seeing if the string consists only of number characters (the decimals,

[2017-01-30 17:15] zhukovra opened #378 "Ability to writing in PHP streams"
When I writing XLS or CSV just for attach it to email in our reporting actions, I don't need in temporary files with sheets contents. At now I can achieve that with output buffering like that:
[code]
But it unusable, when you send something to `php:/output` before (like logging messages in console command).

It is useful to have a writing and reading ability for various [PHP streams](http://php.ne

[2017-02-02 09:01] ahmetkemall opened #379 "XLSX reading error "Could not open ....xlsx for reading! ""
Hello,
Sometimes I'm getting this error while trying to open a xlsx ReaderFactory
_"Could not open /www/....E8F2A635F.xlsx for reading! (Could not open "xl/sharedStrings.xml".)"_

And then trying again it works fine, and again getting this error again.
How can i prevent this error ?

Thank you.

`            $reader = ReaderFactory::create(Type::XLSX);
            $reader->open($file['path']);

[2017-02-02 09:49] madflow commented on #379
Can you provide a file (with fake data) where this error occurs?

[2017-02-02 09:58] ahmetkemall commented on #379
Sure,
[1486025509.552D087289828409BB19CB2E8F2A635F.xlsx](https://github.com/box/spout/files/747369/1486025509.552D087289828409BB19CB2E8F2A635F.xlsx)

[2017-02-02 10:20] madflow commented on #379
I can load the file without any errors. There already is similar Issues here:

https://github.com/box/spout/issues/286

and here:

https://github.com/box/spout/issues/294

I am not quite sure which one applies - but they seem similar.

From a quick glance: Can you try setting ```libxml_disable_entity_loader(false);``` before reading the file and/or renaming it first to "foo.xlsx" in order to rule

[2017-02-02 11:23] ahmetkemall commented on #379
Rarely this error showing up, the interesting thing when i try for same file again its loading with out errors.

I double checked this issue  now #286 it's similar

Have tried `libxml_disable_entity_loader` no problem until now, if i get similar problem again i will let you know

Thank you so much !

[2017-02-02 17:22] madflow commented on #379
👍 Please kindly close this issue if it is resolved.

[2017-02-02 22:30] BlitZ-UK opened #380 "Begin reading from specific row"
Is there any way to begin reading from a specific line/row in a CSV file other than from the start (0) position? I understand there is a possibility that this is not feasible as the way it reads the files, has anyone had a workaround or solution for this?

Thanks

[2017-02-03 14:30] ahmetkemall commented on #379
After so many tests.
Problem has solved,

Thank you..

[2017-02-03 14:30] #379 closed

[2017-02-07 07:27] adrilo commented on #380
Hi @BlitZ-UK,

All readers work - afaik - need to read the entire file to locate line endings and therefore where row X is. So when you say, start row 4, your reader will read from the 3 first rows to find the beginning of line 4.

This is basically what you can do here:

[code]

[2017-02-07 10:21] BlitZ-UK commented on #380
Hi,

Thanks for that, although i was trying to avoid reading the entire file from the start (0) position (see first post). Nevermind, thanks anyway.

[2017-02-07 10:21] #380 closed

[2017-02-10 15:57] ahmetkemall opened #382 "Having problem read from non UTF-8 file"
Hello,

I can read utf-8 files perfectly
Although  having problem with reading non utf-8  '.csv' files and having problem with some characters.

Here is what i have tried:

[code]

Complete Code:

[code]

Thank you..

[2017-02-13 21:20] adrilo commented on #382
Hi @ahmetkemall,

Spout only supports a few encodings for CSV files that you can find here: https://github.com/box/spout/blob/30aa1b87e25a04fa2e223efee19c8f0348611cb2/src/Spout/Common/Helper/EncodingHelper.php#L16

It's important that you know the encoding of your file before you give it to Spout, as it can't be guessed. If you used all the options, then the encoding actually used is probably diff

[2017-02-13 21:20] #382 closed

[2017-02-13 21:24] adrilo commented on #358
[CLEANUP] Closing issue as no answer was given in the last 3 months

[2017-02-13 21:24] #358 closed

[2017-02-13 21:25] adrilo commented on #318
[CLEANUP] Closing issue as no answer was given in the last 3 months

[2017-02-13 21:25] #318 closed

[2017-02-13 21:32] adrilo commented on #378
@zhukovra When working with XLSX or ODS files, temporary files are necessary. This is because of how the file is constructed. XLSX and ODS files are made of a bunch of XML files, zipped together into a single archive. To be able to create this archive, you first need to create all the XML files that go in it and therefore need to store them on disk (hence the temp folder).
This is not true for CSV

[2017-02-13 21:32] #378 closed

[2017-02-13 21:42] adrilo commented on #377
Hi @chrisgraham! I think this is a trickier problem as the way numbers are formatted depends on the user locale. `1,000.45` or `1.000,45` are both valid numbers and I don't think your regex allows that.

[2017-02-13 22:08] chrisgraham commented on #377
Hi,

Would that be valid in an xlsx though? I imagine the format specifies the English convention, so it's a separate issue anyway.

That said, this is the code our CMS uses to convert locale'd string representations of floats back to PHP floats...

[code]

[2017-02-15 16:25] andrew-pause opened #384 "Ability to rotate text"
I was investigating spout as a possible alternative to PHPExcel, however I can't seem to find a way to set text rotation, which is a feature we need.

Is there a way to do this that I'm just not seeing in the docs?

related: http://stackoverflow.com/questions/21925863/vertical-text-in-phpexcel-cell

[2017-02-15 22:19] adrilo commented on #384
Unfortunately, this is not supported by Spout

[2017-02-15 22:19] #384 closed

[2017-02-16 12:10] ahmetkemall commented on #382
I have tried   $reader->setEncoding('Windows-1254');
And I have no more problem for Turkish characters.

Hope helps to someone..

[2017-02-22 09:55] lijupm opened #386 "Missing support for getActiveSheet"
Libraries like PHPExcel has 'getActiveSheet' method which can get you the active sheet(the sheet which is opened) from your workbook.

It would be better if we have something like the following to get active sheet easily

`$sheet = $reader->getSheetIterator()->getActiveSheet();`

[2017-02-22 11:46] metrosoftR opened #388 "Missing Support autosize column"
I think supporting autosize is a big must. Sometimes user/s prefer all column autosize.

[2017-02-22 12:19] zendre4 commented on #388
same issue than #129

[2017-02-25 22:31] someson opened #390 "ODS Reader returns wrong sheet names"
Apparently a Bug. Names are Indices and vice versa.
Fix #389

[2017-02-27 23:22] adrilo commented on #388
Closing as duplicate

[2017-02-27 23:22] #388 closed

[2017-02-27 23:30] adrilo commented on #386
Hi @lijupm, I think that's a good idea.
I left some comments on your pull request as it can't be merged as is.

[2017-02-28 07:05] jgeert1 opened #391 "InvalidSheetNameException: The sheet ("blabla") is invalid. It did not respect these rules: - It should be unique ..."
I was using this class to open and process a number of excel files in a loop and got the message :

ox\Spout\Writer\Exception\InvalidSheetNameException: The sheet&#039;s name ("blabla") is invalid. It did not respect these rules:
 - It should be unique in Box\Spout\Writer\Common\Sheet->throwIfNameIsInvalid() (line 128 of D:\wamp\www\sites\all\libraries\spout-master\src\Spout\Writer\Common\Sheet.ph

[2017-02-28 12:40] Zorato opened #392 "Xlsx writer closes file even if already closed."
Hi,

Encountered an issue when trying to call close() method twice:

It seems that writer checks for book to be present, even if isWriterOpened flag is false:
[code]

I don't have time to prepare PR now, so I suggest adding  `&& $this->isWriterOpened` condition in
[src/Spout/Writer/XLSX/Writer.php:128](https://github.com/box/spout/blob/master/src/Spout/Writer/XLSX/Writer.php#L128).

Thanks in adva

[2017-03-02 09:37] adrilo commented on #391
Thanks @jgeert1! Can you make a pull request out of this? I'd be happy to merge it :)

[2017-03-02 22:50] #390 closed

[2017-03-06 15:20] darrinsworlds commented on #129
Are you still working on this?

[2017-03-07 19:33] nimmneun commented on #129
I'm unfortuntely unsure how to properly test stuff without a file system abstraction. Since fwrite/fopen etc are directly called within the Worksheet there's no mocking possible :(

[2017-03-13 19:46] chaviraonline opened #394 "Permissions with Mac"
I'm using Mac OS Sierra for developing with XAMPP. Spout works perfectly with a short file (let's say 20 rows) when I upload a larger files (200'000 rows) I get this error:

Warning: mkdir(): Permission denied in /Applications/XAMPP/xamppfiles/htdocs/gruverapp/funciones/spout_excel/src/Spout/Common/Helper/FileSystemHelper.php on line 41

Fatal error: Uncaught exception 'Box\Spout\Common\Exception\

[2017-03-13 19:47] chaviraonline commented on #394
I investigated about it and sadly, there isn't much you can do about it. The issue is caused because mac administers automatically these cache files. I did nothing and I could work with the imported file. Sorry for the fuss.

[2017-03-13 19:47] #394 closed

[2017-03-21 09:09] adrilo commented on #392
Hey @Zorato, thanks for filing this issue! I won't be able to look into it before a few days but I will as soon as I can. Thanks for your patience!

[2017-03-27 15:58] #391 closed

[2017-03-27 16:31] adrilo commented on #377
@chrisgraham I don't see any occurrence of `is_numeric` in the codebase. Can you tell me which file you were referring to?

[2017-03-27 17:05] chrisgraham commented on #377
I'm sorry, it looks like I got very confused keeping track of changes. I don't know how I concluded you were using `is_numeric` either, you have your own isNumeric method but that is using `gettype`.
I'm, closing the issue.

[2017-03-27 17:05] #377 closed

[2017-03-28 09:23] mathsgod opened #400 "reading cell value incorrectly"
I have a excel file (https://github.com/box/spout/files/875118/space.problem.xlsx). when I using Reader to get the text value of cell, it added an space in the result

I extract my excel file, I found that my value are stored in sharedStrings.xml

`       <si>
		<r>
			<t>t</t>
		</r><r>
			<rPr>
				<sz val="12"/>
				<color rgb="FF000000"/>
				<rFont val="Calibri"/>
				<family val="2"/>
			</r

[2017-03-28 12:22] adrilo commented on #400
Hi @mathsgod, I took a look at this issue and I can confirm that you found the root cause.
The space was added to fix another issue, but this is wrong. I'm going to add a proper fix.

[2017-03-28 12:36] #400 closed

[2017-03-28 13:07] #392 closed

[2017-03-28 15:12] ahmetkemall opened #403 "MSSql import problem (.xlsx)"
Hello,

I'm having a problem when i'm trying to import an .xlsx file, that is i wrote with spout.
I'm guessing it's encoding problem,
I there anyway to set up writer's encoding?

Or any ideas what is the problem is ?
Error is attached ..
![2017-03-28](https://cloud.githubusercontent.com/assets/6723855/24412737/f60117fe-13e1-11e7-87d3-be182733dfd0.png)

[2017-03-28 15:31] adrilo commented on #403
I don't know exactly what the problem is but you're right, it may be an encoding issue.
XLSX files are always encoded in UTF-8. Maybe your DB is using a different encoding? If so, there may be an option in your import process to specify if the data needs to be converted.

Unfortunately, I won't be able to help more as this is an integration related issue.

[2017-03-28 15:31] #403 closed

[2017-04-05 10:20] simivar commented on #350
@butchmarshall is it possible?

[2017-04-05 12:44] butchmarshall commented on #350
I never found a solution to this.

[2017-04-12 12:02] nalsakas opened #404 "Bulk Read"
Right now I have to read line by line. Is there a way to read a bulk (ex: 100 lines) at a time? It would be great  and I think it would be more faster than reading line by line.

[2017-04-12 14:52] adrilo commented on #404
Hi @nalsakas! There is no advantages reading many rows at a time. A spreadsheet is described in an XML file, row by row. Therefore if you want to read 100 lines, you still need to read it line by line until you reach row 100 so no perf gains.
Reading in bulk may also cause memory problem as you need to cache the results of the previous rows (imagine reading 10,000 rows in bulk, the data may not fi

[2017-04-12 14:52] #404 closed

[2017-04-12 15:05] nalsakas commented on #404
Hello Adrilo,
Right now I am reading one line out of 65000 lines of excel and put it that line inside MySQL database. I am planning to gain speed on mysql  side if only I could bulk insert to database. This is what I want to try. Bulk size can be user defined. That way I don't think that it is going to be a memory problem.

[2017-04-12 15:21] adrilo commented on #404
This optimization can be done in your code. You don't need to insert data after every row you read. Just add a if statement to make your insert. Something like this:

[code]

[2017-04-12 17:34] nalsakas commented on #404
Hmm, understood Adrien. Thanks for the tip.

[2017-04-14 19:06] Germain-Italic commented on #129
Up.
Any news on implementing this feature?

[2017-04-14 19:18] Germain-Italic commented on #367
Not working :(

[2017-04-15 18:32] adrilo commented on #386
@lijupm It turns out it is not possible to add a `getActiveSheet()` method for ODS files (or rather no way that would not be incredibly slow). So instead, I implemented a `isActive()` method on the `Sheet` object. You can't get the active sheet directly and still have to use a foreach loop, but you now have a way to know if the current sheet was the active one.

[2017-04-15 19:40] #386 closed

[2017-04-20 06:57] harrygulliford commented on #129
Would love to see this implemented soon!

[2017-04-20 10:13] insane404 commented on #86
@adrilo is **cell** formatting like background color, font color & font style for an individual cell, added into this library yet ?

[2017-04-20 15:24] adrilo commented on #86
@insane404 It's not yet. All the styling is done at the row level for now

[2017-04-26 09:31] moh3n9595 opened #408 "Unregister autoloader"
Hi, I use a cms that this use autoloader. Now I want after using spout functions unregister this autoloader . anybody can help me?

                        require('./model/libs/spout-2.7.2/src/Spout/Autoloader/autoload.php');
			$reader = ReaderFactory::create(Type::XLSX);
			$reader->open($file_path);
                        //Some stuff..
                        $reader->close();

[2017-04-26 09:41] adrilo commented on #408
Hi @moh3n9595, it's not possible to unload already loaded classes. Why do you want to unload these classes though?

[2017-04-26 09:45] moh3n9595 commented on #408
Because I want use my autoloader in my cms that worked with psr0! So I need to some change in your code but I don't know what I do

[2017-04-26 09:54] adrilo commented on #408
Well, you should be able to use multiple autoloaders at the same time.

Also, you can try unregistering all autoload functions:
[code]

But this may have some unexpected consequences...

[2017-04-26 10:03] moh3n9595 commented on #408
Yeap! this work tnQ very much. And :

it's a terrible sentence..

[2017-04-26 10:06] adrilo commented on #408
Ahaha I know but that's the truth, as the code I wrote will unregister ALL autoload functions, not just the Spout one. You just need to be aware of that.

[2017-04-26 10:06] #408 closed

[2017-04-27 07:34] ArokiaDasA opened #409 "issue : In box spout,when reading cell with "&#Number" content but that content "&#Number" is not shown."
Hi,
When I try to read the cell values like "03-0129-1-HP LED 18.5& #34;19KA Monitor" using box spout.It writtens only "03-0129-1-HP LED 18.5''19KA Monitor" this value. The "&#34;" content is eliminated.
What Should I do?

In the above question don't use space between & and #. why I am using space is,in github without space between & and # is converted into blank.

[2017-04-27 14:34] Elvisonyedika opened #410 "Unable to use in windows"
I keep getting the following error trying to user reader.

( ! ) Warning: XMLReader::open(zip://phpExcelProject.xlsx#xl/worksheets/sheet1.xml): failed to open stream: operation failed in C:\wamp64\www\phpexcel\spout\src\Spout\Reader\XLSX\RowIterator.php on line 132
Call Stack
#	Time	Memory	Function	Location
1	0.0010	239800	{main}( )	...\index.php:0
2	0.0480	895888	Box\Spout\Reader\XLSX\RowIterator

[2017-04-28 00:27] #409 closed

[2017-04-28 00:28] adrilo commented on #409
@ArokiaDasA I just pushed a fix. Can you fetch the latest version and let me know if the problem is fixed? Thanks!

[2017-04-28 08:25] adrilo commented on #410
@Elvisonyedika Can you please attach the file that you're trying to read? There's probably something weird with it.

[2017-04-28 09:32] Elvisonyedika commented on #410
Hi Loison,

Thanks for your response. please find attach a copy of the file I'm trying
to read.

On Fri, Apr 28, 2017 at 9:25 AM, Adrien Loison <notifications@github.com>
wrote:

[2017-04-28 09:38] adrilo commented on #410
@Elvisonyedika Github does not support attaching files when you reply by email. You will need to reply through the Github website directly to attach your spreadsheet.

[2017-04-28 09:40] Elvisonyedika commented on #410
[phpExcelProject.xlsx](https://github.com/box/spout/files/963977/phpExcelProject.xlsx)
find attached file here

[2017-04-28 09:42] Elvisonyedika commented on #410
@adrilo please find attached the file here
[phpExcelProject.xlsx](https://github.com/box/spout/files/963981/phpExcelProject.xlsx)

[2017-05-01 12:06] Elvisonyedika commented on #410
@adrilo any progress?

i will be grateful if you can assist

[2017-05-02 08:23] adrilo commented on #410
I am able to read your file successfully (on a Mac though). But that means that your file is not corrupted.
Now, can you try giving Spout a full path instead of just "phpExcelProject.xlsx"? Something like `C:/.../.../phpExcelProject.xlsx`?

[2017-05-03 11:56] Elvisonyedika commented on #410
Thanks so much @adrilo . Providing a full part solved the problem

[2017-05-03 11:57] adrilo commented on #410
Glad it worked!

[2017-05-03 11:57] #410 closed

[2017-05-03 13:57] zegre opened #414 "Uncaught exception 'Box\Spout\Common\Exception\IOException' with message 'Could not open"
i'm trying to read an excel and thrown this error, my code is:

controller:

require_once 'library/vendors/src/Spout/Autoloader/autoload.php';
use Box\Spout\Reader\ReaderFactory;
use Box\Spout\Common\Type;

public function readExcel(){
        $path = 'temp/excel.xlsx';
	$reader = ReaderFactory::create(Type::XLSX);
	$reader->open($path);
}

the structure of my project is:

controllers/controller.p

[2017-05-03 13:58] adrilo commented on #414
@zegre What's the entire error message?

[2017-05-03 14:11] zegre commented on #414
Uncaught exception 'Box\Spout\Common\Exception\IOException' with message 'Could not open temp/excej.xlsx for reading! (Could not open temp/excel.xlsx for reading.)'

[2017-05-03 14:13] adrilo commented on #414
This error can indicates 2 things:
- the file you're trying to read does not exist (`temp/excel.xlsx` does not exist)
- you don't have the permissions to read the file (in which case, make sure you set the proper permissions)

Can you verify both points?

[2017-05-03 14:18] zegre commented on #414
the permissions are 0777 and the file exists in that path. with another old library I could read the file.

[2017-05-03 14:39] adrilo commented on #414
Ok. Can you try using a full absolute path instead of "temp/excel.xlsx"?

[2017-05-03 14:51] zegre commented on #414
i find the problem,  its problem of my framework and redirections, with de absolute path its works thanks you mate.

[2017-05-03 14:52] #414 closed

[2017-05-09 06:09] sivachaitanya opened #416 "net::ERR_INVALID_RESPONSE on attempting to download the Excel file in browser"
Hello,

I am new to Spout and downloaded the packages manually  and placed them inside  "Libraries" folder of my CodeIgniter project.
My Controller looks like -

[code]

My view looks like -

`<a href="<?php echo base_url(); ?>index.php/download/spoutdownload"> Download  data in  Excel format</a>`

If I click the link in the browser it displays "Failed to load resource: net::ERR_INVALID_RESPONSE"

[2017-05-09 08:21] adrilo commented on #416
You can try 2 things:
- change `$writer->openToBrowser('Spout_output');` to `$writer->openToBrowser('Spout_output.xlsx');` (more correct but I don't think that will solve your problem)
- remove the `exit` call

This is more a framework problem than a Spout problem here, so it's hard to help. Also, make sure that your `spoutdownload` is called!

[2017-05-19 09:23] rhodesiaxlo opened #417 "how to defind column data type ?"
saying  i was using spout to export our user data into csv files, the user id card number, which should be string formate like 422201198808046452, always display as float like 4.2+E16, i think this is a column data type issue, but i can figure out how to set the column data type, help me, pls :( , thx in advance.

[2017-05-19 09:37] adrilo commented on #417
Hi @rhodesiaxlo,

You can try to cast the value to string before passing it to Spout:
[code]

Alternatively, you can use `$cardNumber + ''` to cast to string.

[2017-05-19 09:37] #417 closed

[2017-05-22 10:17] Hightem opened #420 "use a xlsx template file"
Hello,

I would like to use the readerFactory to read a template file and then modify it to add a custom data in specific rows positions every time.

can I do that using Spout ?

Is it also to get the style of a file that I read with the readerFactory ?

Thanks in advance for your help

[2017-05-22 11:53] adrilo commented on #420
Hi @Hightem, you can take a look at this guide: http://opensource.box.com/spout/guides/edit-existing-spreadsheet/

Please note that styles won't be copied over as the reader does not parse the styles of the original spreadsheet.

[2017-05-22 11:53] #420 closed

[2017-05-24 08:56] awisur opened #422 "Php 7.1 issue with XLSX open"
I get the following error 1 out of 3 times when I execute the same code on the same file with php 7.1
In php 5.6 I get no error.

[code]

**This throws this error every other time i Run the code in Apache + php 7.1:**
Warning: XMLReader::open(): Unable to open source data in /www/.../Box/Spout/Reader/Wrapper/XMLReader.php on line 36

1	Box\Spout\Reader\AbstractReader->open( )	.../ImportController.

[2017-05-24 11:23] adrilo commented on #422
Hmmm I just tested it with your file, and it works 100% of the time.
[code]

Does the file change at all between your different tests?

[2017-05-24 11:28] pedrofsantoscom commented on #129
+1

[2017-05-24 11:46] awisur commented on #422
Strange this is from my environment...

$ php -v
PHP 7.1.5 (cli) (built: May 13 2017 13:30:32) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies
    with Xdebug v2.5.3, Copyright (c) 2002-2017, by Derick Rethans

[2017-05-24 12:18] awisur commented on #422
Does this give any more meaning to you?

RawLog: Box\Spout\Common\Exception\IOException: Could not open /www/.../importfiles/1495547547477_test.xlsx for reading! (Could not open "xl/sharedStrings.xml".) in /www/.../Box/Spout/Reader/AbstractReader.php:126

[2017-05-24 12:19] awisur commented on #422
Seems to be similar to this: https://github.com/box/spout/issues/379

[2017-05-24 12:22] awisur commented on #422
libxml_disable_entity_loader(false); Seems to fix my problem aswell, since this is a somewhat common problem, might catch this error and provide the solution in the exception message? Anyway works now :)

[2017-05-25 07:25] gmmarc commented on #129
+1

[2017-05-25 10:14] stevesweets opened #424 "Write-Only XLSX formulas."
I've actually done this and was about to submit a pull request when i noticed, that actually, one should file an issue first.

Reading them uses memory. Writing them is really performant.

[2017-05-26 03:53] tinybright opened #426 "reader->open is slow"
It takes  40 second to  open a 16 * 16000 excel.

[2017-05-26 06:19] xakzona commented on #129
+1

[2017-05-26 07:01] stevesweets commented on #426
Is the file especially large, or does it use shared strings?  Spout is fantastically better performant than other xlsx readers (by being intentionally limited in what it does), but still has to unzip the file and parse the xml.

40 seconds doesn't seem too far off par with the performance expectations:

https://github.com/triad-ltd/spout/tree/develop_3.0#frequently-asked-questions

[2017-05-26 08:52] #422 closed

[2017-05-27 17:42] PawWorks commented on #286
I just started working with Spout and well I had the same issue where it would spit the "(Could not open "xl/sharedStrings.xml".)' " error at me.  and adding the libxml_disable_entity_loader before calling spout was the only way to get it to work.
my server:
Windows Server 2012 R2 Standard Edition
Apache/2.4.12 (Win32)
PHP Version 5.6.5

[2017-05-28 20:33] madflow commented on #426
Please attach an anonymized file so we can try to reproduce the issue.

[2017-05-29 08:28] adrilo commented on #426
@stevesweets is right. With XLSX files using shared strings (and a lot of them), Spout has to go through the file listing all of them, split them in chunks and save the chunks on disk. This first processing is required to be able to map string index to string value (XLSX can define the content of cell "A1" as being the string at index 42, therefore you need to know what string corresponds to index

[2017-05-29 08:28] #426 closed

[2017-05-29 08:31] adrilo commented on #286
@PawWorks can you attach the file you were using?

[2017-05-30 18:28] alejandro11k commented on #251
with composer works ok but I need to install this without using composer.
isolated in a specific module.
Any detailed help?
thanks

[2017-05-30 19:16] adrilo commented on #251
@alejandro11k You can take a look at this section of the documentation: http://opensource.box.com/spout/getting-started/#manual-installation

[2017-06-08 16:45] rps-repo opened #440 "XLSX reader and cell value of zero"
I am having an issue with reading a excel file where one of the columns contains values of '0'.  When the file is read the value is being set to an empty string.  Is there something I can do to fix this?  I am using version 2.7.2.

[2017-06-08 16:54] #440 closed

[2017-06-15 10:17] bugalot commented on #129
+1

[2017-06-16 12:38] #416 closed

[2017-06-18 07:50] lekseven opened #441 "Crashes while reading table cells from some xslx-files"
Some xslx archives have the shared strings file which name starts with an uppercase letter (SharedStrings.xml). In this case Spout crashes with an error while reading a table cell:

`Fatal error: Call to a member function getStringAtIndex() on null in Spout/Reader/XLSX/Helper/SharedStringsHelper.php on line 249`

[2017-06-20 09:20] savdeep commented on #129
+1

[2017-06-23 16:29] gabbanaesteban commented on #129
I NEED IT! :(

[2017-06-27 07:59] anilkumar-isol opened #444 "Issue in a date format in excel reader"
Hello there,

I'm using this library to read csv and xlsx files. This is working like a charm but at some points this is not formatting datetime values.

If any cell has "01/01/2017" as value then this is giving error like "Catchable fatal error: Object of class DateTime could not be converted to string in /path/to/file.php on line 32"

if any cell has "**'01/01/2017**"(with a single quote at star

[2017-06-28 05:17] anilkumar-isol commented on #444
Hello @adrilo , I have resolved that issue by changing in Spout/Reader/XLSX/Helper/CellValueFormatter.php file in following functions

1. "formatExcelTimestampValueAsTimeValue"
2. "formatExcelTimestampValueAsDateValue"

in those functions I'm returning a string of date/time instead of datetime object. Please check that issue and let me know if I have done right?

[2017-06-28 15:25] arecaps commented on #368
@adrilo
I was also hoping for such an option.
I am not sure that you understood this correctly, as the request is for **_reading_** files, not for **_writing_**.
This could be implemented for all readers.

[2017-06-28 21:14] adrilo commented on #368
You're right @arecaps about the mix up! Although I still thinks that getting the column names is just a shortcut for reading the first row. As you'll need to call 2 different functions (to get the column names and the data), this is the same complexity as having `if ($rowIndex === 0) { $header = $row; } else { ... }`
It also creates a differentiation between files with and without headers in Spout

[2017-06-28 21:18] adrilo commented on #444
Hi @anilkumar-isol !

A cell containing "01/01/2017" and formatted as a date will be converted to a DateTime object, unless you configured the reader this way `$reader->setShouldFormatDates(true);`.
It seems like the exception you are referencing is coming from your code and not from Spout (right?). This is because you are trying to use a DateTime object as a string. If your goal is to get a strin

[2017-06-29 05:01] anilkumar-isol commented on #444
Thanks @adrilo for letting me know about "setShouldFormatDates(true)" function. Actually I have been using spout only for the last 3-4 days and I don't know its all functionality.

Thanks again for your support.

[2017-06-29 07:27] adrilo commented on #444
Feel free to take a look at the docs to learn about the other tricks :) http://opensource.box.com/spout/getting-started/

[2017-06-29 07:27] #444 closed

[2017-07-02 14:27] dsmith64 commented on #286
Okay, from a fresh rookie, I have a solution for Windows 10 users. My configuration: Windows 10 Pro, xampp (xampp-win32-5.6.30-0-VC11.zip), PHP 5.6.30. I was receiving the same error, and discovered that Spout said the file did not exist. I created a folder in the root of the same drive xampp is on, and used
$filePath = "/xlsx/spreadsheet.xlsx";
Also, I tried using an xls spreadsheet, and it fails

[2017-07-02 14:49] dsmith64 commented on #286
It does work, but I should have tested a few more scenarios. You can use relative paths rather than the absolutes i used in the other post. My xampp folder structure:
/xampp/htdocs/project/index.php
/xampp/htdocs/project/spout
/xampp/htdocs/project/xlsx
Using a similar structure requires $filePath to use "../../../filename.xlsx" to access the file

[2017-07-04 15:07] alexisparron opened #445 "Sheet Visibility"
Hello, I did changes to allow to retrieve and set the sheet visibility and i have seen that i need to open an issue first to make a pull request. Can I?

[2017-07-04 15:08] adrilo commented on #445
Hi @alexisparron ! Of course, feel free to submit a pull request. We'll be happy to look at it.

[2017-07-14 12:36] GerolamoAEdificari commented on #330
I think the suggestion you made in [https://github.com/box/spout/issues/178](url) will be very much appreciated. Some xls/xlsx files use the 1904 date format instead of 1900 [https://support.microsoft.com/nl-nl/help/214330/differences-between-the-1900-and-the-1904-date-system-in-excel](url). When automatic date conversion can be disabled it's in the programmers hand to decide...

[2017-07-19 16:01] podorozhny commented on #129
+1

[2017-07-21 04:20] difasanditya opened #448 "Problems reading XLSX"
Hi, I have this error while trying to read file.
I use Windows 10 Pro, with PHP version 5.6.3.
Already tried using `libxml_disable_entity_loader(false);` and still no luck.
Here's my code:

[code]

Error message:
[code]

Here's my file:
[form.xlsx](https://github.com/box/spout/files/1164419/form.xlsx)

Thank you

[2017-07-24 06:33] iamgpena opened #449 "Shared string temp file not found"
exception 'Box\Spout\Reader\Exception\SharedStringNotFoundException' with message 'Shared string temp file not found: /tmp/sharedstrings59759354004db/sharedstrings0 ; for index: 0' in /home/json/ginpy/codes/sonar/mockups/server/vendor/box/spout/src/Spout/Reader/XLSX/Helper/SharedStringsCaching/FileBasedStrategy.php:134

[ca.xlsx](https://github.com/box/spout/files/1168974/ca.xlsx)

[2017-07-24 21:50] adrilo commented on #448
@difasanditya can you try using a full path for your file? Something like "C:/.../.../file/form.xlsx"
It works fine on a mac, so I'm suspecting there's something wrong with how Spout handles path on Windows.

[2017-07-25 12:16] #449 closed

[2017-07-25 14:40] garygreen commented on #310
@adrilo that is not really similar to telling it to start from the 3rd row - if you are loading in an existing excel file that has headers etc it will overwrite it.

[2017-07-25 14:51] adrilo commented on #310
Sure, but if you're loading an existing file, you have to start from row 1 if you want to copy cells over anyway. I understood the question was related to how to do it with a *new* file

[2017-07-25 14:55] garygreen commented on #310
Basically what I'm trying to achieve is use an existing file as a template - that already has columns formatted, headers in place, styles etc. But it seems it's not currently possible as the new file completely overrides everything as it's a totally new file. I was hoping `->openToFile()` would keep the existing file similar to PHPOffice [`->load()`](https://github.com/PHPOffice/PHPExcel/blob/deve

[2017-07-25 15:00] adrilo commented on #310
Indeed it's not possible. Originally, Spout was just supposed to work with text data. Formatting was added later to the writers. Unfortunately, it is not implemented yet in the readers... Since using a template requires reading the template file to write it back to another file, all formatting is lost.
We are currently working on the v3 which should improve that. No ETA though.

[2017-07-25 15:03] adrilo commented on #310
Also PHPExcel operates very differently and can afford doing what it does because it does not focus too much about the memory consumed. This leads to OutOfMemory errors for large/complex spreadsheets though. Spout took another approach, but this approach has some drawbacks: it's way more difficult to handle formatting, styles, etc...

[2017-07-25 15:09] garygreen commented on #310
Yup, that's how I stumbled across Spout as I was getting out of memory errors with PHPExcel. The code and philosophy behind this package is so much better, but it is missing some basic functionality to replace PHPExcel. You mention that formatting was added to the writers... well if I can set a format for each of my columns that would solve my problem. Is it possible to set a format for a column a

[2017-07-25 15:12] adrilo commented on #310
You can't specify the formatting of a cell/row/column yet... :(

[2017-07-25 15:40] garygreen commented on #310
Oh bugger. Might try and give [this package](https://github.com/ellumilel/php-excel-writer) a go. Interestingly the xml style formatting for excel seems quite straight forward - would you happen to know how the formats for columns are defined? Would you have to set an id for each cell to reference a particular format?

[2017-07-25 16:19] adrilo commented on #310
I don't have an answer to your questions. And yes, feel free to give it go, it definitely looks interesting!

[2017-07-25 16:34] garygreen commented on #310
Just tested it and it works pretty well, [very easy](https://github.com/ellumilel/php-excel-writer/blob/master/examples/formula.php) to set the column header formats, I hope Spout does something similar in the future.

[2017-07-25 16:45] adrilo commented on #310
👍 The API looks a bit unfriendly, but it that works for you :)

[2017-07-27 09:13] difasanditya commented on #448
@adrilo wow thanks, it works.

[2017-07-27 09:40] adrilo commented on #448
Glad to hear that :) I really need to fix this bug though!

[2017-07-27 09:40] #448 closed

[2017-08-02 14:23] NicolasN commented on #129
+1

[2017-08-10 09:05] JiSoft opened #454 "Append an existing XLSX file"
Hi, there.
First thank you for nice implementation !

I tried update an existing xlsx file, but Spout has created a new one.
I can see than another people met this problem as well. For instance http://opensource.box.com/spout/guides/add-data-to-existing-spreadsheet/

Is it possible to implement native appending without copy-pasting existing rows ?

[2017-08-11 16:52] garak opened #455 "Drop support for unmaintained php versions"
I guess there's nothing much to say: you should drop php 5, or at least php 5.4 and 5.5, in the next major version

[2017-08-13 20:41] madflow commented on #455
I can only say that we bumped the minimum version to 5.6 in the current development branch ```develop_3.0```:

https://github.com/box/spout/blob/develop_3.0/composer.json#L15

So if this becomes the next major version  - support for PHP < 5.6 will be dropped.

[2017-08-14 06:39] garak commented on #455
What about moving to >=7.0?

[2017-08-15 09:24] Gavrisimo opened #456 "XLSX reader performance"
Hey there,

so I've been using box/spout for csv and xlsx files and LibXL for xls files. I'm seeing this one weird issue while reading "bigger" xlsx files(1600rows), where it takes about 5 seconds to go through this code:

[code]

When spout is reading csv file it takes like 0.1 - 0.2 seconds and when LibXL is reading the xls file it takes about the same time as the csv file.

To sum up, different

[2017-08-15 09:33] Gavrisimo commented on #456
Oh I've managed to create some test files, csv and xlsx with 10000 rows. You can download them here: [test.zip](https://github.com/box/spout/files/1224646/test.zip)

1. csv with spout - `0.34418606758118` seconds
2. xlsx with spout - `7.9724202156067` seconds

[2017-08-15 21:09] adrilo commented on #455
5.6 will still be used a lot, as many providers won't have support for 7.x. So for now, we'll keep this version.

[2017-08-15 21:09] #455 closed

[2017-08-15 22:13] adrilo commented on #456
Hey @Gavrisimo,

There are a few reasons why reading this file is slow. Compared to CSV, the structure of an XLSX file is much more complex, with a combination of multiple XML files that need to be read at the same time. Moreover, the specific file you tested uses shared strings (to optimize file size by reusing duplicate strings) which is slower than inline strings (where cell data is stored in t

[2017-08-15 22:13] #456 closed

[2017-08-16 08:42] Gavrisimo commented on #456
@adrilo so this is expected behavior/speed? Is there any way this could be made faster? :)

[2017-08-16 09:36] adrilo commented on #456
Yes, this is expected. There could be several ways to make it faster:
- if you control the creation of the XLSX file, make sure to use inline strings and not shared strings
- if you can't, increase the amount of memory allocated to PHP (this will force Spout to use in-memory caching)
- if you can't, you can manually change this line: https://github.com/box/spout/blob/30aa1b87e25a04fa2e223efee19c8f

[2017-08-16 14:07] garak commented on #455
Well, "drop support" does not mean any break for 5.6 users. They just don't get new versions (and they should expect something like that, being on a unmaintained version)

[2017-08-16 16:49] adrilo commented on #455
You're right but I'm still not sure whether it's a good idea to drop support now. Supporting PHP >= 7.1 would probably be a better choice in terms of development productivity (typing!). But being able to deliver new features to a lot of users is also important. So it's a compromise...

For now, I'll keep 5.6 but it may change as the 3.0 release is not going out any time soon.

[2017-08-16 16:58] adrilo commented on #454
Hi @JiSoft,

In order to do that, you need to overwrite some parts of the XML files describing the spreadsheet: the XML for the spreadsheet structure, the one where cell data is stored, the one where styles are stored. Because you can't just append new data to these XML files (you need to write new data to a specific location), this becomes really tricky...
So I don't think it's worth spending som

[2017-08-16 16:58] #454 closed

[2017-08-16 20:31] garak commented on #455
Maintaining a double branch for a while should not be a big effort, you can easily automate conversions between 7.1 and 5.6

[2017-08-17 08:48] AzzaAzza69 commented on #129
Can I suggest a fit-all:
$writer->setColumnWidths(aFixedWidths|'autosize-char'|'autosize-font');

so the 'autosize-font' could be used for XLSX/ODS (but you could use the 'autosize-char' if you wanted quicker width calculating or the aFixedWidths for no speed reduction)

for the 'autosize-xxx' methods, you could:
* write cell-data to a temp file (a), whilst recording some statistics.  If 'autosize

[2017-08-27 01:58] adrilo opened #461 "[Tooling] Add Appveyor support"
Having Appveyor is to make sure Spout is running fine on Windows

[2017-08-27 01:59] adrilo opened #462 "[Tooling] Add php-cs-fixer"
To make sure the code style is consistent

[2017-08-27 02:01] adrilo opened #463 "[Docs] Move documentation from gh-pages to "docs" folder"
When documentation is on the gh-pages branch, it's not possible to version it.
Since it will change a lot with Spout v3, it would be good to keep the documentation with the code. It is also true for minor changes!

[2017-08-30 10:30] creolis commented on #355
I hate to be the guy that resurrects a dead issue, but in this case I have something to add ;-)

Today I debugged the same issue on linux and found out that you're using sys_get_tmp_dir() in order to retrieve a temporary path to store arbitrary data while exporting xlsx etc. sys_get_tmp_dir() was not configured on our infrastructure, pointing to /tmp (which was definitely not allowed on a shared-h

[2017-08-30 14:01] adrilo commented on #355
Hi @creolis, thanks for your input and the time you spent debugging!

I supposed that you're talking about a Wordpress function. Can you please give more details about that? Maybe a link?

Thanks!

[2017-08-30 14:32] creolis commented on #355
ah DAMN it... I'm so sorry I bothered you.

Okay, thing is - you're right, it's a wordpress function, and you might ask yourself, why it matters to you.

Answer is: it does not. I came here because a wordpress plugin that exports XLS had the problem that it died horribly since it always pointed to /tmp, no matter what directory you told wordpress to use. I did not understand why you guys use sys_g

[2017-08-31 11:12] niksa88 opened #465 "Read sheets protected with password"
Is it possible to read protected sheet?

[2017-08-31 11:16] adrilo commented on #465
Unfortunately, it's currently not.

[2017-08-31 11:16] #465 closed

[2017-09-05 22:35] #462 closed

[2017-09-12 10:19] diimpp commented on #368
This feature is really a must have and puts me in situation, where I need to use different library for reading csv.

Besides using header row as naming for each row keys, I would like not to see header row in rows variable.

[2017-09-14 06:11] naqk commented on #182
[Spout_NAQK_Hack.zip](https://github.com/box/spout/files/1301880/Spout_NAQK_Hack.zip)
I only did some hack in code forcus on set BackgroundColor of cell different with row's color.
Changed code is here :
1 - **Spout\Writer\XLSX\Internal\Worksheet.php** function **addNonEmptyRow**
Detecte cell value if is array object with "value" = true cell value; "style" = Style create with StyleBuilder to get c

[2017-09-17 08:24] swiffer opened #468 "box/spout returns empty strings in iterator if a filter is set"
If a Filter is set within an Excel File (rows not filtered but column filter is defined) all values of a row are empty string instead of the actual strings

[2017-09-18 20:24] Karador1995 opened #469 "TIME FORMAT"
Hi, I have a problem saving the time of my EXCEL file, the format I use is this example: 21:00:00, I add the following line to my project, but it gives me an error:

[code]

I leave the code

[code]

[2017-09-18 20:55] adrilo commented on #469
@Karador1995 what do you mean by "it gives me an error"? Can you copy the error here? What happens and what do you expect?
We need more info to be able to help.

[2017-09-18 20:56] adrilo commented on #468
Hi @swiffer, do you mind providing an example of such a file so we can easily reproduce the issue?

[2017-09-18 20:58] adrilo commented on #182
Thanks @naqk! I'm not a fan of the map syntax and would rather have proper objects, like @madflow did. Your approach and the approach taken in this PR is very similar though, so that's a good thing :)

[2017-09-18 20:58] Karador1995 commented on #469
This is Error

`A PHP Error was encountered

Severity: Error

Message: Call to undefined method Box\Spout\Reader\XLSX\Reader::disableTimeAutoConversion()

Filename: controllers/cHorarios.php

Line Number: 91

Backtrace:`

I want to be able to enter the time as follows: 21:00:00 in the documentation appeared that line of code, so that the format will not change to the one that uses SPOUT

[2017-09-18 21:03] Karador1995 commented on #469
It does not recognize the format of the example time: 22:00:00, so columns with that format are not saved.

[2017-09-18 21:24] Karador1995 commented on #469
Could you tell me, why are not my columns saved in the following format? example 23:00:00 (TIME), this line of code is supposed to be to prevent Spout automatically converts it to its format?

$ reader-> setShouldFormatDates (false);

I'm reading a file to save it later. Please I need your help, more than two days that I do not give with a solution.

[2017-09-18 21:32] adrilo commented on #469
`$reader->setShouldFormatDates(false);` can be omitted as it's the default value. This will return a `DateTime` object. If you want to get a string back (e.g. "23:00:00" if that's what you entered in your XLSX file), then you should pass `true` instead of `false`.

Now I don't know why the error you mentioned (`Call to undefined method Box\Spout\Reader\XLSX\Reader::setShouldFormatDates()`) occurs.

[2017-09-18 21:38] Karador1995 commented on #469
var_dump ($ reader) shows this:

object(Box\Spout\Reader\XLSX\Reader)#21 (6) { ["tempFolder":protected]=> NULL ["zip":protected]=> NULL ["sharedStringsHelper":protected]=> NULL ["sheetIterator":protected]=> NULL ["isStreamOpened":protected]=> bool(false) ["globalFunctionsHelper":protected]=> object(Box\Spout\Common\Helper\GlobalFunctionsHelper)#22 (0) { } }

[2017-09-18 21:39] adrilo commented on #469
Ok, then you should be able to use `setShouldFormatDates()`. Which version of Spout are you using?

[2017-09-18 21:41] Karador1995 commented on #469
spout-2.4.3

[2017-09-18 21:42] Karador1995 commented on #469
I am using Codeigniter, I do not know if it has to do with that, as I mentioned before, all the columns are saved if I remove this line:

$ reader-> setShouldFormatDates (false);

Except those that are in the format of the time I wrote.

[2017-09-18 21:44] adrilo commented on #469
Alright, the function you're trying to use was added in v2.5.0... That's why it can't find it!
You need to upgrade Spout and that should work better.

[2017-09-18 21:45] Karador1995 commented on #469
OK thank you very much :D

[2017-09-18 21:48] #469 closed

[2017-09-20 08:57] swiffer commented on #468
yes, of course -> just try out this one

https://bdew-codes.de/DownloadFile.axd?content=electricity&format=excel

[2017-09-20 09:04] swiffer commented on #468
xl/tables/table.xml totalsRowShown is 0. The workbook is using shared strings as well.
But all sheetdata is in xl/worksheets/sheet.xml.

[code]

[2017-09-20 12:14] samfullman commented on #118
I'm posting a little late on this, but it seems obvious to me that the developer should have the power, if he or she so chooses, to "globally" set a column width.  This is a valid decision, and it can and will often mean a) "This is what I know I want the width to be" and/or b) "Content can get large in this column, I don't want it to go beyond x width, so this way I can set it and forget it"

Giv

[2017-09-21 16:06] matthieubrunet opened #470 "Running to memory limit"
Hi there,
By reading the faq http://opensource.box.com/spout/faq/ I thought Spout wont have memory problem. But when I try to write a 100 000 row files, I get this error : "Allowed memory size of 134217728 bytes exhausted (tried to allocate 88 bytes)".
Why is this happening if the data is streamed to file and not kept in memory ?
Do you know a way to prevent it without changing PHP memory_limit ?

[2017-09-21 16:10] matthieubrunet commented on #470
My mistake, the error came from my datatbase driver, not from Spout

[2017-09-21 16:37] #470 closed

[2017-09-25 20:01] adrilo commented on #118
I understand your point and agree with you on that. However we'd rather do the auto-sizing of columns first before tackling the manual option. This is because auto-sizing will benefit more people than manual sizing. But eventually we'll have all options!

[2017-09-25 20:27] adrilo commented on #468
Hi @swiffer, the issue was fixed here: https://github.com/box/spout/commit/6d44cd26cc49c0fd59ffc01a4c187223c4b183cc

I'll release a new version so that you'll only need to upgrade to 2.7.3

[2017-09-25 20:27] #468 closed

[2017-09-30 12:56] swiffer opened #471 "Bad performance (follow-up from #468)"
I can import the file already linked in #468 now. For no known reason performance seems to be really bad when comparing to other files.

6200 rows take more than 30 seconds to be processed.

[2017-10-01 10:41] adrilo commented on #471
There's probably something wrong with the way you import your file. When I tried to read it, it's super fast:

[code]

Can you paste your code here so we can debug it?

[2017-10-01 13:38] swiffer commented on #471
PHP 7.1.9

[code]

[code]

[2017-10-01 13:41] swiffer commented on #471
the command where all the time is spent is `$reader->open(...)`

[2017-10-01 13:42] swiffer commented on #471
is it related to #426 ?

[2017-10-01 14:23] swiffer commented on #471
i disabled Windows Defender Real Time Protection and execution time immediately decreased to 20s.

[2017-10-01 14:43] swiffer commented on #471
On Linux (gitlab-runner / phpunit test suite with code coverage enabled (xdebug)) xdebug seems to slow down processing from 30 seconds (total testsuite execution time) to 6 minutes

[2017-10-01 18:47] adrilo commented on #471
The file `Spreadsheet.xlsx` that you are trying to read, is that the same one you sent as part of the other issue?
Also, can you try adding `var_dump(ini_get('memory_limit'));` and paste the output here?

[2017-10-02 05:58] swiffer commented on #471
yes, it's the same file as provided in the other issue.

`var_dump(ini_get('memory_limit'))` shows `128MB`

i enabled the profiler in xdebug and ran the code again

![unbenannt](https://user-images.githubusercontent.com/2990373/31065646-559ad5a8-a747-11e7-8206-9cf0cf24e271.PNG)

[code]

[2017-10-02 15:24] swiffer commented on #471
Tried multiple PHP versions (7.0.24 32bit/64bit) // (7.1.10 64bit) and multiple versions of box/spout. Performance was equally bad. No idea what's going on. Any help would be appreciated.

[2017-10-04 10:53] adrilo commented on #471
Reduction to 8 seconds makes sense, as your change caused Spout to use an in-memory strategy instead of a file-based strategy to  to read cell data, which is way faster.

Now you're right, 8 seconds is still a lot. I'm not sure how to read your screenshots. Is there a way to know the total execution time of each function?

[2017-10-04 12:49] madflow commented on #471
Just for lulz I wanted to try this myself. The linked file in #468 hast 908 rows. In the first post you say something about 6200 rows (?). For what it's worth: When I run the linked file (I had to re-save it for some reason, so spout would be able to read it), it is equally fast like @adrilo stated.

[2017-10-05 08:16] swiffer commented on #471
Sorry guys, i was measuring time when running my testsuite in PHPUnit (6.3.1). It looks like PHPUnit slows down things in $sheet->getRowIterator() => $row quite a lot. I limited the Iterator two 10 rows when running PHPUnit reducing time so results are on pair with your examples.

Additionally i got equal results to yours when not running in PHPUnit now!

[2017-10-05 08:16] #471 closed

[2017-10-06 15:40] garimpeirodouniverso opened #473 "Backslash on CSV is escaping the double quote but it should not"
I have something like the following CSV file:

"col1";"col2"
"val1\\";"val2"

The expected values from the second row would be _val1\\_ and _val2_ , because the backslash should not escape the double quote (the correct way of escaping the double quote would be to "double-double quote" instead, as per RFC-4180).

Instead, Spout will read it as _val1\\";val2"_ (as the first value), and ignore the se

[2017-10-06 20:51] garimpeirodouniverso commented on #473
I just found out that the GlobalFunctionsHelper will call PHP's _fgetcsv_ without the last parameter, which is exactly the escape character (as per PHP default, it will be the backslash (\\).

I'm planning on making a PR in which the user may set the escape character if necessary (calling out Reader::setFieldEscape or something similar). To be RFC-4180 compliant, the escape character should be the

[2017-10-09 14:53] pacopa opened #474 "Spout stops reading XLSX files with empty rows."
Spout stops reading when it finds empty rows in the middle of XLSX files and setShouldPreserveEmptyRows is true.

I attach a problematic file.
[file_with_white_rows_in_the_middle.xlsx](https://github.com/box/spout/files/1368897/file_with_white_rows_in_the_middle.xlsx)

[2017-10-09 21:15] adrilo commented on #474
Hi @pacopa,

I tried reading your file with and without the `setShouldPreserveEmptyRows` setting. Here are the results:

Without:
[code]

With:
[code]

As you can see, all the rows are read and when `setShouldPreserveEmptyRows` is set to `true`, the 3 first empty lines are being returned.

Do you see another behavior? Did you expect something different? To me, this behavior is correct.

[2017-10-10 08:27] pacopa commented on #474
Hi @adrilo,

You are right. Spout is working properly.
There was an error in my code. I'm sorry to have bothered you with a false bug.

Thank you very much for your help.

[2017-10-10 08:27] #474 closed

[2017-10-10 15:45] adrilo commented on #473
Hi @garimpeirodouniverso !

You're absolutely right! `fgetcsv` and `fputcsv`'s implementation is wrong, in regards to RFC-4180.
Feel free to submit a pull request. I think that the way to do it should be to use the enclosure character as the escape character.

So changing
[code]
into
```fputcsv($this->filePointer, $dataRow, $this->fieldDelimiter, $this->fieldEnclosure, $this->fieldEnclosure);```

[2017-10-10 16:06] garimpeirodouniverso commented on #473
Hello @adrilo !

For the PR I am thinking about some solutions:

1) make the Escape Char parameterizable, just as in fgetcsv, and make the default as "\\" (for backwards compatibility matters)
2) make the Escape Char parameterizable, just as in fgetcsv, and make the default equals the Field Enclosure (for RFC-4180 compliant)
3) go full RFC compliant and make Escape Char always equals Field Enclosu

[2017-10-10 16:09] adrilo commented on #473
I like option 3 as well. I'm usually in favor of a simple API, where only important options can be accessible. Adding an API for the escape character means more maintenance for a really low usage, so I don't think that's worth it in the long run.

Since the change is not backwards compatible though, what you can do is create a PR based on `develop_v3.0`. This change will be merged as part of Spout

[2017-10-10 16:15] garimpeirodouniverso commented on #473
Great! Will do for Spout 3.0 then.

Thanks for the insights @adrilo !

[2017-10-11 19:32] garimpeirodouniverso commented on #473
@adrilo PR made to Dev 3.0. Found out that we only need to change GlobalFunctionsHelper, since the calls to fgetcsv and fputcsv are wrapped there.

Although, the escape_char parameter on fputcsv and fgetcsv is from PHP 5.5.4+ (this is the reason why one of the tests failed I guess...).

[2017-10-12 08:11] adrilo commented on #473
develop_3.0 is PHP 5.6 and above, so this should be ok.

[2017-10-13 06:51] madflow commented on #473
See my comment here: https://github.com/box/spout/pull/475#issuecomment-336043460

[2017-10-16 11:55] aocneanu commented on #129
This would be a really nice feature.

BTW Great work with this lib!

[2017-10-16 11:58] aocneanu opened #477 "Add option for autofilter"
Hello,

I know it's something small but I find adding an auto-filter option really useful, maybe other will do to.

Thanks.

[2017-10-16 12:10] adrilo commented on #477
Can you please give more details? Is that specific to a filetype? What's the expected behavior of the auto-filter?

[2017-10-16 12:13] aocneanu commented on #477
It's specific to xls/xlsx files and it's an default filter for the first column.

In most of the cases it's the first thing that anybody does after they open a xls file without a filters :)

You can check the image below.

![image](https://user-images.githubusercontent.com/16073274/31611370-79918766-b284-11e7-9621-db363ade4162.png)

[2017-10-16 17:10] adrilo commented on #477
There could be a bunch of different filters. What we'd need here would be something similar to [this](https://phpspreadsheet.readthedocs.io/en/develop/topics/autofilters/#simple-filters), right? Having a filter on the first row should cover most use cases I guess.

Also, this option is available on ODS documents so it should be added for this filetype too, if possible

[2017-10-16 17:12] aocneanu commented on #477
Exactly!

Adrian Ocneanu
0722 44 33 77

Sent from my iPhone

[2017-10-20 10:07] rseptian opened #478 "syntax error T_OBJECT_OPERATOR"
`Parse error: syntax error, unexpected T_OBJECT_OPERATOR in /var/www/html/webadmin/simple/test/test/plugins/excel/Writer/XLSX/Writer.php on line 116`

in my localhost works
but in my server not works

[code]

[2017-10-20 14:15] adrilo commented on #478
Which version of Spout are you using on your server?

[2017-10-23 18:55] k8n opened #480 "1904-based dates are parsed incorrectly"
1904-based dates are common on Mac. The offset from the 1900-based dates is 1462 days.

[What they are and why](https://support.microsoft.com/en-us/help/214330/differences-between-the-1900-and-the-1904-date-system-in-excel).

[How to tell which format is used (on PHPExcel's example)](https://github.com/ddeboer/phpexcel/blob/master/Classes/PHPExcel/Reader/Excel2007.php#L716)

[2017-10-26 07:35] rseptian commented on #478
version spout-2.7.1

[2017-10-26 07:45] adrilo commented on #478
Spout code does not have such errors (otherwise tests would not pass). So if the issue is really in the Writer.php file, I would suggest you to reinstall Spout and see how it goes.

[2017-10-26 14:00] adrilo commented on #480
Hey @k8n ! Thanks for reporting this issue. I'm looking into it and should be able to push a fix soon

[2017-10-31 13:05] kravcik opened #481 "Reader XLSX - read cell as string"
Hello, first thanks for great work!

I have cell like this. Problem is when is type of column is bad set (custom instead of general). Would be nice if user is able "to force" string reading cell.

**Cell (not general column type)**

**Without formatDates:**

`$reader = ReaderFactory::create(Type::XLSX);`
`$reader->setShouldFormatDates(TRUE);`
`"1-Oct" //output`

**With formatDates:**

`$reader = R

[2017-11-02 14:51] Karador1995 opened #482 "Generate new XLSX file"
Hello, it's the first time I'll try to create a new XLSX file. Check the documentation. And try to create a blank file without a good result. What am I doing wrong? I'm calling the function with a button, to open a new tab, but it only shows me errors of undefined variables. Could someone give me an example of how to generate a blank document? or with some written lines of whatever. I would apprec

[2017-11-02 15:31] adrilo commented on #482
`openToFile()` is used to create a file on disk (and takes a `$filePath`, which indicates where to create the file). In your example `$filePath` is not defined so it can't work. Also, I think that what you need is not `openToFile()` but `openToBrowser($fileName)` which will send the generated XLSX file to the browser (i.e. download the file) once it's done.

Try this, it should work better!

[2017-11-02 15:31] #482 closed

[2017-11-04 12:26] adrilo commented on #481
@kravcik do you have a file I could use to reproduce the error?

[2017-11-04 15:35] adrilo commented on #480
@k8n, the issue has been fixed in the v3.0 branch. This release won't be out very soon, so if you need it now, you can always checkout the v3.0 branch instead of the current stable release.

[2017-11-04 15:35] #480 closed

[2017-11-04 15:35] #478 closed

[2017-11-07 07:05] kravcik commented on #481
Ofc, row 1539. [Sešit1.xlsx](https://github.com/box/spout/files/1448968/Sesit1.xlsx)

[2017-11-08 08:23] madflow opened #492 "(develop) Always write rows"
Currently there are at least two checks if the provided row should be added to the writer. For example in the XLSX writer:

https://github.com/box/spout/blob/8aec9ea9929965b483361e89db67a62828c9f2f4/src/Spout/Writer/WriterAbstract.php#L182

and

https://github.com/box/spout/blob/8aec9ea9929965b483361e89db67a62828c9f2f4/src/Spout/Writer/XLSX/Manager/WorksheetManager.php#L124

I would vote for the `

[2017-11-08 19:04] adrilo commented on #492
Hey @madflow !
I'm fine with that proposal. Although only the first snipped should be removed. The second one is here so that we don't write any row in the XML file if there are no data (just an size/speed optimization).

[2017-11-08 19:35] madflow commented on #492
I would personally remove both. In my opinion the writer library should not decide what an empty row is. This is the current backported check:

[code]

So if I want to write an empty row - I would have to create two empty cells... even if I have just one column.

In addition: I cannot really see the performance penalty here. Maybe I am missing something ...

[2017-11-08 22:13] adrilo commented on #492
Actually, keeping this check would not prevent you from adding an empty row. The optimization I was talking about is that if you have an empty row (a row with no cell let's say), then there's no point writing anything to the XML file. The only thing you need to do is increment the row number so that the next row you'll write will be after this blank row. And this is already what's being done in th

[2017-11-08 23:16] kravcik commented on #481
I guess this will be problem of some version of Excel.
![image](https://user-images.githubusercontent.com/10499130/32579753-93537446-c4e2-11e7-9780-c5f6cfdae127.png)

Yeah file is not really good one. But its from big insurance company and there is no chance to fix it. I just try ask about posibility to "force string reading" regardless date format. I have two solutions:

1. Resave file with right

[2017-11-09 07:10] madflow commented on #492
Thanks for the clarification. The second check can stay :)

[2017-11-09 08:44] #481 closed

[2017-11-10 19:57] #492 closed

[2017-11-11 10:13] adrilo commented on #445
Fixed in #496

[2017-11-11 10:13] #445 closed

[2017-11-11 10:16] adrilo commented on #182
Fixed in #485

[2017-11-11 10:16] #182 closed

[2017-11-11 14:25] #441 closed

[2017-11-11 15:12] adrilo opened #501 "Readers should return Cell/Row objects instead of arrays"
The change has been made for writers. Similar change should be done for readers so that a `Row` object containing `Cell`s is returned at each iteration of the reader.

[2017-11-11 15:13] adrilo opened #502 "Update documentation for v3.0"

[2017-11-11 15:13] adrilo opened #503 "Update migration guide v2 => v3"

[2017-11-11 15:21] #473 closed

[2017-11-11 15:58] adrilo commented on #204
A formula is defined like this in an XLSX file:

[code]

[2017-11-11 16:10] ubergeekzone opened #504 "Define Height for Cells"
Anyway i can define my height of cells? When i open my xlsx file i have very long cells until i set them to 50 height in excel.

One of my cells contains lots of text which causes them to expand in height.

[2017-11-12 18:51] adrilo commented on #504
Unfortunately, it's not possible for now.

[2017-11-12 18:51] #504 closed

[2017-11-15 23:14] shturnev opened #505 "Add images?"
We can to use bgcolor, what about images?

[2017-11-16 10:38] adrilo commented on #505
Images, like any other external files, are a lot harder to support. Unfortunately, we can't invest time in adding support for images anytime soon.

[2017-11-16 10:38] #505 closed

[2017-11-19 10:56] adrilo opened #513 "[Reader] Add support for Cell/Row styles"
In addition to reading cell values, the styles of the cell/row should also be retrieved.
Ultimately, it should be possible to write a file, read it and rewrite it so that the 2 written files are exactly the same.

[2017-11-19 10:58] adrilo opened #514 "Add better support for errored cells"
- What should be written?
- What should be returned when reading?
- Add tests

[2017-11-19 10:59] adrilo commented on #501
Fixed with #507 #508 #510 #511 #512

[2017-11-19 10:59] #501 closed

[2017-11-20 18:52] madflow commented on #463
You assigned it to yourself - but I can take a look at it, too... I would have to know it there still should be a Jekyll compatible deployment for gh-pages with the "docs" folder as source. Your call.

[2017-11-20 21:23] adrilo commented on #463
Easiest thing would be to just move what's in the `gh-pages` branch into the `docs` folder. I think we can do that for now.
The main problem here is that I no longer have admin access to the repo so I can't freely change this setting... I guess this can be done in a 2nd step.

[2017-11-21 18:18] Fenweldryn opened #517 "Read custom cell format"
Any way of getting the custom format the cell has or to read the cell as shown in excel?
Clicking on the cell only shows the number (image 1). Cell properties show a custom format (image 2).
Sorry if this is not the place for it, I needed this 3 years ago and gave up back then. Needing it again!

![spout](https://user-images.githubusercontent.com/8657982/33089059-43ce27d6-cece-11e7-9602-220d2f61d5

[2017-11-21 21:05] adrilo commented on #517
Hi @Fenweldryn !

We are working on adding this kind of info to the Cells the reader returns. The first thing we'll tackle is the style of the cell (#513) but eventually we'll need to add the custom format you mentioned.
So it's coming but I can't tell you when.

[2017-11-22 18:17] Fenweldryn commented on #517
Thanks for the info!

[2017-11-22 18:17] #517 closed

[2017-11-29 12:13] adhenrique opened #519 "Implement Cell Alignment"
Hey @adrilo, have someone thinking about Cell Align?
If not, I wanted to know if I can help with this enhancement.

I made some changes to the Style and StyleHelper classes, and I got the result I wanted.

Can I send a PR?

[2017-11-30 10:31] adrilo commented on #519
Hi ! Sure, feel free to submit a PR. Please make sure to make it against the `develop_3.0` branch.
I'll take a look as soon as possible.

[2017-12-09 09:17] joshy0423 opened #520 "Not Working Godaddydaddy Server"
Hi,
   I working on PHP. i am using spout to Upload EXCEL sheet Data to Mysqli DB. i have 2 issues.
1. On My localhost date is working.
2. When i deploye into godaddy server spout not working.

i am attaching the sample Ecxel Sheet.
[lizSampleSheet.xlsx](https://github.com/box/spout/files/1544521/lizSampleSheet.xlsx)

[2017-12-09 12:10] adrilo commented on #520
I tried reading your file and here is what I get :
[code]
It looks good to me ! If that's not what you expect then please be more specific describing the issue.
The localhost vs server issue is not something I can really help you with. It probably has something to do with your server config, which we don't control.

[2017-12-09 12:22] joshy0423 commented on #520
when iam trying to check the date[1/22/2017] value using echo it showing empty value.
thank you for your help.

[2017-12-09 12:30] joshy0423 commented on #520
i am writing the code below like this is any thing wrong my code. please help me

<?php
 // DB Config
include('../../inc/db.inc.php');

echo "DB connection Successfull";

// Include Spout library
require_once '/spout-2.4.3/src/Spout/Autoloader/autoload.php';

use Box\Spout\Reader\ReaderFactory;
use Box\Spout\Common\Type;

// check file name is not empty
if (!empty($_FILES['file']['name'])) {

[2017-12-11 09:27] adrilo commented on #520
If you want to get the dates as strings, you need to configure that before reading your file. Otherwise Spout returns a `DateTime` object (and calling `strtotime()` on such an object won't do anything good).
[code]

In your code, I see that you also want to support XLS files. Spout does not support XLS files, only XLSX, so you should probably change that.
Now for why it does not work on your serve

[2017-12-13 14:33] ak8zs opened #521 "Column value not shown on duplicate column names"
kindly correct me if i missed this in you docs.

When using duplicate column names **writer** removing column values and replacing with next column value

ColA | ColB | ColC | ColA | ColD
-- | -- | -- | -- | --
colA value | colB value | colC value | colD value |  
colA value | colB value | colC value | colD value |  
colA value | colB value | colC value | colD value |  

Thanks

[2017-12-13 15:55] adrilo commented on #521
Hello!
Spout does not care about column names. The header is just a regular row that you formatted as bold. There are also no special logic between rows.
If you're using an associative array with the column name as the key, that may be why you're seeing this. If not, please provide some code and/or examples so we can help you.

[2017-12-14 07:07] ak8zs commented on #521
Yes i am using associative array to write rows. and editing it no **numeric** solves the problem.

but i am confused if spout does not care about column names then why there is issue while using associative array.

[2017-12-14 10:19] adrilo commented on #521
I guess the problem is with the data you provide to Spout. If you have an array like this:
[code]
then one of the "colA" will be overwritten by the other.

[2017-12-21 08:44] madflow commented on #513
Reading styles is pretty big I believe. Can we update the milestone to 3.1 ? For me - the main 3.0 story was mainly styling cells in the ```Writer``` part.

[2017-12-21 14:15] madflow opened #526 "[DEV] Entities, Writer and Reader factories"
In the ```develop_3.0``` branch the writer and reader instances can be created through

* `Box\Spout\Reader\Common\Creator\EntityFactory`
* `Box\Spout\Writer\Common\Creator\EntityFactory`

in addition there is a ```WriterFactory``` but not a ```ReaderFactory``` in the same namespaces.

I was taking a look at the docs and the first thing I did was this:

[code]

So I immediatly tried to alter the m

[2018-01-01 18:02] stefangabos commented on #283
Hello, any news on this one? This is still not working for dates like 6/3/2016. Thanks!

[2018-01-15 09:52] Ngob opened #527 "Usage of ressource"
Hello,

I am new in the usage of Spout, and I would like to know if writing this is possible:

[code]
This way I would be able to play with spout using Psr 7, using [zend-diactoros](https://github.com/zendframework/zend-diactoros). In this case, I think the lib should not close the ressource:
[code]
Maybe I am missing something?
Thanks for your work!

[2018-01-15 10:13] adrilo commented on #527
Hi @Ngob,

The `Writer::openToFile()` function should support PHP streams. So you should be able to do `$writer->openToFile('php://temp');`.
Now this does not return the resource handle so you won't be able to use it the way you described. However, for CSV files, Spout does stream data to the given resource so you may be able to work around your problem.

Another example you can look at: http://op

[2018-01-15 11:28] Ngob commented on #527
Hello @adrilo,
Thanks for your fast response.
I probably missunderstand something:
  - I did not find the way to get the content of `php://temp` without using the opened ressource. All usage I found of `php://temp` specify something like this:
[code]
 - In your example, you specify the way to create a StreamedResponse from a reading, but i cannot control the way the lib write. Maybe i missundersta

[2018-01-15 16:37] adrilo commented on #527
Actually, can you give more details about what you're trying to accomplish? I'm not sure I really understood... We can start from there and see if we can find a solution

[2018-01-16 08:38] Ngob commented on #527
Hello again,
I am generating a XLS/CSV file and I have no need in storing the file. I just need to send the generated file to the browser. I try to achieve this and to stay PSR-7 compilant (so using openToBrowser directly is not possible, because this is not PSR-7 compilant).
Using SPOUT, I can see 3 ways:
- Write and read the file (using the writer then the reader)
- Generate a temporary file and

[2018-01-16 10:14] adrilo commented on #527
Ok, so you basically want to stream the data to a resource you have access to. More or less what `openToBrowser` does but you don't have access to the resource it uses.
- Write and read seems overcomplicated and very inefficient, as all you really need is writing.
- Generate a temp file and send it to the browser: same inefficiencies as above.

Something you can try is this:
[code]

Also note that

[2018-01-16 13:26] #520 closed

[2018-01-17 01:56] inspectorman opened #528 "Performance counting rows"
Hello dear,

Firstly I would like to thank for your work.

I need your opinion about the performance on my application, I want to know if it's normal to take 131 seconds to read 130.000 rows. I'm just counting rows and showing it to user.

thanks in advance.

[2018-01-17 08:55] adrilo commented on #528
Hi !

I'm assuming you're talking about an XLSX file here. According to the numbers [here](http://opensource.box.com/spout/faq/#how-long-does-it-take-to-generate-a-file-with-x-rows), if your file is using shared strings and has a few columns, then 131 seconds can make sense.

Shared strings is what makes it very slow, as Spout needs to build a cache on-disk. The part where you have to go through a

[2018-01-17 08:55] #528 closed

[2018-01-17 10:09] Ngob commented on #527
Hello,
Thanks again for your response.

I tryed something like this:

[code]
But nothing is displayed in the file of my error's log. Something is displayed by the browser but it is probably the outputting from the lib. Basically I need the lib to let me handle the output. In my case, output should be handled by my framework. I think in Symfony you have something similar.

Thanks again for your hel

[2018-01-18 13:06] quantum13 opened #529 "Propose of the way of cell merging in Writer"
We can add list of ranges for merging cells to classes based on `WorksheetInterface` in this way
ranges = [Range(), Range()]
where Range - class with 4 ints: x, y of top left cell and x, y of bottom right cell

Then we can handle it in such way:
- XLSX - add section `<mergeCells><mergeCell ref="A1:A2"/></mergeCells>` in sheet
- ODS - modify `addRow` to check this ranges,
    - if cell is the first

[2018-01-18 20:52] adrilo commented on #527
I see. There's nothing built-in to do that. So your best option would be to use the `ob_*` functions, like you did earlier.
Or to be honest, since you won't be able to do the same thing with XLSX file, you can simply use the built-in PHP functions. No need to use Spout in this case.

[2018-01-18 20:52] #527 closed

[2018-01-18 20:53] adrilo commented on #513
You're right :)

[2018-01-26 14:14] lephleg opened #530 "Unable to catch and handle exceptions"
Here's a gist with my whole controller for the generation of a simple two-sheeted spreadsheet out of database data:

https://gist.github.com/lephleg/9f91f56dc0bd7339ceea6f08158dca7b

At L228 there's an error on the data format so Sprout throws an exception at L256.

However I'm unable to handle it properly and the request results in a corrupted file download no matter what. I'm trying this for hou

[2018-01-26 14:19] Tonix-Tuft opened #531 "Excel writing is very slow"
Hi,

I tried to use Spout in a project, but I do not why it is really slow while writing an Excel file...

So I searched online and I found that someone has created a repo (https://github.com/adrilo/spout-pdo-example) where they benchmark Spout's performances and I do not know why on my computer the Excel writing is so slow.

This is how Spout should perform when writing an Excel of 50.000 rows:
!

[2018-01-26 15:55] adrilo commented on #530
Hi @lephleg,
Using `$writer->close()` is the correct way to properly close the writer and avoid generating a corrupted file. I'm not sure why it does not work for you. Especially, if you see the logs, that means that the `close` is executed.

Maybe instead of returning `null`, just return nothing (`return;`). Your framework may interpret the 2 things differently

[2018-01-26 18:14] adrilo commented on #531
Closing. See referenced issue here: https://github.com/adrilo/spout-pdo-example/issues/2

[2018-01-26 18:14] #531 closed

[2018-01-31 13:49] mbrodala commented on #519
@adhenrique can you post your changes?

[2018-02-02 10:53] akuchkovsky opened #533 "Exclude 1-2 rows from import"
Hi!
Can i exclude 1 first row from .xls import on the settings/ReaderOptions?
Need exclude this document header:
```NAME LAST_NAME EMAIL....```

Some like this:
```$reader->setExcludeRow(1);```

![2018-02-02_17 55 26](https://user-images.githubusercontent.com/1108013/35729793-69f4f05e-0842-11e8-827a-bba4f47e234a.png)

[2018-02-02 12:35] adrilo commented on #533
When you loop through all the rows, you can retrieve the row index. You can then exclude rows this way:
[code]

[2018-02-02 12:35] #533 closed

[2018-02-02 12:43] akuchkovsky commented on #533
This is understandable, but inconvenient, it is convenient to do so set all Import  settings in one style
[code]
Ok, thank you!

[2018-02-06 09:45] hawkcraw opened #534 "Is it possible to add vba code to excel?"
1.Use vba to convert the picture address to a picture
2.Use vba to set the row height
3.others

This can be extended many functions

[2018-02-06 10:06] adrilo commented on #534
That's definitely out of scope of this library. Sorry!

[2018-02-06 10:06] #534 closed

[2018-02-06 17:17] benfrancisiwgc commented on #529
Would be very interested in this.

[2018-02-14 11:53] delboy1978uk opened #537 "Support objects with __toString() method in ODS and Excel Writers"
It works fine with the CSV one, but i think it would be nice if we could check if an object has a `__toString()` method before throwing an exception.

[code]

[2018-02-14 12:03] adrilo commented on #537
Checking a `__toString()` method is too magic... While it may be what we want in some cases, in others it can lead to unwanted behavior.
Imagine if you have an object, exposing a `__toString` function, used for debugging purpose. You probably don't want Spout to use that. I'd rather have the developer make the transformation herself before giving the data to Spout.

[2018-02-14 12:03] #537 closed

[2018-02-14 12:09] delboy1978uk commented on #537
I don't think this will harm anything. The alternative is the current behaviour of throwing an exception. So anyone passing an object in will get failure, meaning currently everyone is already transforming their data. My PR specifically checks for the function, so it's not actually being magic. It just means we can pass objects and still succeed. My last point is that the CSV writer is casting obj

[2018-02-14 20:39] adrilo commented on #537
Having such a behavior for CSV file may make sense, as there's no type involved. However XLSX and ODS files do have types (string, int, etc.). I believe that the choice to convert every object to a string should be left to whoever is calling Spout. Assuming that an object always end up as a string is not a good assumption IMO. Throwing an exception is a way to enforce this implicit contract.

Also

[2018-03-01 06:19] igenyar opened #539 "When reading numeric values, how to avoid auto-rounding?"
For example, I have one cell with value "39.525" but when reading it the value I get is "39.53". Is there a way to get all the decimals without rounding? Thanks, btw I am reading xlsx file.

[2018-03-01 16:07] delboy1978uk commented on #537
Fair point @adrilo. However, if the dev wanted/needed something other than a string, they would have to transform their object anyway, otherwise they'd just get the exception. So I don't think it's such a bad idea. A step beyond could be to check the column type is indeed a string.

[2018-03-07 14:59] adrilo commented on #537
I think this is idealistic. Some developers may not control their input thoroughly, do a first version that works well because only valid data types are passed but as the app evolves (and because of the lack of type safety in PHP), some objects may be sent as input. In this case, I'd rather have Spout fail explicitly rather than falling back to a behavior that may not be the expected one. In other

[2018-03-08 14:46] retana commented on #318
I replaced the xlsx version with an old one and the problem was solved, exactly this version:
[xlsx.zip](https://github.com/box/spout/files/1793566/xlsx.zip)

[2018-03-13 14:32] amitgaur208 opened #540 "IOException, failed to open stream: operation failed"
I keep on getting this error?, why??
I wrote exactly as in the document...

Not working with latest version
Spout: 2.7.3
PHP: 7.1.14

I also tried downgrading Spout to 2.4.4 but still not working. Also i tried  libxml_disable_entity_loader(false);

[2018-03-13 15:03] maiermic commented on #134
Where is the example? The Wiki does not exist anymore. I found a guide [[Symfony] Stream content of a large spreadsheet](http://opensource.box.com/spout/guides/symfony-stream-content-large-spreadsheet/), but that is only about reading and not about writing CSV to a PSR-7 Response object.

[2018-03-14 08:55] adrilo commented on #134
There's no such example but if you can create one, I'd be happy to add it to the guide

[2018-03-15 05:06] amitgaur208 commented on #540
I really need to solve this @adrilo

Please help me in this .

[2018-03-17 06:35] sarvap-praharanayuthan opened #541 "undefined method Box\Spout\Writer\CSV\Writer::setTempFolder()"
Tested using Composer installation as well as downloaded 2.7.3 from releases.

Code:

[code]

Error:

When executed without the line, `$writer->setTempFolder(FCPATH . "export/garage");` the CSV file is properly generated as stored. The folder `export\garage` exists with proper writable permissions.

Also the IDE warns about the method does not exists.
![settempfolder-dne](https://user-images.githu

[2018-03-17 17:02] madflow commented on #541
The CSV Writer does not need a temp directory. I would argue that it is a good thing that it is missing.

[2018-03-19 05:27] amitgaur208 commented on #540
No one is providing support on this plugin. I have to remove this now.

Thanks

[2018-03-19 08:45] #541 closed

[2018-03-19 08:47] adrilo commented on #540
Hey @amitgaur208,

There may be many reasons for an IOException to occur. If you could copy/paste the exact error message in here, that'd be helpful. Also, are you trying to read or write a file?

[2018-03-19 14:03] amitgaur208 commented on #540
@adrilo This is same error as updated earlier

Could not open D:\xampp\tmp\php216F.tmp for reading! (Could not open D:\xampp\tmp\php216F.tmp for reading.) Box\Spout\Common\Exception\IOException

Please help me in this with latest version as mentioned above.
Spout: 2.7.3
PHP: 7.1.14

[2018-03-19 14:15] adrilo commented on #540
Well this looks like a permission issue. Spout does not seem to have access to this file: `D:\xampp\tmp\php216F.tmp`.
If you're uploading the file first and try to use the value returned by PHP as the path, it's wrong. You need to use `move_uploaded_file()` to actually copy the uploaded file to a local folder. Only then, you'll be able to give this path to Spout.

[2018-03-19 14:28] amitgaur208 commented on #540
So this is the limitation with spout, let me try with exact path.

[2018-03-20 04:38] amitgaur208 commented on #540
So this is the **limitation** with spout, let me try with exact path.

[2018-03-25 22:13] adrilo commented on #521
[Auto cleanup] Closing the issue

[2018-03-25 22:13] #521 closed

[2018-03-27 17:20] milan-zelenka opened #544 "Date/Time formatting"
Hi,
I came across this feature and found out that calling the method with the boolean argument gives **opposite result**. Meaning:
$reader->setShouldFormatDates(false); // Formatting is enabled
$reader->setShouldFormatDates(true); // Formatting is disabled

This misinterpretation is also documented [here](http://opensource.box.com/spout/docs/#datetime-formatting).

[2018-03-28 17:01] adrilo commented on #544
Hi !

This test seems to indicate that the documented behavior is correct: https://github.com/box/spout/blob/6d44cd26cc49c0fd59ffc01a4c187223c4b183cc/tests/Spout/Reader/XLSX/ReaderTest.php#L300

Can you double check and provide an example if you still find it's incorrect ?

[2018-03-28 18:16] rps-repo opened #545 "CSV Writer add quotes for all values"
I have requirement that all values be double quoted in a csv file that I am generating.  Is there anything I can set to make this happen?
A line would look something like:
"01","VIS","222","S","","SABRIX - US"

[2018-03-29 08:31] adrilo commented on #545
Hi ! Unfortunately, it's not possible to force quotes on values that don't need it. Spout is using the built-in PHP functions and therefore follows its implementation.
If you want to achieve that, you'll have to fork Spout or use another library. Sorry...

[2018-03-29 08:31] #545 closed

[2018-03-29 15:24] oytuntez opened #546 "v3 - Roadmap"
Hi there,

We needed `Sheet::isVisible()` method in `develop_3.0` branch, so we switched to it and so far it runs fine. Yet this is an exception and we feel insecure using this develop branch.

Do you have a roadmap for v3 release?

Thank you!

[2018-03-30 14:17] #461 closed

[2018-03-30 14:24] adrilo commented on #546
Hi !

I'm trying to tag remaining issues with the correct milestone. You can see them here: https://github.com/box/spout/milestone/1

What's not in there is a review of the new APIs, to make sure the interface is still discoverable and easy to use, as well as an internal refactor of the Writers part (the Readers part is done).

If what you need is a release date, I can't unfortunately give you one

[2018-03-30 14:24] #546 closed

[2018-03-30 14:50] oytuntez commented on #546
Sounds good to me, @adrilo! I just wanted to get a feel of what you had in mind. Thank you <3

[2018-04-03 02:36] Ensanho opened #547 "Any plan to release spout 3.0?"
I am looking forward for the cell management in spout 3.0.

[2018-04-03 14:55] madflow commented on #547
Hi!

A similar question has been answered a couple of days ago:

https://github.com/box/spout/issues/546

I believe you can close this one...

[2018-04-03 21:01] #547 closed

[2018-04-04 17:14] rps-repo commented on #544
Looking at the source:

`return ($this->shouldFormatDates) ? $nodeValue : new \DateTime($nodeValue);`

So if it is set to true then formatting should be disabled.  I agree with OP that this method is confusing.  Most people would think that setting false to a method named setShouldFormatDates would disable the formatting.

[2018-04-04 19:47] adrilo commented on #544
I think there's a misunderstanding about what "formatting" means. To me, "formatting" transforms an entity into a readable string. So in this case, if formatting is turned on, Spout will returned a readable date (04/04/2018 for instance), as opposed to a raw/non formatted `DateTime` object.

BTW that's exactly what the [DateTime::format](http://php.net/manual/en/datetime.format.php) does :)

[2018-04-04 20:03] rps-repo commented on #544
That is not how it works, at least not for me.  If nothing is set a DateTime object is returned by default.
The default being:
`$reader->setShouldFormatDates(false);`

If I want the cell value left as is (no DateTime object) I would have to do:
`$reader->setShouldFormatDates(true);`

I think most people will be confused by this.

[2018-04-05 06:12] Talgat777 commented on #129
+1  Please integrate this feature

[2018-04-05 08:02] madflow commented on #544
@adrilo To be honest - I did not have the use case yet.  I do not have problems with documented breaking changes though.  From my experience in the spreadsheet world I always found  dates to be a "hard" subject. Depending on the users OS and locale they would yield different  WYSIWYG results. So I did a quick test:

With a single Cell I got the same result from ```ODS``` and ```XLSX```:

[code]

W

[2018-04-06 09:01] jankulma opened #548 "Setting border on cell or column"
In #129 there is comment by @jordanade about setting fixed width to all columns in a sheet.

Would there be a similar way to set border for columns or particular cells? Where to look for the syntax and available attributes that can be used in there (I mean the `<cols><col ... ></col></cols>` syntax)?

[2018-04-06 12:26] adrilo commented on #548
@jankulma you can find the entire specs here: https://www.ecma-international.org/publications/standards/Ecma-376.htm
It's pretty brutal to read (it contains the whole open xml specs, not only what's used in the spreadsheets).

However, if you look at this: http://opensource.box.com/spout/docs/#styling-rows, there's a section about borders. You can already set borders on rows, not sure if that's in

[2018-04-08 20:53] adrilo commented on #544
The issue you're describing is probably a discrepancy in how Excel and Libre Office handle language/region settings. Is the value returned by Spout what you see when opened in the different software?

[2018-04-11 03:38] AguinaldoAranda opened #549 "Load specific row"
Hi everyone, everything ok?

I have a spreadsheet with 15,000 lines, it takes a while to read all the lines. But I need to get only the first line. Can I limit the loading to make the process faster?

I know that in the loop I can do this using "ifs", but if it is this way I will need to load every file and it takes, what I wanted to avoid is to load a file with 15 thousand lines to get only the d

[2018-04-11 14:03] adrilo commented on #549
Well, unfortunately you can't really do otherwise than using the `if ($rowIndex === 1) { ... }`. It may take some time as Spout parses a bunch of files to prepare the data, whether it's the styles file (for things like dates - which I agree could be optional if date formatting is not turned on) or the strings file (where actual string data is stored).
Once this is done, Spout reads another file, r

[2018-04-11 14:03] #549 closed

[2018-04-11 14:09] adrilo opened #550 "Investigate speed optimizations"
When reading an XLSX file, we can probably optimize a few things:
- don't read the styles XML file if we don't need styles (i.e. if date formatting is off)
- parse/split the shared strings XML files on demand, as opposed to do it all at once

[2018-04-13 07:42] doonot commented on #129
+1

[2018-04-16 07:27] madflow commented on #544
I do not own an Excel License - So this is not that easy to test for me. I attached the files I used. I created and "ODS" with LibreOffice and saved it as ".xlsx" afterwards.

[date.xlsx](https://github.com/box/spout/files/1914203/date.xlsx)
[date.ods.zip](https://github.com/box/spout/files/1914205/date.ods.zip)

Maybe this should be separate Issue - I did not want to hijack your discussion with m

[2018-04-18 07:14] adrilo commented on #544
In your files, the values stored are different.
In ODS:
[code]

In XLSX:
[code]

So having different values is the normal behavior :)

Now, the question is: is that better to return the formatted value as is, or should we return the date as a `DateTime` object. I'm now more inclined in the former option, as proposed by @rps-repo.

There are things I have against it:
- it may cause issues during a

[2018-04-18 07:52] madflow commented on #544
True - but it is different from what I see in Libreoffice. The display in the speadsheet software is the same - but not in the parsed Spout output. My point here: It is not really WYSIWYG but WYSIWYS(ometimes)G

I am O.K. with this - since I only have to change on option to change it :D

[2018-04-19 19:41] anderblackhawk commented on #529
It is a very important functionality! Hopefully it can be implemented very soon, or how can we do that?

[2018-04-25 02:45] anylzer opened #551 "why addRows is not faster than addRow"
I do some test about spout's addRows with addRow,20w cell for writer,
addRows was not faster than addRow, why?

README is miss some examples ...

otherwise  how about PhpSpreadShee? who is the best choice?

[2018-04-25 08:00] adrilo commented on #551
`addRows` is just a wrapper around `addRow`. Calling `addRow` 20 times or `addRows` once with 20 rows data is exactly the same. There are no perf gains calling one VS the other.

The README has a link to the actual documentation. You probably missed it. http://opensource.box.com/spout/

Regarding PhpSpreadSheet, it is a great library, lots of features. But Spout is way better in terms of speed and

[2018-04-25 08:00] #551 closed

[2018-05-09 17:39] Harshanika opened #552 "htmlspecialchars():charset `AL32UTF8' not supported with Spout"
I have implemented the Spout library in my project. It has built on the ZF2 framework and PHP version is
5.6 +. The Spout has used to write on the ".csv" and ".xlsx" files there.  CSV is working successfully and Xlsx gives an error.

In there the database has implemented on Oracle enviroment . So 'AL32UTF8' has set as the default charset when connecting to the database. After getting the data from

[2018-05-09 18:16] adrilo commented on #552
Hi !

Can you try modifying this line: https://github.com/box/spout/blob/master/src/Spout/Common/Escaper/XLSX.php#L47
Replace it with: `$escapedString = htmlspecialchars($escapedString, ENT_NOQUOTES, 'UTF-8');`

Please let me know if that helps. If it does, I'll make the change.

[2018-05-09 18:31] Harshanika commented on #552
Hi,

Many thanks for your reply.
Actually, I have done that change in my local library and then it worked successfully.
I have attached the screenshot below.

Is it legal?
That means we get the library and do changes on that library?
![spoutcharset2](https://user-images.githubusercontent.com/15604113/39832615-4a9ec498-53e5-11e8-9839-fde2a525d476.png)

[2018-05-09 20:10] adrilo commented on #552
No that's not how you should do it but that's a working workaround until the fix gets merged in the library and a new version gets released.

I'm gonna make the change in Spout asap

[2018-05-09 20:56] #552 closed

[2018-05-10 06:43] Harshanika commented on #552
Hi,
Many thanks for your support and time.

[2018-05-22 16:32] tuha305 commented on #373
Here is my result:
[code]

I supposed these lines of code cause the memory leak:
[code]

When you assign null to `$data`, it simply destroys the variable reference to the data.
The data still exists in memory and PHP sees the memory as in use despite no longer having a pointer to it.

[2018-05-22 21:29] adrilo commented on #373
The use of `gc_collect_cycles` should free the memory when it finds "zombie" references. So in our case, the value in "After reader destroy" log should be lower that what's before.

[2018-05-22 23:45] tuha305 commented on #373
I defined myself `dosomething($title, $data)` function and replaced theses lines of code:
[code]
with
[code]
then I ran the script again and didn't see any memory leaks.

[2018-05-22 23:58] tuha305 commented on #373
I tested with a generator and got a small number of memory leak.

[code]

it will not happen if I replace this assign `$data[] = $line` with a function call `dosomething($line)`.

It appears that `gc_collect_cycles` doesn't free the memory.

[2018-05-23 23:05] andrewvt opened #554 "XLSX cell containing zip code coming through as empty string"
I have zip codes that all start with 0 and they are coming through as empty strings. I tracked down where that was getting set to an empty string in the code:

[code]

In the function `getVNodeValue($node)` I output `$node` and `$vNode` and got:

[code]

Any thoughts on why this occurs and if there is anything that can be done about it?

[2018-05-24 06:49] adrilo commented on #554
Hi @andrewvt, can you please share such an XLSX file so that we can easily debug? Thanks!

[2018-05-24 13:25] andrewvt commented on #554
[ZipCodeTest.xlsx](https://github.com/box/spout/files/2035483/ZipCodeTest.xlsx)

I noticed in preparing the test that the data in that cell on the export I'm being given is in this format `="05401"`.  My guess is it has to do with how the source provider decided to store that data since it starts with 0.  I don't have control over the format this data comes to me in so hoping there is a way this c

[2018-05-25 09:32] jumong commented on #129
+100500

[2018-05-28 11:12] sxss commented on #129
+1

[2018-05-29 20:51] adrilo commented on #373
What's being displayed by your script? I'm especially interested in the `echo gc_collect_cycles()`.
Also, can you try disabling gc manually before starting your script, just in case? You can add `gc_disable();` at the beginning.

[2018-05-29 21:09] adrilo commented on #554
The file you sent me is correctly parsed. Can you reproduce the issue with it?

[2018-05-30 16:58] carolinecdsantos commented on #168
Thanks @shadz3rg ! It's worked for me! :+1:

[2018-06-03 17:30] #548 closed

[2018-06-03 17:31] #540 closed

[2018-06-03 17:48] adrilo commented on #526
Finally coming back to this issue.

Good catch, I will fix that (I guess the Reader section needs a bit of work to match the "Writer model")

Regarding the use of `EntityFactory` and `Reader/WriterFactory`, I think it over complicates things to have to deal with multiple factories to create the different kind of objects that could be needed.
Such a code would look like:
[code]
I don't believe this

[2018-06-03 18:53] adrilo commented on #526
I just realized the issue with the EntityFactory naming. Having 2 classes with exactly the same name forces devs to do what you did (i.e. using an alias) if they need both the reader and the writer.
What do you think about keeping only one interface (for the reasons mentioned in my previous comment) but renaming the factories `ReaderEntityFactory` and `WriterEntityFactory`? Simply using `ReaderFac

[2018-06-03 20:31] #514 closed

[2018-06-04 06:47] #503 closed

[2018-06-07 10:48] eugenio11 opened #560 "inputEOLDelimiter doesn't work"
Hello,
is there any limitation for a custom inputEOLDelimiter ?

I've tried using a dot:
$delimiter = '.';
$reader->setEndOfLineCharacter($delimiter);

but it doesn't work, it seems it still expects a \n

Thanks.

[2018-06-07 21:46] adrilo commented on #560
Hi ! Indeed, looking at the code it seems like this is broken. We changed the way CSV files are read to go back to the built-in `fgetcsv`, which does not support customizing EOL character.
However, we kept the API but the override is ignored...

In the next major release of Spout (3.0), we did remove this API. So unfortunately, no fix will be made for this. You'll have to stick with `\n` for your

[2018-06-07 21:46] #560 closed

[2018-06-08 08:36] eugenio11 commented on #560
ok, thanks for the info.

[2018-06-08 09:49] eugenio11 opened #561 "Reader doesn't understand which is the last column (ODS file)"
Hello,
for some files (until now, it happened only with ODS files), it seems the reader wrongly see all the 1024 columns as part of the sheet, even if just three columns are used. Basically the reader, from the fourth column on, returns an empty string for every cell.

I am not sure if it's a spout issue and most of the time it doesn't happen, I cannot reproduce the issue starting from a new ODS f

[2018-06-08 12:08] madflow commented on #561
@eugenio11 Yes - please provide the file in an anonymized form if possible

[2018-06-09 09:14] eugenio11 commented on #561
[tet.ods.zip](https://github.com/box/spout/files/2086797/tet.ods.zip)

Hello, here is the file

[2018-06-10 16:56] adrilo commented on #561
Hi @eugenio11 !

Here is what the content file of the ODS looks like:
[code]

The last `table-cell` line is what causes the 1000+ columns to be added. The fix should be to ignore the line if it's the last one in the row, and if the value is empty.

[2018-06-11 04:53] anggaand123 opened #562 "Unknown Character"
i just testing this library and i found output like this
how can i fix it ? any something miss ?

![alt text](https://image.ibb.co/kk7WCo/35114634_2122247167789983_9123568571832598528_n.png)

[2018-06-11 07:37] eugenio11 commented on #561
Hello and thanks for the reply.
I am wondering how a file like the one I attached can be produced, I don't remember the steps I did to make it and I am not able to reproduce it.
About your fix, what if all the 1000+ columns are actually used?

[2018-06-11 07:47] adrilo commented on #561
Some softwares do add this repeated columns cell for some reasons. Some versions of Excel for instance add this. I'm not sure why...
I made the change but ended up breaking some tests, which reminded me that your point is good. Sometimes, it is the desired behavior to have empty cells at the end of the row.

I'm gonna look at the official specs to see what we should do in this case. Eventually, we

[2018-06-11 07:52] adrilo commented on #562
Hi ! Can you please show us the code you use to read your file?
Also, if you could provide a copy (anonymized if needed) of your file so we can try to reproduce the issue, that'd be very helpful.

[2018-06-11 07:55] madflow commented on #561
You can reproduce such a file by applying a format to the entire row. Even though only the first cell contains data - LibreOffice at least - will consider the rest of the cells as not empty.

[2018-06-11 07:58] eugenio11 commented on #561
Hello,
thanks!
Yes, the solution you mentioned is the same I wanted to use on my side; I think the best way to implement it could be leaving the correct one as the default behavior and add a parameter that allows to set the "magic number".

[2018-06-11 08:11] madflow commented on #561
I would favor introducing the concept of a spreadsheet header or a reader range to Spout.

* When the first line should be treated as the header - then the complete results will contain the same count of cells - empty or not - defined by the header.

* Alternatively one could set a reader range (Options::setReaderRange(int $start, int $end)). This would be basically the same like the header concep

[2018-06-11 09:04] anggaand123 commented on #562
ops, sorry my bad i set the wrong extension .
Thanks !

[2018-06-11 09:04] #562 closed

[2018-06-11 18:48] madflow opened #563 "[develop_3.0] Remove src/Spout/Reader/Common/ReaderOptions.php"
I am behind all the refactoring changes in 3.0. I was tinkering with "reader options" and I started to implement them in ```src/Spout/Reader/Common/ReaderOptions.php```

This class seems to be unused.

Should  ```src/Spout/Reader/Common/ReaderOptions.php``` be removed or are there any further plans ?

[2018-06-11 21:01] adrilo commented on #561
So, I looked at the specs but there's nothing regarding what the behavior should be. This means that a table-cell with 1023 repeated columns actually represents 1024 cells!
The way some libraries handle this is by reading the entire spreadsheet and keeping a count of the max num columns for each row. Unfortunately, we can't do that...

So @eugenio11, I'm afraid we can't fix this behavior for now.

[2018-06-11 21:05] adrilo commented on #563
Good catch! It's now using `OptionsManager`s. Feel free to delete the file :)

[2018-06-12 06:14] #563 closed

[2018-06-12 09:41] wooziie opened #567 "Set datatype to all cells in specific column and set encoding for xlsx file."
Hello, I have a challenge to set the third column to datatype number instead of the current text.
But I can´t find any information on how to target columns like you can do with rows and through that possibly set datatypes for specific columns.

I am also interested in finding out if there is a possibility to change encoding on my xlsx files. Right now I´ve tried $reader->setEncoding('UTF-8'); but

[2018-06-12 13:06] adrilo commented on #567
Hi Michael !

For now, it's impossible to set the cell type to something else than "general". Although, make sure to pass an actual number (123) not a stringified number ("123"), that may help.

Regarding the encoding, XLSX files are always encoded using UTF-8, you can't change that. When you say you see `charset=binary` I'm assuming you're talking about what's being sent by the browser? In this c

[2018-06-12 13:06] #567 closed

[2018-06-13 14:51] meow257 commented on #129
+1

[2018-06-15 17:32] beausif commented on #278
If this is implemented in 3.0 would it also be possible to get the max columns for a given sheet?

[2018-06-15 17:50] beausif opened #569 "Implement EntityFactory Reader By File Type"
Implement the creation of a Reader by passing in the file to be read.

Can be implemented similar to other libraries, create a reader based on the file extension. Attempt to load, if load fails iterate through remaining supported Types. This would help remove the boilerplate of needing to determine the file type for each file.

It looks to be a low level of effort to implement, any issues with me

[2018-06-19 08:51] eugenio11 commented on #561
@adrilo thanks for the info; I guess we can implement the "magic number" feature on our side without reading the entire spreadsheet, just the first (or the second, if the first defines labels) row.

[2018-06-20 03:12] archfrog opened #570 "Suggestion: Simple global number format :-)"
I just begun using your package today but immediately ran into the already known issue that Spout doesn't support controlling the number format of the written cells (the current default is `Standard`, I believe).

It seems you have great ideas for how to add cell-based styling and so on, but I think many of us really only need to be able to change the global, hard-coded default of `Standard` into

[2018-06-21 21:15] adrilo commented on #570
Hi @archfrog,
Thanks for the feedback! It's always good to hear from users :)

I think what you're proposing is only part of the solution. By implementing the code to go from Standard to Text, we're almost done with the work of supporting any type. This means that only supporting `Text` is not ideal, given the amount of work involved. And vice-versa, given the amount of work needed, this is not an

[2018-06-21 21:15] #570 closed

[2018-06-21 21:17] adrilo commented on #569
Hi @beausif ! That's a great idea. I also wanted to do it but never actually took the time...
Feel free to submit a PR. Please make sure to do it against the `develop_3.0` branch, as new features go in there now (and don't forget about the doc ;))

[2018-06-22 05:46] nicerway opened #571 "可以导出图片吗?"

[2018-06-22 07:57] adrilo commented on #571
No (不)

[2018-06-22 07:57] #571 closed

[2018-06-25 10:33] wooziie opened #572 "Number field gets a single quote added when converting from csv -> xlsx"
I have a function that takes in a csv file which looks just as it should and then it creates a .xlsx file and loops in the csv data in that file.

When I print out the data in the log the data looks just fine, and when I open it in Excel the number field looks alright but it is treated as a textfield, so here is where my suspicion started.

I then opened up the same file in LibreOffice and could s

[2018-06-25 17:54] adrilo commented on #572
Hi @wooziie, can you please provide a CSV file so that I can reproduce your issue?

[2018-06-25 18:51] wooziie commented on #572
Hello @adrilo thank you for the fast reply,
Here is an example of a csv file that follows this behaviour described above

 when converted to xlsx.
[5b3138b729e1f-intakter.csv.zip](https://github.com/box/spout/files/2134332/5b3138b729e1f-intakter.csv.zip)

[2018-06-28 06:48] wooziie commented on #572
Hello @adrilo thanks for your help.
Yes I got to that conclusion as well after some debugging, what I had to do to set the datatype was to loop through each cell in the row in function ->  'foreach ($sheet->getRowIterator() as $row)'
 and check if it was a number or a string.

So I solved it by doing the datatype check there, this works fine for my case because the files generated are not that big

[2018-07-02 12:09] davidNieves opened #575 "Problem reading .xlsx file in russian plataform"
Hi all!

I have 2 stores in same server.

1.- Opencart plataform (english version).
2.- Opencart plataform (russian version).

Exported one excel with data from shop 1 and try reading it in shop 2, very weird errors appear when I try "print_r" the content readed -> https://puu.sh/APBg5/286fec20ff.png -> https://puu.sh/APBgq/5e0ec8f30d.png

Maybe some know what is happening? is an library error? th

[2018-07-02 14:24] davidNieves commented on #575
Problem found! this happen when you try read xlsx file with a readerFactory Type::CSV!!

Thanks!

[2018-07-02 18:32] #575 closed

[2018-07-03 15:29] timhunt opened #576 "Incorrect escaping used for Excel and ODS spreadsheet names"
In Excel, "test" is a valid spreadsheet name, and this needs to be saved in workbook.xml as

    <sheets><sheet name="&quot;test&quot;" sheetId="1" r:id="rId1"/></sheets>

However, this library gets that wrong. That is, this comment: https://github.com/box/spout/blob/master/src/Spout/Common/Escaper/XLSX.php#L45 and the following code is incorrect.

Ditto for ODS.

I am about to make a pull request

[2018-07-03 15:36] timhunt commented on #576
This was found by Joost Elshoff in the context of Moodle (https://moodle.org/), which uses this library. See https://tracker.moodle.org/browse/MDL-62833 for the entry in our issue tracker.

[2018-07-03 16:08] timhunt commented on #576
It seems that the ENT_NOQUOTES came from #411. I am not sure if it is safe to change back (I just fixed the unit tests to make them pass).

I hope that whoever reveiws this understands all the implications of the proposed change better than me. Thank you.

[2018-07-04 07:41] adrilo commented on #576
Hi @timhunt! Thanks for submitting the issue and the PR.
I took another look at the changes that were made previously (#411) and the original problem (#409). Although I'd believe your changes would cause the original bug to re-appear, I was unable to reproduce the issue in my tests. So that's a go for me :)

[2018-07-04 09:36] timhunt commented on #576
I had not found #409 before, but I have read it now. I don't think how values are escaped on output should affect how they are read (which is what 409 is about, if I understand). So, I still think my fix is correct, but you know more about Spout than me.

I have ameded the comments in the commit. I hope that is OK. If not, let me know and I will try agin.

Thanks, Tim.

[2018-07-05 16:32] devops-at-alinea opened #578 "setShouldFormatDates(false) Bug?"
Following on from #481, I still think there is a need for returning raw cell data.

The attached xlsx has a cell C2 with a custom format which is is incorrectly recognised as a date.
The cell has a value `1` formatted to look like `1 ST`, spout returns this as:
`  {
            "date": "1900-01-01 00:00:00",
            "timezone_type": 3,
            "timezone": "UTC"
 },`

Presumably becuase it

[2018-07-11 15:26] rps-repo opened #579 "XLSX Reader Removes Empty Rows"
When reading an excel spreadsheet the reader removes empty rows.  Is there a way to prevent that?

[2018-07-12 19:16] madflow commented on #579
I believe

https://github.com/box/spout/blob/799ad93d236d90f70d67b85b503a9f488eee15d8/src/Spout/Reader/AbstractReader.php#L91

should cover this.

Please close this issue - if this is what you are looking for. If not - we will go from there ;)

[2018-07-12 19:19] rps-repo commented on #579
Thanks!

[2018-07-12 19:19] #579 closed

[2018-07-13 10:36] dmitrymenshikov commented on #529
+1
Is such functionality planned?

[2018-07-18 08:43] BreiteSeite commented on #150
While i agree that this is a way of accomplishing this, from a code perspective this can lead easily to error-prone and unnecessary code.
Imagine you have 10 methods, that each adds their own sheet.

[code]

Now how do you ensure, that the method, that gets called first uses the `getCurrentSheet()` instead of the `addNewSheetAndMakeItCurrent()` function? I mean it's possible, but you need to creat

[2018-08-06 20:26] melihyenel commented on #578
I have the exact same issue when reading an excel file. Did you come up with a solution  @devops-at-alinea?

I also agree with you, this nice library should have a "return raw cell data" option.

[2018-08-08 09:50] danielrusu opened #580 "Add cell data formating as text, number format and date / datetime format insteal of general on xlsx writter"
Cast is not working. Data is still interpreted as general on excel export.

[2018-08-09 11:27] anehkumar opened #581 "How we can show dropdown option for particular cell"
Can you please tell me how we can show drop-down or select option for a specific cell?

[2018-08-09 14:01] madflow commented on #581
Hi! This is not possible with spout.

[2018-08-09 21:03] #581 closed

[2018-08-09 21:08] adrilo commented on #580
When generating a spreadsheet, cells are always created with "general" type. Spout does not support setting a custom type.
When reading a spreadsheet, you can configure Spout to return a string or a `DateTime` object.

[2018-08-09 21:08] #580 closed

[2018-08-09 21:44] adrilo commented on #578
@melihyenel You should not need such an option if the library returns you the right data :)

@devops-at-alinea What do you expect Spout to return? If the cell has a timestamp value set to `1`, it's normal that it returns `{ "date": "1900-01-01 00:00:00", "timezone_type": 3, "timezone": "UTC" }`.

When setting `$reader->setShouldFormatDates(true);`, you expect Spout to return "1 ST" right?
I found

[2018-08-10 08:11] devops-at-alinea commented on #578
@adrilo I omitted to mention that the **1 ST** is actually a measure of quantity, ST stands for _Stück_ which I believe means _per piece_.

So the cell doesn't have a _timestamp_ value of 1, it simply has a value of 1 and a custom format **#,##0 "ST"** so I would expect Spout to return **1 ST**

[2018-08-22 18:37] mnico commented on #129
+1

[2018-08-22 22:26] andrewtweber commented on #129
PHPSpreadsheet has the automatic width capability.

I might take a stab at this someday, but if not then whoever does might find their code useful:

https://github.com/PHPOffice/PhpSpreadsheet/blob/bebfb1e41a770de8033dc37affac72c3d7ceda6d/src/PhpSpreadsheet/Worksheet/Worksheet.php#L712

https://github.com/PHPOffice/PhpSpreadsheet/blob/bebfb1e41a770de8033dc37affac72c3d7ceda6d/src/PhpSpreadsheet/Sha

[2018-08-28 16:30] bs-thomas opened #582 "Streaming XLSX download with 100k records for browser requires downloader a long wait before download begins."
I would like to stream the XLSX for the browser to download a very large table (well not so large, but big enough).  (Around 100k records).

I have the following code:

[code]

I noticed that after the user clicks on download, the user will have to wait completely for the preparation of the data until Chrome pops up the XLSX download (assuming that is when exit() is called).

Is it possible to imm

[2018-08-28 16:40] bs-thomas commented on #582
Oooo, and I noticed that this issue does not happen for CSV files.  When I export CSVs, it's almost instant, lightning speed!!

[2018-08-28 20:56] adrilo commented on #582
@bs-thomas What you experienced is the normal behavior:
- CSV files can be streamed because their structure is simple: each new row is a new line in the file, there's only one file involved.
- XLSX (and ODS) files on the other hand can't be streamed: these are a bunch of XML files, zipped together. The problem is that some files' content depends on other files' content: one file will contain the a

[2018-08-28 20:56] #582 closed

[2018-08-30 08:57] simon25608 commented on #129
+1

[2018-09-03 09:19] adrilo commented on #544
@cdmathukiya can you please create another issue? Yours seems unrelated to this specific issue's topic. Also, can you please share a file I could reproduce your issue with?

[2018-09-03 20:15] Kryptonit3-zz opened #585 "Forever to parse 150,000 row file"
Is there anyway I can optimize reading this file?

Btw this is a Laravel application. `data_fill()` is a Laravel specific function. Its just my php array building logic.

https://github.com/laravel/framework/blob/3414dcfcbe27cf0f4deee0670f022983e8016392/src/Illuminate/Support/helpers.php#L427

I took the 150,000 row, 16 column file and chopped it down to a much smaller sample of 4261 rows and it t

[2018-09-03 20:47] Kryptonit3 commented on #585
I also made a custom function bypassing my array building logic. Same slow times.

[code]

Smaller: 4.55 seconds
Larger (original): 184.76 seconds

[2018-09-04 01:46] Kryptonit3 commented on #585
I would love to figure out why this library takes so long, but while I was perusing solutions I found another library - https://github.com/akeneo-labs/spreadsheet-parser - I was able to parse my larger file in 60-80 seconds. Any idea what this library is doing differently? This is exponentially faster.

[2018-09-04 11:10] Romain-Moreaux opened #586 "add a column to an existing sheet"
Is there a way to add a column to an existing sheet?
If so, what is the name of the method?

Thanks for any help I'll receive.

[2018-09-04 14:54] madflow commented on #586
Hello! Take a look here: http://opensource.box.com/spout/guides/edit-existing-spreadsheet/

Please close this issue if this resolves your question.

[2018-09-04 15:32] jupitern commented on #474
Hi,
I am trying to read a file that has a title in line 2 and line 1 and 3 are empty. Table titles are at line 4 and table data at line 5. When I read the file with spout table data is at index 3

How can I use the "setShouldPreserveEmptyRows" property? Is this the right code?

$reader = \Box\Spout\Reader\ReaderFactory::create(\Box\Spout\Common\Type::XLSX);
$reader->open($filepath.$filename);
$rea

[2018-09-04 18:34] adrilo commented on #474
Try calling `$reader->setShouldPreserveEmptyRows(true);` before `$reader->open`. Let me know if that makes any difference. Otherwise, it should work.

[2018-09-04 18:35] adrilo commented on #586
Indeed, there are no direct way of doing that. You need to read the entire spreadsheet, add the missing column for each row and write back that row. The process is explained in the link provided by @madflow

[2018-09-04 18:35] #586 closed

[2018-09-04 18:40] adrilo commented on #585
Hi @Kryptonit3,

This is indeed a strange behavior. It should definitely not take that long to read the large file...
The 349380 calls are normal. It just corresponds to the number of XML nodes the reader went through. These nodes are not only "value nodes".

I'll try to investigate why it takes so long

[2018-09-04 22:37] Kryptonit3 commented on #585
Thanks. I was looking at your code and theirs and it looks like they use `XMLReader::open` and I think you use `ZipArchive`. Could that be the speed difference?

[2018-09-05 09:04] jupitern commented on #474
yap. that works. is thar information in the docs? I tried search everywhere and didn't find it.
Thanks.

[2018-09-05 10:46] adrilo commented on #474
The documentation hasn't been updated so it's not in there. Also Spout used to complain when setting options after opening the reader but looks like it does not anymore...
We'll try to fix that.

[2018-09-10 09:05] Romain-Moreaux commented on #586
Hello thank for your concern.
I will detail my need a bit so that you understand better.

1. take an input xlxs file.
2. read the data from a column to make api queries
3. add the api response data to a new column.
4. send this modified file output.

Do you think that possible with spout?

[2018-09-10 14:02] Romain-Moreaux opened #587 "method setShouldFormatDates do not format properly"
Hi,

I'm using this `$reader->setShouldFormatDates(true);` but the debugger show me that `[1]=> object(DateTime)#38 (3) { ["date"]=> string(26) "2017-02-04 19:23:00.000000" ["timezone_type"]=> int(3) ["timezone"]=> string(13) "Europe/Berlin" }`

the date object isn't formatted properly and the script output that issue `Fatal error: Uncaught Box\Spout\Common\Exception\InvalidArgumentException: Tryi

[2018-09-11 09:58] adrilo commented on #587
Hi @Romain-Moreaux,
Can you please share the code you're using? And if possible a file where I can reproduce the issue.
Thanks!

[2018-09-11 10:02] adrilo commented on #586
Spout works better with rows, as data is stored row by row and not column by column.
If you need to read an entire column, you basically need to read the entire file and store your column values in memory. Then you can do your API queries. Finally you'll need to go through the file one more time, using the technique described in the doc (link from @madflow's comment).
The process is definitely not

[2018-09-12 13:35] Romain-Moreaux opened #588 "Maximum execution time of 30 seconds exceeded"
if you are working with large files, you may exceed the execution limit of the script especially if you use loops and you should see this error php `Fatal error: Maximum execution time of 30 seconds exceeded in ...`

You could extend the maximum execution time using `ini_set('max_execution_time', 300);` at the top of your file.

This is extend to 5 minutes.

[2018-09-12 14:09] adrilo commented on #587
Hi,
It's not explicit because the check was somehow removed during a previous refactoring but you need to call `setShouldFormatDate(true)` **before** calling the `$reader->open`.
You can get rid of your workaround and just move your `set` one line above :)

[2018-09-12 14:09] #587 closed

[2018-09-12 14:40] adrilo commented on #588
@Romain-Moreaux are you suggesting we add that somewhere in Spout? I'm not really clear what the goal of this issue is.

[2018-09-12 15:17] Romain-Moreaux commented on #588
C'etait juste une aide pour les gens qui auront le meme probleme.

Je ne sais pas si tu peux faire quelque chose pour cela étant donné que c'est une option de configuration php ?

[2018-09-12 15:20] Romain-Moreaux commented on #587
Ho, i will try it asap.

my bad if it works :)

[2018-09-12 16:11] gcarlosr opened #589 "Design Icon/Logo"
Hi, my name is Carlos, I'm a graphic designer and I like to make contributions to open source applications without any commitment. I have seen that you have a quite interesting application but it does not have an icon or logo that represents or identifies it, let me know if you would like to receive a contribution from me in this area. Thanks in advance and apologies for opening this issue.

[2018-09-12 18:01] adrilo commented on #589
Hi @gcarlosr, we do have a logo already: https://github.com/box/spout/blob/master/logo.png

[2018-09-12 18:01] #589 closed

[2018-09-12 18:06] adrilo commented on #588
[Back to English for non-French speakers]
IMO it's not Spout's role to set the max execution time of your PHP script. This setting affect the whole execution of the script (not just Spout's execution) and should be handled by developers directly since they are the only one who know what value to set.
I did not include this in the doc as this is a rather well known setting and a Google search with

[2018-09-12 18:06] #588 closed

[2018-09-17 12:35] pop-mihai opened #590 "Feature Request (style cells, default cell style & freeze pane)"
It would be nice if this library would eventually offer:
- Ability to style individual Cells within a row.
- Ability to define a default style
- Ability to freeze panes.

[2018-09-17 12:58] adrilo commented on #590
Hi @pop-mihai, thanks for the suggestions.

This is already implemented in the v3 (not released yet)

You can already do this by calling `setDefaultRowStyle` on your writer (before opening it)

This is already on our todo list :)

[2018-09-17 12:58] #590 closed

[2018-09-17 15:03] pop-mihai commented on #373
Same here, while testing a 100K XLSX File with 161 ROWS.

- PHP 7.2 Environment.
- gc_disable(); called at the beginning of the script.
- every 1000 Rows calling $row = null; gc_collect_cycles();
- gc_collect_cycles() returns 0.

First 1000 rows @ 6 mb
Second 1000 rows @ 10 mb
Third 1000 rows @ 18 mb
Next 1000 rows @ 34 mb
Next 4 chunks @ 34 mb
Next chunk @ 66 mb
Around the 43rd chunk @ 258 mb
Fro

[2018-09-24 07:56] ulasarican opened #591 "External links"
Hi,
is there a hack for adding external links for cell contents (hyperlinks, hrefs, <a> tags) ?

**For example;**
[code]
Thank you..

[2018-09-24 11:51] pop-mihai commented on #373
Any update on the above case gentlemen ?

[2018-09-24 21:14] adrilo commented on #591
As far as I know, you can't pass data in such a form so it's understood as an hyperlink. You can take a look at this PR though, it may help: https://github.com/box/spout/pull/352

[2018-09-24 21:14] #591 closed

[2018-09-27 11:14] pop-mihai commented on #590
Thank you for the feedback @adrilo. Two more questions please:

1. https://github.com/box/spout/issues/373 < is there anything in the v3 milestone addressing this ?
We did some more investigation and it seams more related to libxml, we are running PHP 7.2.7 with libxml 2.9.1. Growing to over 500MB of RAM for the sample file we have shared is too much.

2. Any future plans to implement a XLS Reader

[2018-09-27 11:19] adrilo commented on #590
1. There's nothing addressing that at the moment. But if you have clues, feel free to get involved :)
2. There will never be a XLS Reader. The format is very old and is a nightmare to support.

[2018-10-13 09:59] #526 closed

[2018-10-23 17:05] Micsou commented on #129
+1

[2018-10-24 08:59] pop-mihai commented on #373
With the little time I had available lately to allocate to this matter, after running **composer require box/spout** on a clean project and repeating my tests: I am unable to reproduce the memory leak no matter what i throw at it. I'm pretty sure nothing has changed on box/spout, but perhaps its dependencies got upgraded !?

[2018-10-25 08:45] muchtarramadhan opened #596 "PHP 5.6.XX"
When i running Spout in My xampp with php version 5.6.xx i have some error wheren i wanto to write to excelfile

ERR_INVALID_RESPONSE

and when i run in xampp with PHP 7.xx, the program run well.
this my code. thank u. best regard....

[code]

[2018-10-26 18:15] adrilo commented on #596
Hi @muchtarramadhan,
Unfortunately, this has nothing to do with Spout. The error comes from the setup of your webserver and I can't provide you any help here.

[2018-10-26 18:15] #596 closed

[2018-10-27 08:35] Chintan7027 opened #597 "Could not open {tmp/file_path} for reading!"
Hello,
I am getting following error when uploading .csv or xls.
Box \ Spout \ Common \ Exception \ IOException
Could not open /tmp/phpBLER4y for reading! (Could not open /tmp/phpBLER4y for reading.)

Or in windows
Box \ Spout \ Common \ Exception \ IOException
Could not open C:\wamp64\tmp\phpF037.tmp for reading! (Could not open C:\wamp64\tmp\phpF037.tmp for reading.)

However .xlsx file working f

[2018-10-27 08:50] Chintan7027 commented on #597
Even in full path specification:
Could not open C:\wamp64\www\exam\storage\StudentSample.xls for reading!

PHP Version: 7.1.9

[2018-10-27 12:59] muchtarramadhan commented on #596
Hi @adrilo now i can export, i change my xampp to AMPPS thank you sir

[2018-10-27 16:54] adrilo commented on #597
Hi @Chintan7027,
If the file you're trying to read was uploaded through a form, you may need to use [move_uploaded_file](http://php.net/manual/en/function.move-uploaded-file.php) first. Regarding your comment on full path, you're trying to read a XLS file, not XLSX! Spout does not support XLS files that's why it complains.
Besides this, there's not much I can do to help. This is really a permissio

[2018-10-27 16:54] #597 closed

[2018-11-02 10:29] adrilo commented on #373
@pop-mihai Nothing changed on the master branch indeed. `composer.lock` is committed in the repo, so dependencies should be locked. That's weird...

[2018-11-02 15:14] pop-mihai commented on #373
@adrilo Is it possible at all that it is related to this: https://pecl.php.net/package-changelog.php?package=zip&release=1.15.4 ?

[2018-11-02 16:29] adrilo commented on #373
Aaaaaah that's probably it!! Thanks for digging into the changelog :)
I can't repro the issue either so that's a good news !

[2018-11-02 16:29] #373 closed

[2018-11-07 12:49] davidNieves opened #598 "For when to read in batches??"
Hi team!

Im working with huge files, will be great if we can set a "range" to read xlsx/csv/ods rows and split our processes in batches, I think that in current version is not possible do it? Do you intend to add this improvement in the future? I can pay for it...

Thanks!!

[2018-11-07 14:43] adrilo commented on #598
Hi @davidNieves !

Setting a range is interesting but the perf gains won't be significant. This is because we can't really jump to a given row by skipping lines in the XML files. In other words, if you want to start reading from row 10, you still have to go through the first 9 rows to position your file pointer at the right place.

You could potentially use some dichotomy process to move the point

[2018-11-07 14:56] #598 closed

[2018-11-07 14:56] davidNieves commented on #598
Hi @adrilo ! thanks you so much by the information! I have 2 questions:

Why are you talking about XML?? Im working with format XLSX,ODS AND CSV... maybe you mean XLSX instead of XML??
2.- Then, like I readed in #568 I can do it, but I have to read again all file in each loop, correct?? example:
I WANT THAT PROCESS GO 50 IN EACH LOOP, AND THE FILE HAS 120 ROWS:

$reader->open($csv);
$reader->setSt

[2018-11-07 15:20] adrilo commented on #598
My bad, I should have added that XLSX and ODS are 2 file formats based on XML. A XLSX or ODS file is basically a bunch of XML files describing the spreadsheet, zipped together. Spout abstracts away the processing of these XML files.

CSV files are different as they are regular files. In your case, can you explain what you're trying to do exactly? If you're trying to read batches of 20 rows for ins

[2018-11-07 15:30] davidNieves commented on #598
Hi @adrilo ! thanks you so much by your response!

In my case, client are importing XLSX file that contain 50.000 products, the process is "overpassing" his server limits and server crash, then I was thinking about possibility of do this process by batches. Like Im calling via ajax to start import process, I can do multiple ajax calls to process file from range elements in excel.... I hope was cle

[2018-11-07 21:06] adrilo commented on #598
Hmmm processing in batch may help. You can already try it though:
[code]
`$startingRow` and `$endingRow` are params sent by your client.

The problem is that with big files, a lot of time is spent reading the cells values and we have to read ALL the values even though we only process part of the file. Hence my assumption that it may not work.

[2018-11-08 08:01] davidNieves commented on #598
@adrilo Exactly! this is the main problem.... I thought in do next:

1. Read all data.
2. Save all array with json_encode in a temp .json file.
3. Use "file_get_contents" + json decode in each loop to get indexes....

Maybe by this way will be faster?? what do you think about it?

THANKS YOU SO MUCH!

[2018-11-08 13:32] adrilo commented on #598
If you can pre-process the XLSX file, then you should convert the XLSX file to CSV and eventually split it into smaller chunks. With CSV you can stream data to the client so as soon as you start reading the file, you can send data back to the browser and start displaying it.

[2018-11-08 15:21] davidNieves commented on #598
Hi @adrilo ! thanks you so much! then you suggest transform XLSX to CSV because in CSV file is allowed read rows by range??

[2018-11-08 23:13] adrilo commented on #598
CSV because it's faster to process and can easily be split into multiple files, each containing N rows.
Even the PR I showed you about range support won't help for performance (its purpose is different).

[2018-11-09 10:40] davidNieves commented on #598
All clear now @adrilo only final question, maybe you have a complete example that shows how to split into multiple files?? THANKS YOU SO MUCH BY YOUR TIME!

[2018-11-09 15:19] adrilo commented on #598
I don't have such an example. You can use a Linux tool to do this: `split -l 50 bigfile.csv smallfile-`

[2018-11-11 22:16] adrilo commented on #598
There are some functions to execute commands directly: `exec`, `system`, `passthru`. For instance: `exec('split -l 50 bigfile.csv smallfile-');`. It's not usually recommended to let PHP run these types of command as it opens a security vulnerability. But then, it's up to you and your environment.

Otherwise you can read the XLSX, write a CSV file with the contents read, creating a new CSV file eve

[2018-11-11 23:54] davidNieves commented on #598
@adrilo  Perfect! Understand, thanks you so much! =) I hope that our conversation help in future to users with this same question!

Have a nice week!

[2018-11-13 12:35] ismail0234 opened #599 "Excel Unique Cell Problem"
excel how do I increase the unique cells?
Excel 2003 Limit: 4.000
Excel 2007 Limit: 64000

[2018-11-14 15:22] adrilo commented on #599
Can you please clarify your question?

[2018-11-16 18:22] ismail0234 commented on #599
@adrilo

Unique cell formats/cell styles =>  64,000

https://support.office.com/en-us/article/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3

how do I increase ?

[2018-11-17 19:03] markosko commented on #599
You cant increase limit set by microsoft

[2018-11-17 19:19] ismail0234 commented on #599
@markosko  Is there any way?

[2018-11-17 20:10] markosko commented on #599
No you can't exceed that limit thats why its limit

[2018-11-18 17:53] #599 closed

[2018-11-21 15:46] stefangabos opened #600 "Unable to tell hidden worksheets from visible ones"
Hidden worksheets are returned in the `SheetIterator` the same as the visible ones. Is there a way I can tell which ones are visible and which aren't?

[2018-11-21 20:54] adrilo commented on #600
In the v3.0 (still under development), we added a `isVisible` method on the `Sheet` object. See #496 for more details. Unfortunately, it's not available in the latest stable release.

[2018-11-21 20:54] #600 closed

[2018-11-22 22:43] borys-p commented on #118
@adrilo but wouldn't the manual sizing be a "quick win" that could solve a lot of our issues? Auto-sizing is a nice-to-have feature, but I would be able to create "good enough" files with manual sizing as well.

Manual sizing and cell merging are the things I'm missing the most in Spout (and consider going back to the PHPExcel, even if it means using 10 times more time and memory).

[2018-11-23 23:27] borys-p opened #601 "Floats are stored locale-aware"
Hi,

I just got bitten by the problem described in #168, but mine is quite different. I was trying to store floats in the generated spreadsheet and kept getting errors. I started digging and discovered that floats in XML are stored in a locale-aware way. They are written as-is, but PHP can sometimes format them with a different decimal separator, other than a dot (eg. in Poland we are using a comm

[2018-11-26 08:20] LucileDT opened #602 "Is there a way to style only parts of cells in .xlsx files?"
Hi!

I'm using Spout in a project, I was wondering if it's possible to style only a part of a cell, as it's possible in `.xlsx` files using Microsoft Excel UI client:
![image](https://user-images.githubusercontent.com/23707217/49001195-41525480-f15c-11e8-81ea-a363ca7f7979.png)

I saw you don't have built-in methods to do it, but maybe you have some snippet to share as a hack that I can use?

[2018-11-29 16:40] Qrokqt opened #603 "Add support for resources or getting the file pointer"
Ideally I'd like to be able to something like this:
[code]

but even just being able to do something like this:
[code]

would solve my problems.

[2018-11-30 11:01] adrilo commented on #603
You can already do this: `$writer->openToFile('php://memory');`. However you can't pass a pointer nor retrieve the created pointer. We have no plans to add this to Spout, as it is considered internal behavior.

[2018-11-30 11:01] #603 closed

[2018-12-06 23:06] Qrokqt commented on #603
The reason I'd like to get the file pointer is so that I could operate in memory and write from memory to an email attachment all without hitting the file system.

[2018-12-07 10:23] adrilo commented on #603
Have you tried doing this: `$writer->openToFile('php://memory');` ?

[2018-12-07 14:06] Qrokqt commented on #603
Sure, but then how do you get a reference to the stream where it was written?

[2018-12-07 19:16] adrilo commented on #603
Ah indeed... then I'm sorry but you will have to use a temp file and write on disk

[2018-12-14 18:42] timhunt commented on #576
Any chance this could get reviewed again? Thanks.

[2018-12-26 07:39] sanketin2 commented on #201
Currently it's reading all the data in row so looping that for just getting total number of rows would be very slow. If any function that just give us row exists and we increment the counter to getting total rows would be great. Example: "while ($reader->hasNextRow()) { $totalRows++; }"

I am looking this kind of solution for xls/xlsx.

[2018-12-26 07:40] sanketin2 commented on #170
Currently it's reading all the data in row so looping that for just getting total number of rows would be very slow. If any function that just give us row exists and we increment the counter to getting total rows would be great. Example: "while ($reader->hasNextRow()) { $totalRows++; }"

I am looking this kind of solution for xls/xlsx.

[2018-12-28 10:42] garsax opened #608 "buffer suggestion"
Hi,

I would suggest a quick and easy buffer implementation to reduce the calls to fwrite and improve efficiency. Sorry I had no time to test if it really speeds up the generation of files.

Here's how I modified your code to did it:

On `worksheet.php`:

- Define a new constant, for instance: `define('MAX_BUFFER_LEN', 1048576);`
- Declare a new class variable: `protected $buffer = '';`
- Initizal

[2019-01-02 08:27] kalaiaccendo opened #609 "How do i chunk records?"
Hi,

Currently i have a single excel file which contains 13 sheets.
Each approximately contains 9000 records.
is there any way for me to chunk the records ?
Thanks

[2019-01-03 16:37] dextherry opened #610 "Cannot perform I/O operation outside of the base folder: C:\Windows\Temp ...IOException(code: 0): Cannot perform I/O operation outside of the base folder: C:\\Windows\\Temp at ....vendor.../FileSystemHelper.php:130)"
Hi, I am trying to generate and download an excel, but i got that error, what can I do in this situation?
I read this [355](https://github.com/box/spout/issues/355), however updating php is not a solution for me,

what folder is created? maybe I can add rights for write that folder,

this is my code

`return (new FastExcel($list))->headerStyle($style)->download('file.xlsx');`

help please
Regards

[2019-01-03 16:59] madflow opened #611 "Release 3.0"
We are using the develop_3.0 branch for 6 months now in production. I have not seen a regression yet.

So... I would vote for a new release. I would appreciate more people using the new features and hence profit from bug reports, PRs and feature requests.

There is only one issue tagged with the 3.0 milestone https://github.com/box/spout/issues/544

This issue does not seem to be that "hard". So a

[2019-01-03 19:00] elibyy commented on #611
Hey @madflow,
It's awesome to hear, could you provide with a change list/release notes?

Thanks
Eli

[2019-01-03 21:16] adrilo commented on #610
As stated in #355, Spout uses `get_temp_dir()` to get the path of the temp folder. Looks like on your server, it is configured to point at `C:\Windows\Temp`. You can try modifying the permissions of this folder.
Apart from that, there's not much we can do to help. Hopefully that will work for you.

[2019-01-03 21:16] #610 closed

[2019-01-04 11:04] madflow commented on #611
The code lives in: https://github.com/box/spout/tree/develop_3.0

The documentation is updated there and there is a "UPGRADE-3.0.md" document.

The release notes should follow - when there is an actual release I guess.

[2019-01-04 21:12] zenclive commented on #368
Bump on this one. Im considering moving from PhpSpreadsheet because, frankly, it's slow af.

For its faults though, PhpSpreadsheet has functions for working with column headings included 'getHighestColumn' and 'getCellByColumnAndRow' which make things easier.

I like the look of Spout but just feel like we could make it better and encourage adoption from frustrated PhpSpreadsheet users ;)

[2019-01-06 10:34] adrilo commented on #368
@zenclive PhpSpreadsheet works very differently compared to Spout. It loads the whole spreadsheet in memory and then all the processing is done in memory. The main drawback is that it's slow and subject to out of memory errors when the file is big. But the advantage is that you have complete knowledge about the spreadsheet being processed: you have direct access to all cells, know how many columns

[2019-01-06 10:36] adrilo opened #614 "Complete Ugrading to 3.0 guide"
Before being able to release 3.0, we need to document what changed and how to upgrade to the new version.

[2019-01-07 16:51] madflow commented on #614
What is missing in the existing upgrade guide? https://github.com/box/spout/blob/develop_3.0/UPGRADE-3.0.md

[2019-01-11 08:14] symio commented on #170
Hello,

Have you got any good news for us on that idea ?

[2019-01-13 19:15] adrilo commented on #614
Just had another look. This is very good stuff :)
It's just missing the part on the namespace move for `Style` (`Border`/`Color`...).

[2019-01-13 19:16] adrilo opened #616 "Update perf tests for v3.0"

[2019-01-13 19:30] adrilo commented on #601
Well, Excel is locale aware as well. So it's hard to just force the locale in Spout. If your PHP locale is set to PL, it's likely that your computer locale is also set to PL and therefore Excel will use these settings to format data.
Do you know what other libs are doing? I'm not sure Spout should be responsible for that type of conversion.

[2019-01-13 20:04] adrilo commented on #608
That's a great suggestion indeed. We already do that for CSVs :)

[2019-01-13 20:20] borys-p commented on #601
It seems that Excel is using the locale only to format numbers that are displayed. Internally they are stored with a dot (or at least that is being stored in the saved file).

In this case, Spout won't be doing a conversion, rather accessing the true value of a float (which is being converted by PHP on output).

[Other libraries](https://github.com/PHPOffice/PhpSpreadsheet/issues/226) have chosen

[2019-01-14 08:48] adrilo commented on #601
Thanks for the additional info. I think there's probably something we can do here. Not sure what the best solution is yet, but I'll think about it.

[2019-01-17 09:23] agolovenkin commented on #585
Looks like #617

[2019-01-17 18:10] elior99 opened #618 "Read Cell As String"
Hey,
I have cell formatted as date but i'm interesting to read it as simple text, i haven't found a solution for this.
How can i do it?

Thanks

[2019-01-18 08:39] andreas-gruenwald commented on #278
I need the exactly same feature for XLSX (also for the same reason; creating reports and showing the progress in the CLI).

[2019-01-18 09:37] andreas-gruenwald commented on #278
I just tried the XLSX approach and it worked like a charm:
This is what I essentially added in the XLSX Row Iterator class:

[code]
Can we add that to the code base?

[2019-01-23 09:49] mmihalev commented on #278
Having such option is a must.

[2019-01-24 14:55] kerog opened #619 "Please Add setEncoding to CSV Writter"
Hi, Could you add support to choose encoding of CSV writter.
I must export csv in WINDOWS-1250 encoding.

[2019-01-25 12:33] adrilo commented on #278
The implementation itself is not difficult. What's more difficult is telling people that getting the row count can be slow. It creates confusion as people usually thinks that's it's a simple value to read. With big spreadsheets, going through all "rows" may take a while...
@andreas-gruenwald Have you tried running your code on a spreadsheet with 1 million rows? I'm curious about the perf

[2019-01-25 12:36] andreas-gruenwald commented on #278
@adrilo I tested with a spreadsheet consisting of 7 sheets, consisting of 100.000s of lines (some of them have between 200.000 and 500.000 lines).

Without my add-on the initial setup of the iterator took more than 50 minutes, then i stopped the script. With the add-on it takes just a couple of seconds and is super fast.

[2019-01-26 14:31] adrilo commented on #618
You can use this option:
[code]

[2019-01-26 14:31] #618 closed

[2019-01-26 15:16] #576 closed

[2019-01-26 15:59] adrilo commented on #608
Turns out `fwrite` already integrates some kind of buffering (8K buffer). I tried tweaking this value but did not see any improvements. Closing then.

[2019-01-27 17:50] elior99 commented on #618
Hey,
I'm already using this option but it's convert the numbers to some date, and i want to get the actual numbers..as plain text..

[2019-01-28 11:37] elior99 opened #621 "Read Cell As String"
Hey,
I'm already using this option but it's convert the numbers to some date, and i want to get the actual numbers..as plain text..

_Originally posted by @elior99 in https://github.com/box/spout/issues/618#issuecomment-457938905_

[2019-01-30 12:20] madflow commented on #616
Would it make sense to incorporate these tests into the development branch? An additional branch seems superfluous - but maybe there is a reason I am not aware of to keep then in separate branch.

[2019-01-30 12:50] adrilo commented on #616
The reason was to avoid committing the large spreadsheets (few MBs) I use in the tests. Although thinking about it now, this choice was done at the very beginning (and the files contained millions of rows not 300k). In the meantime, I created a `.gitattributes` that discards test resource files when importing Spout. So adding these files would only affect users cloning the project.
Anyway, I think

[2019-01-30 21:19] barryvdh opened #624 "[v3] Write performance XLSX"
When I do some quick manual test, the v3 branch seems a lot slower? Or am I missing something obvious? In a quick test (50.000 rows with 20 columns with 20 char strings), v2 is about 20 secs while v3 is 30 seconds. That is a 50% increase..

v2:
[code]

v3:
[code]

Probably because you have to create `Row` objects for each row (which create `Cell` objects for each key)? So in this testcase 50.000 a

[2019-01-31 13:04] barryvdh commented on #624
On a smaller set (10.000 rows with 20 cols) it takes about twice as long, so a 100% increase.

[2019-02-02 08:47] adrilo commented on #618
I see. Then I'm sorry this is not supported by Spout and we have no plans to add support for it.

[2019-02-10 03:17] JTsToolbox commented on #621
I'm pretty sure it is because it is returning a Datetime Object. At least that's what I encountered. Maybe use var_dump($someresultingdate) to see if you're in the same boat.

[2019-02-12 12:17] Efiware opened #626 "Add methods to SheetInterface"
Hi

As far I can tell, the only thing the files Sheet.php in XLSX/CVS/ODS have in common is the SheetInterface. I'm building a tool that should take a Sheet as input for further processing, no matter which file it is originating from. I'm defining input as of type SheetInterface. It would help a lot, if the following methods are defined in SheetInterface:

    public function getName()
    public

[2019-02-12 14:01] MalyshevDmitry commented on #129
Any news?

[2019-02-13 20:09] adrilo commented on #626
Indeed, that's a good idea. We can also add `isVisible()`.

[2019-02-18 07:25] ryzulla commented on #470
i got same problem. how to fix it?

[2019-02-18 07:49] adrilo commented on #470
Spout was built to not use much memory so you're probably doing something wrong in your code, like storing the value of the rows in an array.

[2019-02-20 03:54] ryzulla opened #627 "Fatal error: Uncaught exception 'Box\Spout\Common\Exception\InvalidArgumentException' with message 'Trying to add a value that exceeds the maximum number"
Hi all, i just trying to export data with spout but when i exported file corrupt, and when i trace whats the error he saya Fatal error: Uncaught exception 'Box\Spout\Common\Exception\InvalidArgumentException' with message 'Trying to add a value that exceeds the maximum number

whats the problem?

[2019-02-20 05:34] pjp-comp opened #628 "write (load) existing file? last rowAddress on the specific sheet"
Hey, I am implementing batch processing to read/write xlsx file..please anyone guide me

1) Is it possible to write (load) existing file? (without creating another file
2) get last rowAddress on the specific sheet.

[code]

[2019-02-20 08:19] madflow commented on #627
The error message is pretty self descriptive I would assume:

[code]

Here is some documentation about Excel Limits:

    /**
     * Maximum number of characters a cell can contain
     * @see https://support.office.com/en-us/article/Excel-specifications-and-limits-16c69c74-3d6a-4aaf-ba35-e6eb276e8eaa [Excel 2007]
     * @see https://support.office.com/en-us/article/Excel-specifications-and-limits

[2019-02-20 20:53] #627 closed

[2019-02-21 13:24] adrilo commented on #628
@pjp-comp
It's not possible to edit a spreadsheet without creating a new one. Adding rows/Editing a spreadsheet is explained here: http://opensource.box.com/spout/guides/
To get the last row index, you need to go through the entire spreadsheet. You can't get the info directly.

[2019-02-21 13:25] #628 closed

[2019-02-26 09:55] VincentChalnot commented on #626
:+1:

[2019-02-27 17:48] atrauzzi opened #629 "API Compatibility between CSV and XLSX"
I'm just noticing now when trying to use an XLSX that while the API signatures are the same thanks to the common interfaces between the implementations, there are differences in behaviour when making calls.

I'm noticing strange errors at a level that I should think spout would abstract away from me:

So, while the call signatures are the same, it seems like there are still assumptions baked into

[2019-02-27 21:10] adrilo commented on #629
Hi @atrauzzi, can you be more specific? I'm not sure I get your exact point here.

[2019-02-28 14:54] atrauzzi commented on #629
Yeah, so I was using code outside of a `foreach` to get the first row of my CSV via the `SheetIterator` implementation.

When I passed an XLSX to the same code that leverages the same abstraction, I received errors when attempting to use methods like `next` and `current`.

The code for the CSV worked fine, but simply changing the underlying implementation forced me to change my code to *only* use

[2019-02-28 17:43] jevgenijsb commented on #213
This dying format still alive in 2019!

[2019-03-01 14:51] NoOorZ24 commented on #610
Can't you just add function setTempDir() so I don't need to give permissions to "C:\Windows\Temp"?
Or if something like that exists is it in documentation?

[2019-03-01 20:56] adrilo commented on #610
http://opensource.box.com/spout/docs/#using-custom-temporary-folder

[2019-03-01 21:00] adrilo commented on #629
Ah that's indeed possible. Using `next` and `current` is not the recommended way to use Spout and there's no guarantee that it works as expected (and as you noticed, it does not). Eventually, this inconsistency should be fixed, but there's no plan fixing it for now...

[2019-03-01 21:00] #629 closed

[2019-03-01 21:23] atrauzzi commented on #629
Doesn't that mean the implementation is broken?

[2019-03-18 23:58] rondog opened #631 "How do I keep line breaks"
I am importing a XLSX file and the import works, but the line breaks are not being preserved. It seems this is possible looking through the issue queue, but its not very clear to me and I couldn't find anything about it in the docs.